.persion-inco{ float:left; width:62px; height:62px; text-align:left;margin-left:5px;}
.persion-info{ float:left; width:40%; margin-left:5px;overflow:hidden;}
.persion-see{ float:right; width:60px; text-align:right; margin-right:10px;}
.per-info ul li{ float:left; height:14px; line-height:14px; padding-left:14px; margin-top:5px; margin-bottom:5px; }
.persion-inco img{ margin-top:8px;}
.ui-input-search input{ width:160px;}

