.dis-panel-a{ overflow:hidden; background:#FFF; border-radius:5px; color:#58789a;}
.dis-panel-b{ overflow:hidden; background:#FFF; border-radius:5px; color:#58789a; margin-top:15px;}
.dis-panel-a-t{ width:60%; height:10px; background:#dfebf6; margin:0 auto; border-bottom-left-radius:5px; border-bottom-right-radius:5px;}
dis-panel-a-c{overflow:hidden;}
.volume{ padding:8px 5px; text-align:center;overflow:hidden;}
.volume-left{ float:left; width:50%;color:#58789a; padding-top:5%;}
.volume-right{ float:right;width:50%; text-align:right;}
.volume-left-num{ font-size:26px; font-weight:bold; }
.volume-left-dei{ font-size:14px; color:#a7b8ca;}
.volume-line{ height:1px; border-bottom:#a7b8ca dashed 1px; margin:0 5px;}
.volume-month-title{ height:42px; line-height:42px; background:#dfebf6; margin-top:15px; border-top-right-radius:5px; border-top-left-radius:3px; padding-left:10px;color:#58789a;}
.volume-month-line{ height:1px; background:#aabbcd;}
.volume-month-list{ background:#FFF; border-bottom-right-radius:5px; padding-bottom:10px;}
.more-d-color{ color:#a7b8ca;}
.volume-month-li{ background:#f0f0f0; padding-left:5px; overflow:hidden;}
.volume-month-li-c{background:#FFF;overflow:hidden; }
.v-m-li-line{ height:1px;border-bottom:#a7b8ca dashed 1px; margin-left:5px; margin-right:5px;}
.v-m-li-top{overflow:hidden; margin-top:10px; font-size:16px; padding:5px; margin-bottom:10px;}
.m-m-li-top-left{ float:left; line-height:20px;}
.m-m-li-top-left2{ float:left; line-height:60px;}
.m-m-li-top-right{ float:right; line-height:18px;}
.package-panel{overflow:hidden; padding:5px;}
.pac-panel-top{ margin-bottom:10px;overflow:hidden;}
.pac-panel-top-l{ float:left; border-radius:3px; background:#0bd5bb; padding:5px; text-align:center; color:#FFF}
.pac-panel-top-r{ float:left; margin-left:5px; line-height:30px; height:30px;}
.pac-panel-content{ margin-top:10px;}
.av{ display:block;}
.dm{ display:none;}
.etse{ display:none;}
.dm-bottom{ background:#dfebf6; overflow:hidden;}
.dis-panel-a-bottom{ text-align:right; height:42px; line-height:42px; padding-right:5px;}
.dm-bottom-l{ float:left; height:60px; line-height:60px; margin-left:10px;color:#58789a;}
.dm-bottom-r{ float:right;}