<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
 

  <connectionStrings>

    <add name="DianzhuConnectionString"
         connectionString="data source=119.29.39.211;uid=root;pwd=root;database=dianzhu_publish_test"
         providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
  <appSettings>
    <!--本地全局配置-->
    <!--cdn 网址，不末尾不要加斜杠（/）-->
    <add key="ImServer" value="119.29.39.211"/>
    <!--发送系统消息的账号,不要和服务器上的相同,否则会迫使其下线-->
    <add key="NoticeSenderId" value="eb2ae597-5adb-4242-b22e-a4f901275654"/>
    <add key="NoticeSenderPwd" value="UsbQQVAIork="/>

    <!--openfire restapi  获取在线会话 url地址-->
    <add key="OpenfireRestApiSessionListUrl" value="http://119.29.39.211:9090/plugins/restapi/v1/sessions/"/>
    <!--openfire restapi  用户验证key-->
    <add key="OpenfireRestApiAuthKey" value="an4P0ja6v3rykV4H"/>


  </appSettings>
  <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
   

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
