<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UpdateSchema" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="ydb_finance" connectionString="localhost_ydb_finance___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfuWggjOZ75TF70WVCFil1IYzn01D43Jz73hfzwEZJh22FJSbKvZ9yLD" />
    <add name="ydb_instantmessage" connectionString="localhost_ydb_instantmessage___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfulNlVHor4vC9UOP0yckCIPU6kB9itzTcGbS3hkRw1MZxC1qKIrmpWTnI1JVJ/BFoA=" />
    <add name="ydb_businessresource" connectionString="localhost_ydb_businessresource___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfvrcsIWrfr/QFo+AN9ZYgpilw0RpEy/FlAYoRSoDjx0/QILrwP9IJdmz/RD1emLUbRw9do6Ry3cBg==" />
    <add name="ydb_membership" connectionString="localhost_ydb_membership___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfv2kWyS/tJyoG/lFU5zTTX9eFLCQv9tUfh1Wo9eZIuad7EZnZh47R8pkIUTfDvMIRE=" />
    <add name="ydb_common" connectionString="localhost_ydb_common___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVftrJoAY4PURQw3zDqsqiRHRm0t4ZEcNTGcQtaiiK5qVk5yNSVSfwRaA" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>