<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings configSource="config\appSettings.config"></appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="jsyk_YdBan@126.com">
        <network host="smtp.126.com" port="25" defaultCredentials="false" userName="jsyk_YdBan" password="jizwwslsngwbqbpe" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>