<?xml version="1.0"?>
 
  <appSettings>
    <!--cdn 网址，不末尾不要加斜杠（/）-->
    <add key="ImServer" value="localhost"/>
    <!--发送系统消息的账号,不要和服务器上的相同,否则会迫使其下线-->
    <add key="NoticeSenderId" value="eb2ae597-5adb-4242-b22e-a4f901275654"/>
    <add key="NoticeSenderPwd" value="UsbQQVAIork="/>
 
  </appSettings>
 
