
@{
    ViewBag.headTitle = "财务管理";
    ViewBag.subTitle = "账号绑定";
    ViewBag.breadcrumbOl = new List<string>() { "财务管理", "账号绑定" };
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">账号绑定</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="alipayAcc" class="col-sm-5 control-label">支付宝账号</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="alipayAcc" name="account">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="owner" class="col-sm-5 control-label">账号所有人姓名</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="owner" name="accountName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="IDNumber" class="col-sm-5 control-label">身份证号码</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="IDNumber" name="accountCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-5 control-label">手机号码</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="phone" name="accountPhone">
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label for="check" class="col-sm-5 control-label">验证码</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="check" name="verificationCode">
                            </div>
                        </div>*@
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        @*<button type="submit" class="btn btn-default">取消</button>*@
                        @Html.ActionLink("取消", "finance_total_list", "AgentFinance", new { id = "" }, new { @class = "btn btn-default" })
                        <button type="submit" class="btn btn-info pull-right" onclick="return checkAccount();">绑定</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
@Html.Action("footer", "Agent", new { id = "" })


<script>
    function checkAccount()
    {
        var alipayAcc = $("#alipayAcc").val();
        if (alipayAcc == "")
        {
            alert("要绑定的提现账号不能为空！");
            return false;
        }
        var owner = $("#owner").val();
        if (owner == "") {
            alert("要绑定的提现账号真实姓名不能为空！");
            return false;
        }
        var IDNumber = $("#IDNumber").val(); 
        if (IDNumber == "") {
            alert("要绑定的用户身份证不能为空！");
            return false;
        }
        var phone = $("#phone").val(); 
        if (phone == "") {
            alert("要绑定的用户手机号码不能为空！");
            return false;
        }
        if (document.cookie.split(";")[2].split("=")[1] != IDNumber)
        {
            alert("输入的身份证和绑定的身份证不一致！");
            return false;
        }
        return true;
    }
</script>