
@{
    ViewBag.headTitle = "财务管理";
    ViewBag.subTitle = "提现金额";
    ViewBag.breadcrumbOl = new List<string>() { "财务管理", "提现金额" };
}

 <!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">提现</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-5 text-right">账号余额</label>
                            <div class="col-md-6">
                                @ViewData["myAccountFinance"]
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 text-right">支付账号</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" readonly value="@ViewData["myAliAccount"]" name="account" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputMoney" class="col-sm-5 control-label">提现金额</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputMoney" name="amount">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        @*<button type="submit" class="btn btn-default">取消</button>*@
                        @Html.ActionLink("取消", "finance_total_list", "AgentFinance", new { id = "" }, new { @class = "btn btn-default" })
                        <button type="submit" class="btn btn-info pull-right">提现</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

<!-- DataTables -->
<script src="../../static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../static/plugins/datatables/dataTables.bootstrap.min.js"></script>



