<?xml version="1.0"?>

<appSettings>
 
  
  <add key="ImServer"  value="192.168.1.172"/>
 
  <add key="MediaUploadUrl" value="http://192.168.1.172:8038/UploadFile.ashx"/>
  <add key="MediaGetUrl" value="http://192.168.1.172:8038/GetFile.ashx?fileName="/>
  <add key="PayUrl" value="http://192.168.1.172:8168/"/>
  <add key="APIBaseURL" value="http://192.168.1.172:8037/DianzhuApi.ashx"/>

 
 
  

</appSettings>