
/*新建店铺弹窗*/
#newBusslightBox {
    /*background: #fff;*/
    /*padding: 15px;*/
    width: 620px;
}

.BusslightBox {
    /*border-left: 10px solid #fad89b;*/
}

.business-lightbox-title {
    text-align: right;
    padding-right: 20px;
}

.buss-textarea {
    width: 270px;
}

.business-container {
    margin: 0 auto;
    background: #f1f2f1;
    width: 1060px;
}

.business-add {
    margin-bottom: 15px;
}

.business-list-item {
    padding-top: 20px;
}

.business-h {
    width: 80%;
    padding: 10px 20px;
    background: #5bb6fa;
    margin-left: -14px;
    border-radius: 0 30px 30px 0;
    text-align: right;
    font-size: 30px;
    color: #fff;
    overflow: hidden;
}

.business-face {
    text-align: center;
    padding: 20px 0;
}

.business-face img {
    border-radius: 50%;
    border: 10px solid #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.business-detail-r {
    float: right;
    margin-right: 50px;
}

.business-default-intro {
    min-height: 100px;
    line-height: 1.5em;
    text-indent: 2em;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.business-note {
    padding: 15px 0;
    line-height: 3em;
}


/*���̴����ɹ�ҳ��*/
.create-suc {
    font-size: 40px;
}

a.create-continue {
    display: block;
    padding: 20px;
    font-size: 20px;
    color: #1db7d6;
}
/*end*/

/*新建店铺*/
/*.business-new {*/
    /*padding: 20px;*/
    /*min-height: 700px;*/
    /*background: #eceef0;*/
/*}*/

.new-box {
    position: relative;
}

.business-new-add {
    width: 240px;
    height: 58px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

a.new-add-btn {
    background: #fff;
    display: block;
    width: 240px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    border: 2px solid #3e95bf;
    color: #3e95bf;
    font-size: 18px;
    border-radius: 30px;
}

.firstAddMsg {
    margin: 0 auto;
    margin-top: 20px;
    color: #3e95bf;
    font-size: 12px;
    width: 210px;
    line-height: 1.4em;
    text-align: justify;
}
/*end*/

/*店铺详情*/
.business-detail-main {
    background: none;
    box-shadow: none;
    border: none;
}

.business-detail-head {
    padding: 5px 14px;
    background: none;
    box-shadow: none;
    border: none;
}

.business-detail-face {
    border-radius: 50%;
    border: 10px solid #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.business-detail-name {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    padding: 10px 0 20px 0;
}

.business-detail-stand {
    background: #fff;
    padding: 25px;
    margin-right: 20px;
    box-shadow: 0 0 2px 0 rgba(93, 93, 93, 0.3);
    border-left: 8px solid #c3f3e2;
    min-height: 731px;
}

.business-detail-stand .cont-row {
    font-size: 16px;
}

.detail-title {
    padding: 20px 0 ;
    margin: 0 20px;
}

.detail-img {
    min-height: 90px;
}

.detail-img a img{
    width: 90px;
    height: 90px;
    border-radius: 5px;
}

.detail-pra {
    border-top: 1px dashed #ccc;
    padding: 20px;
    margin: 0 20px;
}

.detail-pra .cont-row {
    font-size: 16px;
    /*border-top: 1px solid #e8e8e8;*/
    padding: 20px;
}

.business-detail-iden {
    background: #fff;
    padding: 25px;
    box-shadow: 0 0 2px 0 rgba(93, 93, 93, 0.3);
    border-left: 8px solid #E4BFFF;
    min-height: 731px;
}

.business-detail-pic {
    background: #fff;
    padding: 25px;
    box-shadow: 0 0 2px 0 rgba(93, 93, 93, 0.3);
    border-left: 8px solid #FFE49B;
}



.business-detail {
    box-shadow: 0;
}
/*end*/