.emp-wrap {
    background: #cadbec;
    padding-top: 20px;
}

.emp-con {
    min-height: 580px;
    background: #f0f4fb;
    color: #58789a;
    font-size: 14px;
}

.emp-bar-t {
    font-size: 18px;
    line-height: 30px;
    height: 30px;
}

.emp-bar {
    padding: 20px;
    background: #f6fafe;
}

.emp-bar-btn input{
    border: 0;
    width: 100px;
    height: 32px;
}

.emp-btn-bg1 {
    background: url("../image/employee/tianjia_left%20100x32.png") no-repeat center;
}
.emp-btn-bg2 {
    background: url("../image/employee/shanjian_right%20100x32.png") no-repeat center;
}

/* 导航样式 */
.emp-nav {
    margin-bottom: 5px;
}

.emp-nav-type {
    background: #fff;
    border-top: 1px solid #dae3ec;
    border-bottom: 1px solid #dae3ec;
}

.emp-nav-type .nav-type-l li{
    float: left;
    display: block;
    width: 100px;
    text-align: center;
    padding: 8px 0;
}

.nav-type-l {
    width: 80%;
    float: left;
}

.nav-type-l li span {
    display: block;
    height: 26px;
    line-height: 26px;
    border-right: 1px solid #dae3ec;
}

.nav-type-switch {
    height: 42px;
    overflow: hidden;
}

.nav-type-switch input {
    width: 38px;
    height: 42px;
    border: 0;
    margin-right: 1px;
    float: left;
}

.emp-btn-bg3 {
    background: url("../image/employee/fanye_left.png") no-repeat center;
}
.emp-btn-bg4 {
    background: url("../image/employee/fanye_right.png") no-repeat center;
}

.emp-nav-d {
    background: #f6fafe;
    border-bottom: 1px solid #dae3ec;
}

.nav-d-l li{
    float: left;
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.emp-d .col{
    float: left;
}

.emp-d .col-7{
    float: right;
}

.emp-d-title {
    background: url("../image/employee/shop_line_01.png") repeat-x center;
    padding: 10px 20px;
    height: 27px;
    line-height: 27px;
    margin-bottom: 5px;
}

.emp-d-title input{
    color: #58789a;
    background: none;
    border: 0;
    vertical-align: middle;
}

.emp-d-title .search-btn {
    background: url("../image/employee/chaxun_left%2024x20.png") no-repeat center;
}
.emp-d-title .filter-btn {
    background: url("../image/employee/xuanze_right%2024x20.png") no-repeat center;
}

.d-checkbox {
    margin-right: 10px;
}


/* 自定义列样式 */
.emp-d-title .col { text-align: center; }
.emp-d-title .col-1 { width: 120px; text-align: left;}
.emp-d-title .col-2 { width: 60px; padding-left: 20px;}
.emp-d-title .col-3 { width: 40px; padding-left: 60px;}
.emp-d-title .col-4 { width: 40px; padding-left: 40px;}
.emp-d-title .col-5 { width: 70px; padding-left: 80px;}
.emp-d-title .col-6 { width: 70px; padding-left: 50px; }

.emp-d-item .col { text-align: center; }
.emp-d-item .col-1 { width: 120px; text-align: left;}
.emp-d-item .col-2 { width: 60px; padding-left: 20px;}
.emp-d-item .col-3 { width: 40px; padding-left: 60px;}
.emp-d-item .col-4 { width: 40px; padding-left: 40px;}
.emp-d-item .col-5 { width: 70px; padding-left: 80px;}
.emp-d-item .col-6 { width: 70px; padding-left: 50px; }

.d-list-i {
    background: #f5f9fd;
    padding: 10px 20px;
    margin-bottom: 5px;
    height: 34px;
    line-height: 34px;

}

.d-list-btn {
    border: 0;
    padding: 0;
    width: 74px;
    height: 34px;
    background: url("../image/employee/yizhipai_down%2074x34.png") no-repeat center;
}

.user-pic {
    background: url("../image/employee/touxiang_left%2068x68.png") no-repeat center;
}

#tagSwitch {
    width: 100px;
    margin: 0 auto;
}

/* 编辑员工页面弹窗 */
.emp-edit {
    /*width: 805px;*/
    margin: 0 auto;
    color: #58789a;
    background: #fff;
}

.emp-edit-title {
    padding: 20px;
    position: relative;
    background: #f6fafe;
    border-bottom: 2px solid #f0f3f8;
}

.icon-close {
    width: 36px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -18px;
    background: url("../image/myshop/shop_button_01.png");
}

.emp-edit-m {
    padding: 20px;
}

.emp-edit-m h3 {
    padding: 10px 0 20px 0;
}

.emp-edit-item {
    margin-bottom: 20px;
}

.emp-edit-m p {
    margin-bottom: 5px;
}

.emp-edit-m .icon {
    width: 26px;
    height: 26px;
}

.emp-edit-m .emp-edit-input {
    width: 340px;
    height: 30px;
    background: #f6f9fe;
    border: 1px solid #bcccd9;
}

.emp-input-textarea {
    width: 340px;
    height: 100px;
    background: #f6f9fe;
    border: 1px solid #bcccd9;
}

.emp-edit-left {
    padding-right: 20px;
    border-right: 1px solid #ebeef3;
}

.emp-edit-sub {
    padding-bottom: 20px;
    text-align: center;
}

.emp-edit-sub input{
    width: 254px;
    height: 50px;
    border: 0;
    background: url("../image/employee/shop_button_1.png") no-repeat center;
}





.emp-icon-buss { background: url("../image/employee/shop_icon_6.png") ;}
.emp-icon-year { background: url("../image/employee/shop_icon_5.png") ;}
.emp-icon-type { background: url("../image/employee/shop_icon_1.png") ;}
.emp-icon-intro { background: url("../image/employee/shop_icon_7.png") ;}
.emp-icon-borth { background: url("../image/employee/shop_icon_8.png") ;}
.emp-icon-sex { background: url("../image/employee/shop_icon_4.png") ;}
.emp-icon-pic { background: url("../image/employee/shop_icon_3.png") ;}
.emp-icon-name { background: url("../image/employee/shop_icon_2.png") ;}

/***fu**/
#menu-1{ margin-top:25px;background: #f8f8f8;}
#menu-1 a {
    background:url(../image/shop-icon-12.png) no-repeat;
    background-position: 12px 10px;
    padding-left:32px;
    color: #337ab7;
    }
#menu-5{background: #3794bd;}
#menu-5 a {
    background:url(../image/menu-5-icon-2.png) no-repeat;
    background-position: 12px 10px;
    padding-left:32px;
    color: #fff;
    }
   /*****fu*******/
   .emp-backage{ background:#fff; border:1px solid #e9eaeb; margin-top:10px;}
  .add-user-div{ margin-left:20px; margin-top:20px; margin-bottom:20px;}
  .emp-content-div{ width:100%; margin-bottom:50px; }
  .emp-table{ width:100%;}
  .emp-head-tr{  background:url(../image/emp-th-bj.png) repeat-x; height:40px; font-size:16px; color:#fff;}
  .emp-th-style{ width:14.28%;text-align:center;}
  .emp-td-style{ width:14.28%; height:60px; font-size:14px; text-align:center;}
  .pageNum{ margin:0 auto;margin-bottom:50px; overflow:hidden;text-align:center;font-size:12px;}

  .pageNum a{ margin-right:5px; margin-left:5px;text-align:center; }
 .emp-cont-row {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.epm-btn img{ margin-left:8px;}
.bottomArea{ width:100%; height:98px;display: block; line-height:98px; text-align:center;}
.emp-cont-bottom-row
{
    margin-bottom: 15px;
   
}
.emp-mar-top{ margin-top:20px;}
.select-sm cite { width: 170px; line-height: 28px; }
.epm-th-1{width:20%;}
.epm-th-2{width:13.3%;}
.btnAssign{ width:82px; margin-top:-20px;;}
.add-inco{ font-size:16px; margin-right:5px; font-weight:bold;}
