body{ background:url(../image/indexbj.jpg) fixed;}
.mainContent{ margin: 0 auto;width:1115px;}
.topContent{ height:915px;osition:relative; background:#9CC;}
.footerContent{ height:113px; position:relative; background:#FCF; }

