
html,body {
    height: 100%;
}

/*输入框动画效果*/

input[type="text"]:focus,input[type="password"]:focus {
    box-shadow: 0 0 4px 4px #55abdc;
    -webkit-animation-name: breath;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes breath {
    0% {
        box-shadow: 0 0 1px 1px #55abdc;
    }
    50% {
        box-shadow: 0 0 4px 4px #55abdc;
    }
    100% {
        box-shadow: 0 0 1px 1px #55abdc;
    }
}


.reg-wrap {
    height: 100%;
    background: url("../image/login_reg/bg_1.jpg") no-repeat center;
    overflow: hidden;
}

.main {
    height: 100%;
}

.layout {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

/*外包裹*/
.wrap-login {
    position: absolute;
    top: 50%;
    margin-top: -250px;
    width: 100%;
}

.wrap-reg {
    position: absolute;
    top: 50%;
    margin-top: -250px;
    width: 100%;
}

/*登录内容*/
.conLogin,
.conReg {
    color: #fff;
    width: 800px;
    margin: 0 auto;
}

/*logo内容*/
.conLogo {
    margin-bottom: 30px;
}

.logo {
    margin-bottom: 20px;
}

/*.logo-l {*/
    /*display: inline-block;*/
    /*width: 300px;*/
    /*margin-right: 70px;*/
    /*font-size: 20px;*/
    /*vertical-align: bottom;*/
    /**display:inline;*/
    /**zoom:1;*/
/*}*/

/*.logo-l p{*/
    /*text-align: right;*/
    /*line-height: 1.8em;*/
/*}*/

/*.logo-r {*/
    /*display: inline-block;*/
    /**zoom:1;*/
    /**display:inline;*/
/*}*/

.logo-title-l {
    display: inline-block;
    text-align: right;
    width: 300px;
    margin-right: 70px;
    font-size: 20px;
    vertical-align: middle;
    *display:inline;
    *zoom:1;
}

.logo-title-r {
    width: 200px;
    text-align: center;
    display: inline-block;
    *zoom:1;
    *display:inline;
    vertical-align: middle;
}

.logoTitle {
    width: 189px;
    height: 56px;
    background:url("../image/login_reg/dianzhu_03.png") no-repeat center;
}

/*标题共同布局*/
.conMain .box-l {
    float: left;
    text-align: right;
    width: 300px;
    margin-right: 70px;
    font-size: 17px;
}

.conMain .box-l p {
    margin-bottom: 25px;
}

.conMain .log-intro em {
    color: #55abdc;
    margin: 0 7px;
    font-size: 1.2em;
    vertical-align: middle;
}

.conMain .log-intro span {
    vertical-align: middle;
}

.conMain .box-r {
    width: 430px;
    float: left;
    font-size: 20px;
}

/*.reg-user-l {*/
    /*height: 300px;*/
/*}*/

/*登录页面内容*/
.conLogin .date {
    color: #55abdc;
    margin-bottom: 25px;
}

.username,
.password {
    width: 300px;
    /*overflow: hidden;*/
    background: #fff;
    border-radius: 2px;
    border: 1px;
    margin-bottom: 10px;
    position: relative;
}

.usernameIcon,
.passwordIcon { display: block; width: 40px; height: 40px; border-radius: 2px; float: left; position: absolute; left: 0 ; right: 0; z-index: 2;}

.usernameIcon i { width: 40px; height: 40px;  background: url("../image/login_reg/shop_user_01.png") no-repeat left; }
.passwordIcon i { width: 40px; height: 40px;  background: url("../image/login_reg/shop_user_02.png") no-repeat left; }

.username input,
.password input {
    vertical-align: middle;
    /*background: #fff;*/
    display: inline-block;
    width: 250px;
    height: 20px;
    padding: 10px 10px 10px 40px;
    border-radius: 2px;
    line-height: 20px;
    border: 1px;
    font-size: 15px;
    font-family: inherit;
    *display: inline;
    *zoom: 1;
    *margin-top: -2px;
    *height: 39px;
    *border: 0;
}


/*信息验证图片*/
.checkIcon {
    display:none;
    /*display: inline-block;*/
    *zoom: 1;
    *display: inline;
    *margin-left: 10px;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
    /*background: url("../image/login_reg/zhengqie_1.png") no-repeat center;*/
}

.chkRight {
    display: inline-block;
    background: url("../image/login_reg/zhengqie_1.png") no-repeat center;
}

.chkError {
    display: inline-block;
    background: url("../image/login_reg/zhengqie_2.png") no-repeat center;
}

.errorText {
    color: #df7081;
    font-size: 13px;
}

.regWarnText {
    color: #df7081;
    font-size: 13px;
    padding: 10px 0 0 0;
    vertical-align: middle;
}

.regWarnTexti {
    color: #df7081;
    font-size: 13px;
    padding: 0 0 0 5px;
    vertical-align: middle;
}

.userConfirm-Back {
    border: 0;
    width: 112px;
    height: 49px;
    background: url("../image/login_reg/shop_button_01.png") no-repeat center;
}

.loginBox { width: 300px; margin-bottom: 10px; }

.reg-box-l {
    float: left;
    text-align: right;
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin-right: 70px;
    font-size: 17px;
}
.reg-box-r {
    width: 430px;
    float: left;
    font-size: 20px;
}

.loginBtn {
    cursor: pointer;
    display: inline-block;
    width: 109px;
    height: 49px;
    border: 0;
    background: url("../image/login_reg/button_1.png") no-repeat center;
    *display: inline;
    *zoom: 1;
}

.savePass {
    display: inline-block;
    float: right;
    height: 49px;
    line-height: 49px;
    *zoom: 1; /*IE7 below*/
    *display: inline;
    *float: none;
    *vertical-align: bottom;
    *margin-left: 100px;
}

.savePass input {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    vertical-align: text-bottom;
}

.err_msg {
    color: #DF7081;
    font-size: 13px;
    line-height: 1.2em;
    padding-top: 10px;
}

.login_err_msg {
    color: #DF7081;
    font-size: 13px;
    line-height: 1.2em;
    margin-bottom: 10px;
}

.doReg img,
.doLogin img {
    cursor: pointer;
    vertical-align: text-bottom;
    padding: 0 5px;
}


/*注册页面内容*/
.conReg .box-l p {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}



.conReg .agree {
    font-size: 13px;
    margin-bottom: 10px;
}

.conReg .agree input {
    vertical-align: middle;
}

.conReg .agree a:visited {
    color: #55abdc;
}

.conReg .buttonBox { margin-bottom: 10px; }

.conReg .regBtn {
    cursor: pointer;
    display: inline-block;
    width: 109px;
    height: 49px;
    border: 0;
    background: url("../image/login_reg/xiayibu_1.png") no-repeat center;
    *zoom: 1;
    *display: inline;
}

.reg-input {
    /*overflow: hidden;*/
    margin-bottom: 10px;
}

.reg-input input {
    background: #fff;
    display: inline-block;
    width: 290px;
    height: 20px;
    padding: 10px 5px;
    line-height: 20px;
    border: 1px;
    border-radius: 2px ;
    font-size: 15px;
    font-family: inherit;
    text-indent: 10px;
    color: #aaa;
    *margin-left: -10px;
    *vertical-align: middle;
    *zoom: 1;
    *display: inline;
}


.regComp {
    text-align: center;
    margin: 60px 0;
}

.regComp span {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    font-size: 27px;
    *zoom: 1;
    *display: inline;
}

.icon-regComp {
    width: 65px;
    height: 65px;
    background: url("../image/login_reg/zhengque_1.png") no-repeat center;
}

.compBtn {
    cursor: pointer;
    display: inline-block;
    width: 109px;
    height: 49px;
    border: 0;
    background: url("../image/login_reg/queding_1.png") no-repeat center;
    *zoom: 1;
    *display: inline;
}

/*.selectdiv { width: 170px; margin-bottom: 10px; display: inline-block; }*/
/*.selectMeth { position: relative; z-index: 999; background: #fff; font-size: 15px; border-radius: 2px; border: 1px; }*/
/*.selectMeth cite{ width:170px;height:40px; line-height: 40px; display:block; color: #aaa;font-style: normal; cursor:pointer; text-indent:10px; }*/
/*.selectMeth ul { list-style: none; width: 170px; background-color: #ffffff; position: absolute; z-index: 1000; display: none; }*/
/*.selectMeth ul li { height:40px; line-height: 40px; border-bottom: 1px solid #ccc; }*/
/*.selectMeth ul li a { display: block; height: 40px; color: #aaa; text-decoration: none; text-indent: 10px; }*/
/*.selectMeth ul li a:hover { background-color: #eee; }*/

.logReg-a { color: #fff; }
.logReg-a:visited{ color: #fff; }

.agreeLIC-a {color: #fff;text-decoration: underline;}
.agreeLIC-a:visited {color: #fff;text-decoration: underline;}
