.content {
  display: block;
  overflow: hidden;
  width: auto;
  margin-left: 150px;
}


/* navbar style */
@import "less/navbar";

/* sidebar style */
@import "less/sidebar-nav";

/* tooltip */
@import "less/tootip";

/* dropdowns */
@import "less/dropdowns";

/* button */
@import "less/button";

/* button */
@import "less/panel";

@import "less/StepByStep";


.d-inb { display: inline-block; *display: inline-block;*zoom: 1;}
.dis-n { display: none;}