.content {
  height: 100%;
  display: block;
  overflow: hidden;
  width: auto;
  margin-left: 150px;
}

.content-fluid {
  height: 100%;
  display: block;
  overflow: hidden;
  width: auto;
}



/* navbar style */
@import "less/navbar";

/* sidebar style */
@import "less/sidebar-nav";

/* tooltip */
@import "less/tootip";

/* dropdowns */
@import "less/dropdowns";

/* button */
@import "less/button";

/* button */
@import "less/panel";

/* StepByStep */
@import "less/StepByStep";

/* StepByStep */
@import "less/svc-icon";


.d-inb { display: inline-block; *display: inline-block;*zoom: 1;}
.dis-n { display: none;}