.content {
  height: 100%;
  display: block;
  overflow: hidden;
  width: auto;
  margin-left: 150px;
}
.content-fluid {
  height: 100%;
  display: block;
  overflow: hidden;
  width: auto;
}
/* navbar style */
.navbar {
  min-width: 1200px;
  margin-bottom: 0;
  box-shadow: 2px 0 4px 0 #96a0aa;
  background: #fff;
  border-bottom: 3px solid #60b7ea;
}
.navbar .navbar-brand {
  height: 75px;
  line-height: 45px;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", "宋体", sans-serif;
  font-size: 27px;
  font-weight: 700;
  color: #444444;
}
.navbar .navbar-brand.brand-logo {
  display: table;
  padding: 0;
  margin: 0 15px;
}
.navbar .navbar-brand.brand-logo #logo {
  display: table-cell;
  width: 54px;
  height: 54px;
  background: url("../../image/yidianban_v1.2/logo/icon01-up-54x54.png") no-repeat center;
}
.navbar .navbar-brand:hover {
  color: #444444;
}
.navbar .navbar-nav {
  font-size: 16px;
  margin-right: 10px;
}
.navbar .navbar-nav > li {
  color: #60b7ea;
}
.navbar .navbar-nav > li > a {
  padding: 15px 15px;
  height: 75px;
  line-height: 45px;
  font-size: 16px;
  vertical-align: middle;
  color: #60b7ea;
}
.navbar .navbar-nav > li > a:hover {
  color: #60b7ea;
}
/* sidebar style */
.sidebar {
  display: block;
  position: absolute;
  width: 150px;
  background: -moz-linear-gradient(top, rgba(238, 238, 238, 0) 0%, #d6d6d6 21%, #c6c6c6 35%, #c6c6c6 63%, #dfdfdf 79%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 238, 238, 0)), color-stop(21%, #d6d6d6), color-stop(35%, #c6c6c6), color-stop(63%, #c6c6c6), color-stop(79%, #dfdfdf), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0) 0%, #d6d6d6 21%, #c6c6c6 35%, #c6c6c6 63%, #dfdfdf 79%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(238, 238, 238, 0) 0%, #d6d6d6 21%, #c6c6c6 35%, #c6c6c6 63%, #dfdfdf 79%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgba(238, 238, 238, 0) 0%, #d6d6d6 21%, #c6c6c6 35%, #c6c6c6 63%, #dfdfdf 79%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(238, 238, 238, 0) 0%, #d6d6d6 21%, #c6c6c6 35%, #c6c6c6 63%, #dfdfdf 79%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00eeeeee', endColorstr='#00ffffff', GradientType=0);
  background: url("../../image/yidianban_v1.2/side/asd.png") repeat-x center;
}
.sidebar-fixed {
  display: block;
  position: fixed;
  top: 0;
  width: 150px;
  background: -moz-linear-gradient(top, rgba(238, 238, 238, 0) 0%, #d6d6d6 21%, #c6c6c6 35%, #c6c6c6 63%, #dfdfdf 79%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 238, 238, 0)), color-stop(21%, #d6d6d6), color-stop(35%, #c6c6c6), color-stop(63%, #c6c6c6), color-stop(79%, #dfdfdf), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0) 0%, #d6d6d6 21%, #c6c6c6 35%, #c6c6c6 63%, #dfdfdf 79%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(238, 238, 238, 0) 0%, #d6d6d6 21%, #c6c6c6 35%, #c6c6c6 63%, #dfdfdf 79%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgba(238, 238, 238, 0) 0%, #d6d6d6 21%, #c6c6c6 35%, #c6c6c6 63%, #dfdfdf 79%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(238, 238, 238, 0) 0%, #d6d6d6 21%, #c6c6c6 35%, #c6c6c6 63%, #dfdfdf 79%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00eeeeee', endColorstr='#00ffffff', GradientType=0);
  background: url("../../image/yidianban_v1.2/side/asd.png") repeat-x center;
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav ul li {
  display: block;
}
.sidebar-nav ul li .item-icon {
  width: 72px;
  height: 72px;
  margin-bottom: 10px;
}
.sidebar-nav ul li .item-icon.sidebar-icon-biz {
  background: url("../../image/yidianban_v1.2/side/icon01-up-72x72.png") no-repeat center;
}
.sidebar-nav ul li .item-icon.sidebar-icon-svc {
  background: url("../../image/yidianban_v1.2/side/icon03-up-72x72.png") no-repeat center;
}
.sidebar-nav ul li .item-icon.sidebar-icon-emp {
  background: url("../../image/yidianban_v1.2/side/icon02-up-72x72.png") no-repeat center;
}
.sidebar-nav ul li .item-icon.sidebar-icon-order {
  background: url("../../image/yidianban_v1.2/side/icon04-up-72x72.png") no-repeat center;
}
.sidebar-nav ul li .item-icon.sidebar-icon-dash {
  background: url("../../image/yidianban_v1.2/side/icon05-up-72x72.png") no-repeat center;
}
.sidebar-nav ul li .sidebar-title {
  color: #444444;
}
.sidebar-nav ul li.disabled {
  cursor: not-allowed;
  color: #ccc;
  background-color: transparent;
}
.sidebar-nav ul li.disabled a {
  cursor: not-allowed;
  color: #ccc;
  background-color: transparent;
}
.sidebar-nav ul li.active a .icon {
  zoom: 1.2;
  -moz-transform: scale(1.2);
}
.sidebar-nav ul li a {
  outline: none;
  display: block;
  font-size: 14px;
  padding: 20px 20px;
  color: #aaa ;
  text-align: center;
}
.sidebar-nav ul li a:hover,
.sidebar-nav ul li a:focus,
.sidebar-nav ul li a:active {
  outline: none;
  display: block;
  text-decoration: none;
}
/* input,select */
/*全局输入框样式*/
.input-lg {
  width: 270px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #e2e2e2;
  border-radius: 0px;
  background: #ffffff;
  color: #444444;
  font-size: 14px;
  vertical-align: middle;
}
.input-lg:focus {
  background: #ffffff;
  border: 1px solid #30cdff;
  box-shadow: 0 0 3px 0 #0f9ecc;
}
.input-mid {
  width: 170px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #e2e2e2;
  border-radius: 0px;
  background: #ffffff;
  color: #444444;
  font-size: 14px;
  vertical-align: middle;
}
.input-mid:focus {
  background: #ffffff;
  border: 1px solid #30cdff;
  box-shadow: 0 0 3px 0 #0f9ecc;
}
.input-sm {
  width: 100px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #e2e2e2;
  border-radius: 0px;
  background: #ffffff;
  color: #444444;
  font-size: 14px;
  vertical-align: middle;
}
.input-sm:focus {
  background: #ffffff;
  border: 1px solid #30cdff;
  box-shadow: 0 0 3px 0 #0f9ecc;
}
.input-fluid {
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #e2e2e2;
  border-radius: 0px;
  background: #ffffff;
  color: #444444;
  font-size: 14px;
  vertical-align: middle;
}
.input-fluid:focus {
  background: #ffffff;
  border: 1px solid #30cdff;
  box-shadow: 0 0 3px 0 #0f9ecc;
}
.input-textarea {
  display: block;
  width: 310px;
  height: 155px;
  padding: 5px 10px;
  border: 1px solid #e2e2e2;
  background: #ffffff;
  color: #444444;
  font-size: 14px;
  overflow-y: auto;
}
.input-textarea:focus {
  background: #ffffff;
  border: 1px solid #30cdff;
  box-shadow: 0 0 3px 0 #0f9ecc;
}
.input-textarea-fluid {
  display: block;
  width: 100%;
  height: 155px;
  padding: 5px 10px;
  border: 1px solid #e2e2e2;
  background: #ffffff;
  color: #444444;
  font-size: 14px;
  overflow-y: auto;
}
.input-textarea-fluid:focus {
  background: #ffffff;
  border: 1px solid #30cdff;
  box-shadow: 0 0 3px 0 #0f9ecc;
}
/*select 初始化样式*/
.select-sm {
  display: inline-block;
  width: 100px;
  height: 30px;
  color: #444444;
  position: relative;
  background: #ffffff;
  vertical-align: middle;
  border: 1px solid #e2e2e2;
}
.select-sm cite {
  display: block;
  width: 100px;
  line-height: 28px;
  text-indent: 0.8em;
  cursor: pointer;
  background: url("../../image/shop_green_09.png") no-repeat right;
}
.select-sm ul {
  line-height: 30px;
  position: absolute;
  width: 100px;
  border: 1px solid #e2e2e2;
  z-index: 10;
  background: #ffffff;
  display: none;
  margin-left: -1px;
}
.select-sm a {
  display: block;
  text-indent: 0.8em;
}
.select-sm a:hover {
  background: #eeeeee;
  color: #444444;
}
.select-mid {
  display: inline-block;
  width: 170px;
  height: 30px;
  color: #444444;
  position: relative;
  background: #ffffff;
  vertical-align: middle;
  border: 1px solid #e2e2e2;
}
.select-mid cite {
  display: block;
  width: 170px;
  line-height: 28px;
  text-indent: 0.8em;
  cursor: pointer;
  background: url("../../image/shop_green_09.png") no-repeat right;
}
.select-mid ul {
  line-height: 30px;
  position: absolute;
  width: 170px;
  border: 1px solid #e2e2e2;
  z-index: 10;
  background: #ffffff;
  display: none;
  margin-left: -1px;
}
.select-mid a {
  display: block;
  text-indent: 0.8em;
}
.select-mid a:hover {
  background: #eeeeee;
  color: #444444;
}
.select-fluid {
  display: inline-block;
  width: 100%;
  height: 30px;
  color: #444444;
  position: relative;
  background: #ffffff;
  vertical-align: middle;
  border: 1px solid #e2e2e2;
}
.select-fluid cite {
  display: block;
  width: 100%;
  line-height: 28px;
  text-indent: 0.8em;
  cursor: pointer;
  background: url("../../image/shop_green_09.png") no-repeat right;
}
.select-fluid ul {
  line-height: 30px;
  position: absolute;
  width: 100%;
  border: 1px solid #e2e2e2;
  z-index: 10;
  background: #ffffff;
  display: none;
  margin-left: -1px;
}
.select-fluid a {
  display: block;
  text-indent: 0.8em;
}
.select-fluid a:hover {
  background: #eeeeee;
  color: #444444;
}
/*设置下拉选框宽高*/
/* tooltip */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  line-break: auto;
  font-size: 14px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 400px;
  padding: 13px 18px;
  color: #666666;
  text-align: center;
  background-color: #f9faed;
  border: 1px solid #fdeb96;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #f9faed;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #f9faed;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #f9faed;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #f9faed;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #f9faed;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #f9faed;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #f9faed;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #f9faed;
}
/* dropdowns */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100px;
  padding: 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: center;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  overflow: hidden;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.dropdown-menu > li > a {
  display: block;
  width: 137px;
  padding: 3px 3px;
  padding-left: 12px;
  color: #333;
  background: url(../image/shop-icon-2.png) no-repeat;
  background-position: 30px center;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover {
  background: url(../image/shop-icon-5.png) no-repeat;
  background-position: 30px center;
  color: #FFF;
}
.dropdown-menu > li:hover {
  background: #60b7ea;
}
/* button */
.btn {
  font: inherit;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 1.2em;
  border-radius: 2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #45b2e6;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
/* 编辑类按钮 */
a.btn-info,
.btn-info {
  color: #ffffff;
  background-color: #64c6f8;
  border-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#64c6f8), to(#20adf5));
  background: -moz-linear-gradient(top, #64c6f8, #20adf5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#64c6f8, endColorstr=#64c6f8);
}
a.btn-info:focus,
.btn-info:focus,
a.btn-info.focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #64c6f8;
  border-color: transparent;
}
a.btn-info:hover,
.btn-info:hover {
  color: #ffffff;
  background-color: #7ccff9;
  border-color: rgba(0, 0, 0, 0);
}
a.btn-info:active,
.btn-info:active,
a.btn-info.active,
.btn-info.active,
.open > .dropdown-togglea.btn-info,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #64c6f8;
  border-color: transparent;
}
a.btn-info:active:hover,
.btn-info:active:hover,
a.btn-info.active:hover,
.btn-info.active:hover,
.open > .dropdown-togglea.btn-info:hover,
.open > .dropdown-toggle.btn-info:hover,
a.btn-info:active:focus,
.btn-info:active:focus,
a.btn-info.active:focus,
.btn-info.active:focus,
.open > .dropdown-togglea.btn-info:focus,
.open > .dropdown-toggle.btn-info:focus,
a.btn-info:active.focus,
.btn-info:active.focus,
a.btn-info.active.focus,
.btn-info.active.focus,
.open > .dropdown-togglea.btn-info.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #ffffff;
  background-color: #64c6f8;
  border-color: transparent;
}
a.btn-info:active,
.btn-info:active,
a.btn-info.active,
.btn-info.active,
.open > .dropdown-togglea.btn-info,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
a.btn-info.disabled,
.btn-info.disabled,
a.btn-info[disabled],
.btn-info[disabled],
fieldset[disabled] a.btn-info,
fieldset[disabled] .btn-info,
a.btn-info.disabled:hover,
.btn-info.disabled:hover,
a.btn-info[disabled]:hover,
.btn-info[disabled]:hover,
fieldset[disabled] a.btn-info:hover,
fieldset[disabled] .btn-info:hover,
a.btn-info.disabled:focus,
.btn-info.disabled:focus,
a.btn-info[disabled]:focus,
.btn-info[disabled]:focus,
fieldset[disabled] a.btn-info:focus,
fieldset[disabled] .btn-info:focus,
a.btn-info.disabled.focus,
.btn-info.disabled.focus,
a.btn-info[disabled].focus,
.btn-info[disabled].focus,
fieldset[disabled] a.btn-info.focus,
fieldset[disabled] .btn-info.focus,
a.btn-info.disabled:active,
.btn-info.disabled:active,
a.btn-info[disabled]:active,
.btn-info[disabled]:active,
fieldset[disabled] a.btn-info:active,
fieldset[disabled] .btn-info:active,
a.btn-info.disabled.active,
.btn-info.disabled.active,
a.btn-info[disabled].active,
.btn-info[disabled].active,
fieldset[disabled] a.btn-info.active,
fieldset[disabled] .btn-info.active {
  background-color: #64c6f8;
  border-color: transparent;
}
a.btn-info .badge,
.btn-info .badge {
  color: #64c6f8;
  background-color: #ffffff;
}
/* 取消类按钮 */
a.btn-cancel,
.btn-cancel {
  color: #ffffff;
  background-color: #afafaf;
  border-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#afafaf), to(#8b8b8b));
  background: -moz-linear-gradient(top, #afafaf, #8b8b8b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#afafaf, endColorstr=#afafaf);
}
a.btn-cancel:focus,
.btn-cancel:focus,
a.btn-cancel.focus,
.btn-cancel.focus {
  color: #ffffff;
  background-color: #afafaf;
  border-color: transparent;
}
a.btn-cancel:hover,
.btn-cancel:hover {
  color: #ffffff;
  background-color: #bcbcbc;
  border-color: rgba(0, 0, 0, 0);
}
a.btn-cancel:active,
.btn-cancel:active,
a.btn-cancel.active,
.btn-cancel.active,
.open > .dropdown-togglea.btn-cancel,
.open > .dropdown-toggle.btn-cancel {
  color: #ffffff;
  background-color: #afafaf;
  border-color: transparent;
}
a.btn-cancel:active:hover,
.btn-cancel:active:hover,
a.btn-cancel.active:hover,
.btn-cancel.active:hover,
.open > .dropdown-togglea.btn-cancel:hover,
.open > .dropdown-toggle.btn-cancel:hover,
a.btn-cancel:active:focus,
.btn-cancel:active:focus,
a.btn-cancel.active:focus,
.btn-cancel.active:focus,
.open > .dropdown-togglea.btn-cancel:focus,
.open > .dropdown-toggle.btn-cancel:focus,
a.btn-cancel:active.focus,
.btn-cancel:active.focus,
a.btn-cancel.active.focus,
.btn-cancel.active.focus,
.open > .dropdown-togglea.btn-cancel.focus,
.open > .dropdown-toggle.btn-cancel.focus {
  color: #ffffff;
  background-color: #afafaf;
  border-color: transparent;
}
a.btn-cancel:active,
.btn-cancel:active,
a.btn-cancel.active,
.btn-cancel.active,
.open > .dropdown-togglea.btn-cancel,
.open > .dropdown-toggle.btn-cancel {
  background-image: none;
}
a.btn-cancel.disabled,
.btn-cancel.disabled,
a.btn-cancel[disabled],
.btn-cancel[disabled],
fieldset[disabled] a.btn-cancel,
fieldset[disabled] .btn-cancel,
a.btn-cancel.disabled:hover,
.btn-cancel.disabled:hover,
a.btn-cancel[disabled]:hover,
.btn-cancel[disabled]:hover,
fieldset[disabled] a.btn-cancel:hover,
fieldset[disabled] .btn-cancel:hover,
a.btn-cancel.disabled:focus,
.btn-cancel.disabled:focus,
a.btn-cancel[disabled]:focus,
.btn-cancel[disabled]:focus,
fieldset[disabled] a.btn-cancel:focus,
fieldset[disabled] .btn-cancel:focus,
a.btn-cancel.disabled.focus,
.btn-cancel.disabled.focus,
a.btn-cancel[disabled].focus,
.btn-cancel[disabled].focus,
fieldset[disabled] a.btn-cancel.focus,
fieldset[disabled] .btn-cancel.focus,
a.btn-cancel.disabled:active,
.btn-cancel.disabled:active,
a.btn-cancel[disabled]:active,
.btn-cancel[disabled]:active,
fieldset[disabled] a.btn-cancel:active,
fieldset[disabled] .btn-cancel:active,
a.btn-cancel.disabled.active,
.btn-cancel.disabled.active,
a.btn-cancel[disabled].active,
.btn-cancel[disabled].active,
fieldset[disabled] a.btn-cancel.active,
fieldset[disabled] .btn-cancel.active {
  background-color: #afafaf;
  border-color: transparent;
}
a.btn-cancel .badge,
.btn-cancel .badge {
  color: #afafaf;
  background-color: #ffffff;
}
/* 删除类按钮 */
a.btn-delete,
.btn-delete {
  color: #ffffff;
  background-color: #fdb2b2;
  border-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdb2b2), to(#fc8080));
  background: -moz-linear-gradient(top, #fdb2b2, #fc8080);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fdb2b2, endColorstr=#fdb2b2);
}
a.btn-delete:focus,
.btn-delete:focus,
a.btn-delete.focus,
.btn-delete.focus {
  color: #ffffff;
  background-color: #fdb2b2;
  border-color: transparent;
}
a.btn-delete:hover,
.btn-delete:hover {
  color: #ffffff;
  background-color: #fecbcb;
  border-color: rgba(0, 0, 0, 0);
}
a.btn-delete:active,
.btn-delete:active,
a.btn-delete.active,
.btn-delete.active,
.open > .dropdown-togglea.btn-delete,
.open > .dropdown-toggle.btn-delete {
  color: #ffffff;
  background-color: #fdb2b2;
  border-color: transparent;
}
a.btn-delete:active:hover,
.btn-delete:active:hover,
a.btn-delete.active:hover,
.btn-delete.active:hover,
.open > .dropdown-togglea.btn-delete:hover,
.open > .dropdown-toggle.btn-delete:hover,
a.btn-delete:active:focus,
.btn-delete:active:focus,
a.btn-delete.active:focus,
.btn-delete.active:focus,
.open > .dropdown-togglea.btn-delete:focus,
.open > .dropdown-toggle.btn-delete:focus,
a.btn-delete:active.focus,
.btn-delete:active.focus,
a.btn-delete.active.focus,
.btn-delete.active.focus,
.open > .dropdown-togglea.btn-delete.focus,
.open > .dropdown-toggle.btn-delete.focus {
  color: #ffffff;
  background-color: #fdb2b2;
  border-color: transparent;
}
a.btn-delete:active,
.btn-delete:active,
a.btn-delete.active,
.btn-delete.active,
.open > .dropdown-togglea.btn-delete,
.open > .dropdown-toggle.btn-delete {
  background-image: none;
}
a.btn-delete.disabled,
.btn-delete.disabled,
a.btn-delete[disabled],
.btn-delete[disabled],
fieldset[disabled] a.btn-delete,
fieldset[disabled] .btn-delete,
a.btn-delete.disabled:hover,
.btn-delete.disabled:hover,
a.btn-delete[disabled]:hover,
.btn-delete[disabled]:hover,
fieldset[disabled] a.btn-delete:hover,
fieldset[disabled] .btn-delete:hover,
a.btn-delete.disabled:focus,
.btn-delete.disabled:focus,
a.btn-delete[disabled]:focus,
.btn-delete[disabled]:focus,
fieldset[disabled] a.btn-delete:focus,
fieldset[disabled] .btn-delete:focus,
a.btn-delete.disabled.focus,
.btn-delete.disabled.focus,
a.btn-delete[disabled].focus,
.btn-delete[disabled].focus,
fieldset[disabled] a.btn-delete.focus,
fieldset[disabled] .btn-delete.focus,
a.btn-delete.disabled:active,
.btn-delete.disabled:active,
a.btn-delete[disabled]:active,
.btn-delete[disabled]:active,
fieldset[disabled] a.btn-delete:active,
fieldset[disabled] .btn-delete:active,
a.btn-delete.disabled.active,
.btn-delete.disabled.active,
a.btn-delete[disabled].active,
.btn-delete[disabled].active,
fieldset[disabled] a.btn-delete.active,
fieldset[disabled] .btn-delete.active {
  background-color: #fdb2b2;
  border-color: transparent;
}
a.btn-delete .badge,
.btn-delete .badge {
  color: #fdb2b2;
  background-color: #ffffff;
}
/* 可变按钮 */
a.btn-down-info,
.btn-down-info {
  color: #45b2e6;
  background-color: #ffffff;
  border-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fcfcfc));
  background: -moz-linear-gradient(top, #ffffff, #fcfcfc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff);
}
a.btn-down-info:focus,
.btn-down-info:focus,
a.btn-down-info.focus,
.btn-down-info.focus {
  color: #45b2e6;
  background-color: #ffffff;
  border-color: transparent;
}
a.btn-down-info:hover,
.btn-down-info:hover {
  color: #45b2e6;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0);
}
a.btn-down-info:active,
.btn-down-info:active,
a.btn-down-info.active,
.btn-down-info.active,
.open > .dropdown-togglea.btn-down-info,
.open > .dropdown-toggle.btn-down-info {
  color: #45b2e6;
  background-color: #ffffff;
  border-color: transparent;
}
a.btn-down-info:active:hover,
.btn-down-info:active:hover,
a.btn-down-info.active:hover,
.btn-down-info.active:hover,
.open > .dropdown-togglea.btn-down-info:hover,
.open > .dropdown-toggle.btn-down-info:hover,
a.btn-down-info:active:focus,
.btn-down-info:active:focus,
a.btn-down-info.active:focus,
.btn-down-info.active:focus,
.open > .dropdown-togglea.btn-down-info:focus,
.open > .dropdown-toggle.btn-down-info:focus,
a.btn-down-info:active.focus,
.btn-down-info:active.focus,
a.btn-down-info.active.focus,
.btn-down-info.active.focus,
.open > .dropdown-togglea.btn-down-info.focus,
.open > .dropdown-toggle.btn-down-info.focus {
  color: #45b2e6;
  background-color: #ffffff;
  border-color: transparent;
}
a.btn-down-info:active,
.btn-down-info:active,
a.btn-down-info.active,
.btn-down-info.active,
.open > .dropdown-togglea.btn-down-info,
.open > .dropdown-toggle.btn-down-info {
  background-image: none;
}
a.btn-down-info.disabled,
.btn-down-info.disabled,
a.btn-down-info[disabled],
.btn-down-info[disabled],
fieldset[disabled] a.btn-down-info,
fieldset[disabled] .btn-down-info,
a.btn-down-info.disabled:hover,
.btn-down-info.disabled:hover,
a.btn-down-info[disabled]:hover,
.btn-down-info[disabled]:hover,
fieldset[disabled] a.btn-down-info:hover,
fieldset[disabled] .btn-down-info:hover,
a.btn-down-info.disabled:focus,
.btn-down-info.disabled:focus,
a.btn-down-info[disabled]:focus,
.btn-down-info[disabled]:focus,
fieldset[disabled] a.btn-down-info:focus,
fieldset[disabled] .btn-down-info:focus,
a.btn-down-info.disabled.focus,
.btn-down-info.disabled.focus,
a.btn-down-info[disabled].focus,
.btn-down-info[disabled].focus,
fieldset[disabled] a.btn-down-info.focus,
fieldset[disabled] .btn-down-info.focus,
a.btn-down-info.disabled:active,
.btn-down-info.disabled:active,
a.btn-down-info[disabled]:active,
.btn-down-info[disabled]:active,
fieldset[disabled] a.btn-down-info:active,
fieldset[disabled] .btn-down-info:active,
a.btn-down-info.disabled.active,
.btn-down-info.disabled.active,
a.btn-down-info[disabled].active,
.btn-down-info[disabled].active,
fieldset[disabled] a.btn-down-info.active,
fieldset[disabled] .btn-down-info.active {
  background-color: #ffffff;
  border-color: transparent;
}
a.btn-down-info .badge,
.btn-down-info .badge {
  color: #ffffff;
  background-color: #45b2e6;
}
/* 文本按钮 */
/* 编辑类按钮 */
a.btn-text,
.btn-text-info {
  color: #64c6f8;
  background-color: transparent;
  border-color: transparent;
  text-shadow: none;
  box-shadow: none;
}
a.btn-text:focus,
.btn-text-info:focus,
a.btn-text.focus,
.btn-text-info.focus {
  color: #64c6f8;
  background-color: transparent;
  border-color: transparent;
}
a.btn-text:hover,
.btn-text-info:hover {
  color: #64c6f8;
  background-color: rgba(13, 13, 13, 0);
  border-color: rgba(0, 0, 0, 0);
}
a.btn-text:active,
.btn-text-info:active,
a.btn-text.active,
.btn-text-info.active,
.open > .dropdown-togglea.btn-text,
.open > .dropdown-toggle.btn-text-info {
  color: #64c6f8;
  background-color: transparent;
  border-color: transparent;
}
a.btn-text:active:hover,
.btn-text-info:active:hover,
a.btn-text.active:hover,
.btn-text-info.active:hover,
.open > .dropdown-togglea.btn-text:hover,
.open > .dropdown-toggle.btn-text-info:hover,
a.btn-text:active:focus,
.btn-text-info:active:focus,
a.btn-text.active:focus,
.btn-text-info.active:focus,
.open > .dropdown-togglea.btn-text:focus,
.open > .dropdown-toggle.btn-text-info:focus,
a.btn-text:active.focus,
.btn-text-info:active.focus,
a.btn-text.active.focus,
.btn-text-info.active.focus,
.open > .dropdown-togglea.btn-text.focus,
.open > .dropdown-toggle.btn-text-info.focus {
  color: #64c6f8;
  background-color: transparent;
  border-color: transparent;
}
a.btn-text:active,
.btn-text-info:active,
a.btn-text.active,
.btn-text-info.active,
.open > .dropdown-togglea.btn-text,
.open > .dropdown-toggle.btn-text-info {
  background-image: none;
}
a.btn-text.disabled,
.btn-text-info.disabled,
a.btn-text[disabled],
.btn-text-info[disabled],
fieldset[disabled] a.btn-text,
fieldset[disabled] .btn-text-info,
a.btn-text.disabled:hover,
.btn-text-info.disabled:hover,
a.btn-text[disabled]:hover,
.btn-text-info[disabled]:hover,
fieldset[disabled] a.btn-text:hover,
fieldset[disabled] .btn-text-info:hover,
a.btn-text.disabled:focus,
.btn-text-info.disabled:focus,
a.btn-text[disabled]:focus,
.btn-text-info[disabled]:focus,
fieldset[disabled] a.btn-text:focus,
fieldset[disabled] .btn-text-info:focus,
a.btn-text.disabled.focus,
.btn-text-info.disabled.focus,
a.btn-text[disabled].focus,
.btn-text-info[disabled].focus,
fieldset[disabled] a.btn-text.focus,
fieldset[disabled] .btn-text-info.focus,
a.btn-text.disabled:active,
.btn-text-info.disabled:active,
a.btn-text[disabled]:active,
.btn-text-info[disabled]:active,
fieldset[disabled] a.btn-text:active,
fieldset[disabled] .btn-text-info:active,
a.btn-text.disabled.active,
.btn-text-info.disabled.active,
a.btn-text[disabled].active,
.btn-text-info[disabled].active,
fieldset[disabled] a.btn-text.active,
fieldset[disabled] .btn-text-info.active {
  background-color: transparent;
  border-color: transparent;
}
a.btn-text .badge,
.btn-text-info .badge {
  color: transparent;
  background-color: #64c6f8;
}
/* 取消类按钮 */
a.btn-text-cancel,
.btn-text-cancel {
  color: #afafaf;
  background-color: transparent;
  border-color: transparent;
  text-shadow: none;
  box-shadow: none;
}
a.btn-text-cancel:focus,
.btn-text-cancel:focus,
a.btn-text-cancel.focus,
.btn-text-cancel.focus {
  color: #afafaf;
  background-color: transparent;
  border-color: transparent;
}
a.btn-text-cancel:hover,
.btn-text-cancel:hover {
  color: #afafaf;
  background-color: rgba(13, 13, 13, 0);
  border-color: rgba(0, 0, 0, 0);
}
a.btn-text-cancel:active,
.btn-text-cancel:active,
a.btn-text-cancel.active,
.btn-text-cancel.active,
.open > .dropdown-togglea.btn-text-cancel,
.open > .dropdown-toggle.btn-text-cancel {
  color: #afafaf;
  background-color: transparent;
  border-color: transparent;
}
a.btn-text-cancel:active:hover,
.btn-text-cancel:active:hover,
a.btn-text-cancel.active:hover,
.btn-text-cancel.active:hover,
.open > .dropdown-togglea.btn-text-cancel:hover,
.open > .dropdown-toggle.btn-text-cancel:hover,
a.btn-text-cancel:active:focus,
.btn-text-cancel:active:focus,
a.btn-text-cancel.active:focus,
.btn-text-cancel.active:focus,
.open > .dropdown-togglea.btn-text-cancel:focus,
.open > .dropdown-toggle.btn-text-cancel:focus,
a.btn-text-cancel:active.focus,
.btn-text-cancel:active.focus,
a.btn-text-cancel.active.focus,
.btn-text-cancel.active.focus,
.open > .dropdown-togglea.btn-text-cancel.focus,
.open > .dropdown-toggle.btn-text-cancel.focus {
  color: #afafaf;
  background-color: transparent;
  border-color: transparent;
}
a.btn-text-cancel:active,
.btn-text-cancel:active,
a.btn-text-cancel.active,
.btn-text-cancel.active,
.open > .dropdown-togglea.btn-text-cancel,
.open > .dropdown-toggle.btn-text-cancel {
  background-image: none;
}
a.btn-text-cancel.disabled,
.btn-text-cancel.disabled,
a.btn-text-cancel[disabled],
.btn-text-cancel[disabled],
fieldset[disabled] a.btn-text-cancel,
fieldset[disabled] .btn-text-cancel,
a.btn-text-cancel.disabled:hover,
.btn-text-cancel.disabled:hover,
a.btn-text-cancel[disabled]:hover,
.btn-text-cancel[disabled]:hover,
fieldset[disabled] a.btn-text-cancel:hover,
fieldset[disabled] .btn-text-cancel:hover,
a.btn-text-cancel.disabled:focus,
.btn-text-cancel.disabled:focus,
a.btn-text-cancel[disabled]:focus,
.btn-text-cancel[disabled]:focus,
fieldset[disabled] a.btn-text-cancel:focus,
fieldset[disabled] .btn-text-cancel:focus,
a.btn-text-cancel.disabled.focus,
.btn-text-cancel.disabled.focus,
a.btn-text-cancel[disabled].focus,
.btn-text-cancel[disabled].focus,
fieldset[disabled] a.btn-text-cancel.focus,
fieldset[disabled] .btn-text-cancel.focus,
a.btn-text-cancel.disabled:active,
.btn-text-cancel.disabled:active,
a.btn-text-cancel[disabled]:active,
.btn-text-cancel[disabled]:active,
fieldset[disabled] a.btn-text-cancel:active,
fieldset[disabled] .btn-text-cancel:active,
a.btn-text-cancel.disabled.active,
.btn-text-cancel.disabled.active,
a.btn-text-cancel[disabled].active,
.btn-text-cancel[disabled].active,
fieldset[disabled] a.btn-text-cancel.active,
fieldset[disabled] .btn-text-cancel.active {
  background-color: transparent;
  border-color: transparent;
}
a.btn-text-cancel .badge,
.btn-text-cancel .badge {
  color: transparent;
  background-color: #afafaf;
}
/* 删除类按钮 */
a.btn-text-delete,
.btn-text-delete {
  color: #fdb2b2;
  background-color: transparent;
  border-color: transparent;
  text-shadow: none;
  box-shadow: none;
}
a.btn-text-delete:focus,
.btn-text-delete:focus,
a.btn-text-delete.focus,
.btn-text-delete.focus {
  color: #fdb2b2;
  background-color: transparent;
  border-color: transparent;
}
a.btn-text-delete:hover,
.btn-text-delete:hover {
  color: #fdb2b2;
  background-color: rgba(13, 13, 13, 0);
  border-color: rgba(0, 0, 0, 0);
}
a.btn-text-delete:active,
.btn-text-delete:active,
a.btn-text-delete.active,
.btn-text-delete.active,
.open > .dropdown-togglea.btn-text-delete,
.open > .dropdown-toggle.btn-text-delete {
  color: #fdb2b2;
  background-color: transparent;
  border-color: transparent;
}
a.btn-text-delete:active:hover,
.btn-text-delete:active:hover,
a.btn-text-delete.active:hover,
.btn-text-delete.active:hover,
.open > .dropdown-togglea.btn-text-delete:hover,
.open > .dropdown-toggle.btn-text-delete:hover,
a.btn-text-delete:active:focus,
.btn-text-delete:active:focus,
a.btn-text-delete.active:focus,
.btn-text-delete.active:focus,
.open > .dropdown-togglea.btn-text-delete:focus,
.open > .dropdown-toggle.btn-text-delete:focus,
a.btn-text-delete:active.focus,
.btn-text-delete:active.focus,
a.btn-text-delete.active.focus,
.btn-text-delete.active.focus,
.open > .dropdown-togglea.btn-text-delete.focus,
.open > .dropdown-toggle.btn-text-delete.focus {
  color: #fdb2b2;
  background-color: transparent;
  border-color: transparent;
}
a.btn-text-delete:active,
.btn-text-delete:active,
a.btn-text-delete.active,
.btn-text-delete.active,
.open > .dropdown-togglea.btn-text-delete,
.open > .dropdown-toggle.btn-text-delete {
  background-image: none;
}
a.btn-text-delete.disabled,
.btn-text-delete.disabled,
a.btn-text-delete[disabled],
.btn-text-delete[disabled],
fieldset[disabled] a.btn-text-delete,
fieldset[disabled] .btn-text-delete,
a.btn-text-delete.disabled:hover,
.btn-text-delete.disabled:hover,
a.btn-text-delete[disabled]:hover,
.btn-text-delete[disabled]:hover,
fieldset[disabled] a.btn-text-delete:hover,
fieldset[disabled] .btn-text-delete:hover,
a.btn-text-delete.disabled:focus,
.btn-text-delete.disabled:focus,
a.btn-text-delete[disabled]:focus,
.btn-text-delete[disabled]:focus,
fieldset[disabled] a.btn-text-delete:focus,
fieldset[disabled] .btn-text-delete:focus,
a.btn-text-delete.disabled.focus,
.btn-text-delete.disabled.focus,
a.btn-text-delete[disabled].focus,
.btn-text-delete[disabled].focus,
fieldset[disabled] a.btn-text-delete.focus,
fieldset[disabled] .btn-text-delete.focus,
a.btn-text-delete.disabled:active,
.btn-text-delete.disabled:active,
a.btn-text-delete[disabled]:active,
.btn-text-delete[disabled]:active,
fieldset[disabled] a.btn-text-delete:active,
fieldset[disabled] .btn-text-delete:active,
a.btn-text-delete.disabled.active,
.btn-text-delete.disabled.active,
a.btn-text-delete[disabled].active,
.btn-text-delete[disabled].active,
fieldset[disabled] a.btn-text-delete.active,
fieldset[disabled] .btn-text-delete.active {
  background-color: transparent;
  border-color: transparent;
}
a.btn-text-delete .badge,
.btn-text-delete .badge {
  color: transparent;
  background-color: #fdb2b2;
}
.btn-lg {
  padding: 16px 30px;
  font-size: 16px;
  line-height: 1.2em;
  border-radius: 2px;
}
.btn-sm {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.2em;
  border-radius: 2em;
}
.btn-xs {
  padding: 8px 10px;
  font-size: 14px;
  line-height: 1.2em;
  border-radius: 2em;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
/* button */
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 0;
  border-bottom: 1px solid transparent;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 0;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-left: 15px;
  padding-right: 15px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #ddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  border: 0;
  margin-bottom: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0;
}
.panel-group .panel + .panel {
  margin-top: 0;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #dddddd;
}
.panel-group .panel-heading .bord-r-d {
  border-right: 1px dashed #dddddd;
}
.panel-group .panel-heading .panel-info-td {
  line-height: 34px;
  text-align: center;
}
.panel-group .panel-heading .panel-info-td .panel-title {
  height: 39px;
  padding: 0 10px;
}
.panel-group .panel-heading .panel-info-td .panel-title-local {
  font-size: 12px;
}
.panel-group .panel-heading .panel-info-td .panel-title-imp {
  color: #fd9292;
  font-size: 20px;
}
.panel-group .panel-heading .panel-info-td .panel-title-link {
  color: #9dd0ff;
}
.panel-group .panel-heading .panel-info-td .panel-title-time {
  font-size: 30px;
}
.panel-group .panel-heading .panel-info-td .panel-title-tips {
  color: #c2c2c2;
  font-size: 12px;
}
.panel-group .panel-body .panel-detail-table {
  border-collapse: separate;
  border-spacing: 10px;
}
.panel-group .panel-body .panel-detail-table tbody tr .panel-table-num {
  color: #9dd0ff;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #dddddd;
}
.panel-default {
  border-color: #dddddd;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #ffffff;
  border-color: #dddddd;
  border-radius: 0;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
.panel-default > .panel-heading .badge {
  color: #ffffff;
  background-color: #333333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
.panel-primary {
  border-color: #337ab7;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
  border-radius: 0;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}
.panel-primary > .panel-heading .badge {
  color: #337ab7;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  border-radius: 0;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  border-radius: 0;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}
.panel-warning {
  border-color: #faebcc;
}
.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  border-radius: 0;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #faebcc;
}
.panel-warning > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #faebcc;
}
.panel-danger {
  border-color: #ebccd1;
}
.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  border-radius: 0;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}
.panel-danger > .panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}
/* StepByStep */
.steps-3 .steps-show-wrap {
  background: #f8f8f8;
  overflow: hidden;
}
.steps-3 .steps-show {
  padding: 20px;
  margin: 14px;
  background: #fff;
}
.steps-3 .steps-title {
  overflow: hidden;
}
.steps-3 .steps-title .steps-title-t {
  float: left;
  width: 33.33333333%;
  text-align: center;
  padding: 10px 0;
}
.steps-3 .steps-tips {
  overflow: hidden;
}
.steps-3 .steps-tips.steps-tips-2 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_bg_2.png") no-repeat center;
}
.steps-3 .steps-tips.steps-tips-3 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_bg_1.png") no-repeat center;
}
.steps-3 .steps-tips .steps-tip {
  float: left;
  width: 33.33333333%;
  text-align: center;
  position: relative;
  z-index: 100;
}
.steps-3 .steps-tips .steps-tip .steps-tip-icon {
  display: inline-block;
  width: 78px;
  height: 78px;
}
.steps-3 .steps-tips .steps-tip .steps-tip-icon.step-icon-1 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_1.png") no-repeat center;
}
.steps-3 .steps-tips .steps-tip .steps-tip-icon.step-icon-2 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_2.png") no-repeat center;
}
.steps-3 .steps-tips .steps-tip .steps-tip-icon.step-icon-3 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_3.png") no-repeat center;
}
.steps-3 .steps-tips .steps-tip.cur-step .steps-tip-icon {
  display: inline-block;
  width: 78px;
  height: 78px;
}
.steps-3 .steps-tips .steps-tip.cur-step .steps-tip-icon.step-icon-1 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_4.png") no-repeat center;
}
.steps-3 .steps-tips .steps-tip.cur-step .steps-tip-icon.step-icon-2 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_5.png") no-repeat center;
}
.steps-3 .steps-tips .steps-tip.cur-step .steps-tip-icon.step-icon-3 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_6.png") no-repeat center;
}
.steps-3 .steps-tips .steps-tip.done-step .steps-tip-icon {
  display: inline-block;
  width: 78px;
  height: 78px;
}
.steps-3 .steps-tips .steps-tip.done-step .steps-tip-icon.step-icon-1 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_7.png") no-repeat center;
}
.steps-3 .steps-tips .steps-tip.done-step .steps-tip-icon.step-icon-2 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_8.png") no-repeat center;
}
.steps-3 .steps-tips .steps-tip.done-step .steps-tip-icon.step-icon-3 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_9.png") no-repeat center;
}
.steps-3 .steps-lines {
  width: 66.66666667%;
  height: 10px;
  margin: 0 auto;
  margin-top: -44px;
  margin-bottom: 34px;
}
.steps-3 .steps-lines .steps-line {
  float: left;
  width: 50%;
  height: 10px;
}
.steps-3 .steps-lines .steps-line.cur-step {
  background: url("../../image/yidianban_v1.2/stepByStep/step_line_2.png") repeat;
}
.steps-3 .steps-lines .steps-line.done-step {
  background: url("../../image/yidianban_v1.2/stepByStep/step_line_1.png") repeat;
}
.steps-3 .steps-list .steps-step {
  display: none;
}
.steps-3 .steps-list .steps-step.cur-step {
  display: block;
}
.steps-2 .steps-show-wrap {
  background: #f8f8f8;
  overflow: hidden;
}
.steps-2 .steps-show {
  padding: 20px;
  margin: 14px;
  background: #fff;
}
.steps-2 .steps-title {
  overflow: hidden;
}
.steps-2 .steps-title .steps-title-t {
  float: left;
  width: 50%;
  text-align: center;
  padding: 10px 0;
}
.steps-2 .steps-tips {
  overflow: hidden;
}
.steps-2 .steps-tips.steps-tips-2 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_bg_2.png") no-repeat center;
}
.steps-2 .steps-tips.steps-tips-3 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_bg_1.png") no-repeat center;
}
.steps-2 .steps-tips .steps-tip {
  float: left;
  width: 50%;
  text-align: center;
  position: relative;
  z-index: 100;
}
.steps-2 .steps-tips .steps-tip .steps-tip-icon {
  display: inline-block;
  width: 78px;
  height: 78px;
}
.steps-2 .steps-tips .steps-tip .steps-tip-icon.step-icon-1 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_1.png") no-repeat center;
}
.steps-2 .steps-tips .steps-tip .steps-tip-icon.step-icon-2 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_2.png") no-repeat center;
}
.steps-2 .steps-tips .steps-tip .steps-tip-icon.step-icon-3 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_3.png") no-repeat center;
}
.steps-2 .steps-tips .steps-tip.cur-step .steps-tip-icon {
  display: inline-block;
  width: 78px;
  height: 78px;
}
.steps-2 .steps-tips .steps-tip.cur-step .steps-tip-icon.step-icon-1 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_4.png") no-repeat center;
}
.steps-2 .steps-tips .steps-tip.cur-step .steps-tip-icon.step-icon-2 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_5.png") no-repeat center;
}
.steps-2 .steps-tips .steps-tip.cur-step .steps-tip-icon.step-icon-3 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_6.png") no-repeat center;
}
.steps-2 .steps-tips .steps-tip.done-step .steps-tip-icon {
  display: inline-block;
  width: 78px;
  height: 78px;
}
.steps-2 .steps-tips .steps-tip.done-step .steps-tip-icon.step-icon-1 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_7.png") no-repeat center;
}
.steps-2 .steps-tips .steps-tip.done-step .steps-tip-icon.step-icon-2 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_8.png") no-repeat center;
}
.steps-2 .steps-tips .steps-tip.done-step .steps-tip-icon.step-icon-3 {
  background: url("../../image/yidianban_v1.2/stepByStep/step_icon_9.png") no-repeat center;
}
.steps-2 .steps-lines {
  width: 50%;
  height: 10px;
  margin: 0 auto;
  margin-top: -44px;
  margin-bottom: 34px;
}
.steps-2 .steps-lines .steps-line {
  float: left;
  width: 100%;
  height: 10px;
}
.steps-2 .steps-lines .steps-line.cur-step {
  background: url("../../image/yidianban_v1.2/stepByStep/step_line_2.png") repeat;
}
.steps-2 .steps-lines .steps-line.done-step {
  background: url("../../image/yidianban_v1.2/stepByStep/step_line_1.png") repeat;
}
.steps-2 .steps-list .steps-step {
  display: none;
}
.steps-2 .steps-list .steps-step.cur-step {
  display: block;
}
/* StepByStep */
.svcType-icon-1d414c83-0cef-47b5-bee6-a4fb00ba0653 {
  background: url("../../image/yidianban_v1.2/svcType-icon/01.png");
}
.svcType-icon-fe019d30-5220-45c9-b2cf-a4fb00ba0652 {
  background: url("../../image/yidianban_v1.2/svcType-icon/02.png");
}
.svcType-icon-239fc789-0cc3-401d-8bf1-a4fb00ba0644 {
  background: url("../../image/yidianban_v1.2/svcType-icon/03.png");
}
.svcType-icon-241e5ce7-bccc-40fa-8856-a4fb00ba0654 {
  background: url("../../image/yidianban_v1.2/svcType-icon/04.png");
}
.svcType-icon-2e85a60f-eac9-400f-a4ab-a4fb00ba0653 {
  background: url("../../image/yidianban_v1.2/svcType-icon/05.png");
}
.svcType-icon-369957ac-7fff-4123-af30-a4fb00ba0654 {
  background: url("../../image/yidianban_v1.2/svcType-icon/06.png");
}
.svcType-icon-58777232-0de7-4ed6-96e1-a4fb00ba0652 {
  background: url("../../image/yidianban_v1.2/svcType-icon/07.png");
}
.svcType-icon-5c9c3c76-175f-429a-9338-a4fb00ba0654 {
  background: url("../../image/yidianban_v1.2/svcType-icon/08.png");
}
.svcType-icon-5e965c38-9b89-4706-88d2-a4fb00ba0654 {
  background: url("../../image/yidianban_v1.2/svcType-icon/09.png");
}
.svcType-icon-6ff2ba54-226e-4168-860e-a4fb00ba0654 {
  background: url("../../image/yidianban_v1.2/svcType-icon/10.png");
}
.svcType-icon-7bb200e8-1c0f-4c01-a1c4-a4fb00ba0653 {
  background: url("../../image/yidianban_v1.2/svcType-icon/11.png");
}
.svcType-icon-82261400-5947-4287-a01a-a4fb00ba0653 {
  background: url("../../image/yidianban_v1.2/svcType-icon/12.png");
}
.svcType-icon-ba2d04f1-ccb9-470d-9253-a4fb00ba0653 {
  background: url("../../image/yidianban_v1.2/svcType-icon/13.png");
}
.svcType-icon-c829a675-f2dc-442c-b52f-a4fb00ba0653 {
  background: url("../../image/yidianban_v1.2/svcType-icon/14.png");
}
.svcType-icon-cb5aa510-435b-438e-9d50-a4fb00ba0654 {
  background: url("../../image/yidianban_v1.2/svcType-icon/15.png");
}
.svcType-icon-f6a3addc-290f-497d-97af-a4fb00ba0652 {
  background: url("../../image/yidianban_v1.2/svcType-icon/16.png");
}
.svcType-s-icon-1d414c83-0cef-47b5-bee6-a4fb00ba0653 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_01.png");
}
.svcType-s-icon-fe019d30-5220-45c9-b2cf-a4fb00ba0652 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_02.png");
}
.svcType-s-icon-239fc789-0cc3-401d-8bf1-a4fb00ba0644 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_03.png");
}
.svcType-s-icon-241e5ce7-bccc-40fa-8856-a4fb00ba0654 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_04.png");
}
.svcType-s-icon-2e85a60f-eac9-400f-a4ab-a4fb00ba0653 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_05.png");
}
.svcType-s-icon-369957ac-7fff-4123-af30-a4fb00ba0654 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_06.png");
}
.svcType-s-icon-58777232-0de7-4ed6-96e1-a4fb00ba0652 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_07.png");
}
.svcType-s-icon-5c9c3c76-175f-429a-9338-a4fb00ba0654 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_08.png");
}
.svcType-s-icon-5e965c38-9b89-4706-88d2-a4fb00ba0654 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_09.png");
}
.svcType-s-icon-6ff2ba54-226e-4168-860e-a4fb00ba0654 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_10.png");
}
.svcType-s-icon-7bb200e8-1c0f-4c01-a1c4-a4fb00ba0653 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_11.png");
}
.svcType-s-icon-82261400-5947-4287-a01a-a4fb00ba0653 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_12.png");
}
.svcType-s-icon-ba2d04f1-ccb9-470d-9253-a4fb00ba0653 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_13.png");
}
.svcType-s-icon-c829a675-f2dc-442c-b52f-a4fb00ba0653 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_14.png");
}
.svcType-s-icon-cb5aa510-435b-438e-9d50-a4fb00ba0654 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_15.png");
}
.svcType-s-icon-f6a3addc-290f-497d-97af-a4fb00ba0652 {
  background: url("../../image/yidianban_v1.2/svcType-icon/s_16.png");
}
.d-inb {
  display: inline-block;
  *display: inline-block;
  *zoom: 1;
}
.dis-n {
  display: none;
}
