
label {
    max-width:inherit;
}

/*boostrap custom*/
.navbar {
    margin-bottom: 0;
}

.navbar .navbar-brand {
    height: 105px;
    line-height: 75px;
    font-family: "Microsoft YaHei", "Î¢ÈíÑÅºÚ", "ºÚÌå", "ËÎÌå", sans-serif;
    font-size: 27px;
    font-style: italic;
    font-weight: 700;
    color: #1db7d6;
}

.navbar .navbar-brand:hover {
    color: #1db7d6;
}

.navbar .navbar-nav {
    height: 105px;
    line-height: 105px;
    font-size: 16px;
}

.navbar .navbar-nav > li {
    height: 105px;
    display: table;
}

.navbar .navbar-nav > li > a {
    display: table-cell;
    vertical-align: middle;
}

.narbar-top-links {
    margin-right: 0px;
}

.sidebar {
    display: block;
    /*float: left;*/
    position: absolute;
    /*padding-top: 81px;*/
    width: 150px;
    background: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}
.content {
    display: block;
    overflow: hidden;
    width: auto;
}

/*metisMenu custom*/
.sidebar-nav {
    border-bottom: 1px solid #e7e7e7;
    /*background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));*/
    /*background-image: linear-gradient(to right, #333333 10px, #222222 10px);*/
    /*background-repeat: repeat-x;*/
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);*/
}
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
    outline: none;
}
.sidebar-nav ul li, .sidebar-nav ul a {
    display: block;
}

.sidebar-nav ul li.disabled, .sidebar-nav ul li.disabled a {
    cursor: not-allowed;
    color: #ccc;
    background-color: transparent;
}

.sidebar-nav ul a {
    font-size: 16px;
    padding: 10px 20px;
    color: #1db7d6 ;
    border-top: 1px solid #e7e7e7;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
    text-shadow: 0 1px 1px rgba(64, 64, 64, 0.3);
}
.sidebar-nav ul a:hover, .sidebar-nav ul a:focus, .sidebar-nav ul a:active {
    color: #fff;
    text-decoration: none;
    background: #3794bd;
}
.sidebar-nav ul ul a {
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active {
    background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-item {
    padding-left: 5px;
}
.sidebar-nav-item-icon {
    padding-right: 5px;
}