
label {
    max-width:inherit;
}

/*boostrap custom*/
.navbar {
    margin-bottom: 0;
    box-shadow: 2px 0 4px 0 #96a0aa;
    background: #fff;
}

.navbar .navbar-brand {
    height: 105px;
    line-height: 75px;
    font-family: "Microsoft YaHei", "微软雅黑", "黑体", "宋体", sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: #1db7d6;
}

.navbar .navbar-brand:hover {
    color: #1db7d6;
}

.navbar .navbar-nav {
    /*height: 105px;*/
    /*line-height: 105px;*/
    font-size: 16px;
}


.navbar .navbar-nav > li {
    height: 105px;
    display: table;
}

.navbar .navbar-nav > li > a {
    display: table-cell;
    vertical-align: middle;
    color: #1a87ab;
    /*line-height: 1.2;*/
}

.navbar .navbar-nav > li > a:hover {
    color: #1a87ab;
}

.narbar-top-links {
    margin-right: 0px;
}

.sidebar {
    display: block;
    /*float: left;*/
    position: absolute;
    /*padding-top: 81px;*/
    width: 150px;
    background: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}
.content {
    display: block;
    overflow: hidden;
    width: auto;
}

/*metisMenu custom*/
.sidebar-nav {
    border-bottom: 1px solid #e7e7e7;
    /*background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));*/
    /*background-image: linear-gradient(to right, #333333 10px, #222222 10px);*/
    /*background-repeat: repeat-x;*/
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);*/
}
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
    outline: none;
}
.sidebar-nav ul li, .sidebar-nav ul a {
    display: block;
}

.sidebar-nav ul li.disabled, .sidebar-nav ul li.disabled a {
    cursor: not-allowed;
    color: #ccc;
    background-color: transparent;
}

.sidebar-nav ul a {
    font-size: 14px;
    padding: 10px 20px;
    color: #337ab7 ;
    border-top: 1px solid #e7e7e7;

}
.sidebar-nav ul a:hover, .sidebar-nav ul a:focus, .sidebar-nav ul a:active {
    color: #fff;
    text-decoration: none;
    background: #3794bd;
}
.sidebar-nav ul ul a {
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active {
    background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-item {
    padding-left: 5px;
}
.sidebar-nav-item-icon {
    padding-right: 5px;
}
/*以下是fu自定义样式的内容*****/
.nav-li-bj 
{
    background:url(../image/nav-li-bj.png) no-repeat;
    background-position: 0 center;
    }
.navbar-header img{ margin-left:30px;}
.navbar .navbar-brand {
  
  color: #1a87ab;
}
.navbar .navbar-brand:hover {
  
  color: #1a87ab;
}
.caret {
  color:#347ab7;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  /*vertical-align: middle;*/
  border-top: 7px dashed;
  border-top: 7px solid \9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background:url(../image/nav-li-bj.png) no-repeat;
    background-position: 0 40px;
}

.navbar-nav > li > .dropdown-menu {
    border-radius: 4px;
}

.dropdown-menu > li > a {
    display: block;
    width: 148px;
    padding: 3px 3px;
    padding-left:12px;
    color: #333;
    background:url(../image/shop-icon-2.png) no-repeat;
    background-position: 30px center;
    white-space: nowrap;
}
.dropdown-menu > li:hover 
{
    background:#3794bf;
   
}
.dropdown-menu > li > a:hover {
    background:url(../image/shop-icon-5.png) no-repeat;
    background-position: 30px center;
    color:#FFF;
}
.dropdown-menu {
  position: absolute;
  top: 80%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100px;
  padding: 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align:center;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
    overflow: hidden;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.sidebar-nav ul #menu-1:hover{
      background: #3794bd;
    }
.sidebar-nav ul #menu-2:hover{
      background: #3794bd;
    }
.sidebar-nav ul #menu-5:hover{
      background: #3794bd;
    }
#menu-1{ background: #3794bd;}
#menu-1 a {
    background:url(../image/shop-icon-18.png) no-repeat;
    background-position: 12px 10px;
    padding-left:32px;
     color: #fff;
    }
 #menu-1 a:hover {
    background:url(../image/shop-icon-18.png) no-repeat;
    background-position: 12px 10px;
    padding-left:32px;
    color: #fff;
    }
    
    #menu-2 a {
    background:url(../image/menu-2-icon-1.png) no-repeat;
    background-position: 12px 10px;
    padding-left:32px;
    }
 #menu-2 a:hover {
    background:url(../image/menu-2-icon-2.png) no-repeat;
    background-position: 12px 10px;
    padding-left:32px;
    }
    
  #menu-3 a {
    background:url(../image/menu-3-icon-hui.png) no-repeat;
    background-position: 12px 10px;
    padding-left:32px;
    }
 #menu-3 a:hover {
    background:url(../image/menu-3-icon-hui.png) no-repeat;
    background-position: 12px 10px;
    padding-left:32px;
    }
    
   #menu-4 a {
    background:url(../image/menu-4-icon-hui.png) no-repeat;
    background-position: 12px 10px;
    padding-left:32px;
    }
 #menu-4 a:hover {
    background:url(../image/menu-4-icon-hui.png) no-repeat;
    background-position: 12px 10px;
    padding-left:32px;
    }
     
 #menu-5 a {
    background:url(../image/menu-5-icon-1.png) no-repeat;
    background-position: 12px 10px;
    padding-left:32px;
    }
 #menu-5 a:hover {
    background:url(../image/menu-5-icon-2.png) no-repeat;
    background-position: 12px 10px;
    padding-left:32px;
    }
    
    
 