/*订单列表样式*/
.list-item-odd {
    background-color: #f1f4f7;
}

.order-total {
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 25px;
}

.order-head {
    text-align: center;
    padding: 25px 0;
    font-weight: bold;
}

.order-table {
    text-align: center;
}

.order-table thead {
    background: #8dc2f3;
}

.order-table thead tr th{
    padding: 20px 0;
    text-align: center;
    color: #fff;
    border-left: 1px solid #9DD0FF;
}

.order-table tbody tr td {
    text-align: center;
    padding: 10px;
    word-break: break-all;
}

.order-table tbody tr{
    cursor: pointer;
}

/*.order-table tbody tr:hover{*/
    /*background: #b0d3f5;*/
    /*color: #fff;*/
/*}*/

.order-span-status {
    background: #c1e2b3;
    color: #fff;
}

.order-span-ctrl {
    color: #60b7ea;
    border: 1px solid #60b7ea;
    padding: 5px;
}


.order-status-detail {
    overflow: hidden;
    margin-bottom: 15px;
}

.order-steps {
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

.order-status-step {
    display: inline-block;
    text-align: center;
}

.order-status-step.ml{
    margin-left: 100px;
}

.order-status-step.mr{
    margin-right: 100px;
}

.order-status-step.cur-step .icon{
    background: yellow;
}

.order-status-step.done-step .icon{
    background: green;
}

.order-lines {

}
/*订单列表图标*/
.order-icon-status1 {
    height: 54px;
    width: 54px;
    vertical-align: bottom;
    margin-right: 10px;
}