/*.serviceInfoArea { height:198px; padding: 0 20px; border-bottom: 20px solid #dfebf6; color: #58789a;}*/
/*.serviceInfoTilte { height:71px; line-height:71px; color:#58789a; font-size:19px; font-weight:bold; }*/

/*.headInfo {*/
    /*width: 208px;*/
    /*height: 108px;*/
    /*float: left;*/
    /*font-size: 13px;*/
/*}*/

/*.headImage {*/
    /*width: 110px;*/
    /*height: 110px;*/
    /*text-align: center;*/
    /*line-height: 110px;*/
    /*float: left;*/
/*}*/

/*.headImage img {*/
    /*margin: 0 auto;*/
    /*vertical-align: middle;*/
/*}*/

/*.ServiceShops {*/
    /*margin-top: 20px;*/
    /*font-size: 20px;*/
    /*display: block;*/
/*}*/

/*.InfoCompletetxt {*/
    /*margin-top: 10px;*/
    /*display: block;*/
/*}*/

/*.headEditImg {*/
    /*width: 115px;*/
    /*height: 108px;*/
    /*line-height: 108px;*/
    /*text-align: center;*/
    /*float: right;*/
    /*background: url("../image/service/shop_guanli_14.png") no-repeat;*/
/*}*/

/*.satisfaction {*/
    /*font-size: 30px;*/
    /*font-weight: bold;*/
    /*color: #fff;*/
/*}*/

/*.headInfoArea {*/
    /*width: 100%;*/
    /*height: 108px;*/
    /*background: #f6fafe;*/
    /*position: relative;*/
    /*/!*border-bottom: #dbe6f2 1px solid;*!/*/
/*}*/

/*.service-list-container {*/
    /*min-height: 700px;*/
/*}*/

.service-title { padding: 0 20px; height:60px; background:#f6fafe; border-bottom:#dbe6f2 1px solid; line-height:60px; }
.service-title span { color:#58789a; font-size:17px; font-weight:bold; vertical-align: middle; }

/*店铺创建页面无内容样式*/
.service-new {
}

.new-box {
    position: relative;
}

.service-new-add {
    width: 240px;
    height: 58px;
    position: absolute;
    margin: 0 auto;
    margin-top: -24px;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;

}

a.new-add-btn {
    background: #fff;
    display: block;
    width: 240px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    border: 2px solid #3e95bf;
    color: #3e95bf;
    font-size: 18px;
    border-radius: 30px;
}

/*end*/

/*服务列表样式*/
.list-item-odd {
    background-color: #f1f4f7;
}

.service-default-titles {
    font-size: 16px;
    padding: 14px;
    color: #fff;
    background: #8dc2f3;
}

.service-default-list>.cont-row{
    padding: 14px;

    /*border-left: 5px solid transparent;*/

}

.service-default-list>.cont-row:hover{
    /*padding: 14px;*/
    /*border-left: 5px solid #8dc1f2;*/
    background: #b0d3f5;
    color: #fff;
}


.service-list-item .cont-row {
    height: 34px;
    line-height: 34px;
}

/*服务信息查看页面样式*/
.service-info {
    margin: -14px -14px 0 -14px;
    padding: 40px 14px ;
    line-height: 2.5em;
}

.service-info.info-top {
    border-top: 14px solid #c9edfe;
}

.service-info.info-bottom {
    border-top: 14px solid #c3f3e2;
}

/*.service-info-title {*/
    /*font-size: 15px;*/
    /*font-weight: 700;*/
/*}*/

.service-info-text{
    padding-right: 10px;
}

.cont-input-tip {
    display: inline-block;
    background: #f9faed;
    border: 1px solid #fdeb96;
    padding: 3px 10px 3px 10px;
    margin-top: 10px;
    color: #666;
}

.cont-input-tip .icon-tip{
    margin-right: 10px;
    background: url("../image/tip-icon.png") no-repeat center;
    width: 16px;
    height: 16px;
}

/*服务编辑页面样式*/
.service-cont-row {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

/*服务地图编辑样式*/
.map-container {
    position: relative;
}

.map-result {
    position: absolute;
    top: 5px;
    left: 200px;
    background: rgba(74, 74, 74, 0.5);
    padding: 5px;
    color: #fff;
    border-radius: 2px;
    background: #666\9;
}

.map-result-input {
    cursor: text;
    margin-left: 10px;
    color: #444;
    width: 280px;
    height: 30px;
    line-height: 30px;
}

.map-radius-result {
    position:absolute;
    top: 5px;
    left: 650px;
    background: rgba(74, 74, 74, 0.5);
    padding: 5px;
    color: #fff;
    border-radius: 2px;
    background: #666\9;
}

.map-radius-select {
    color: #444;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border: none;
}

/*店铺编辑步骤样式*/
.step-row {
    padding: 15px 0;
    margin-right: -15px;
}

.step-head {
    font-size: 28px;
    vertical-align: middle;
    font-style: italic;
    padding: 0 20px;
    text-align: center;
}

.step-head em{
    font-style: italic;
    font-family: fantasy;
    padding: 0 10px;
}

.step-head.step-1{
    color: #76b5d3;
}

.step-head.step-2{
    color: #66bc9e;
}

.step-text {
    vertical-align: middle;
    padding: 5px;
    font-size: 16px;
    font-style: italic;
    margin-top: 3px;
    margin-left: -10px;
}

.step-text.step-1{
    background: #c9edfe;
    color: #448eb3;
}

.step-text.step-2{
    background: #c3f3e2;
    color: #66bc9e;
}

/*服务选择样式*/
.serviceChoice {
    /*padding: 20px 0 0 20px;*/
}

.serviceChoice ul li a{
    color: #fff;
    display: block;
    padding: 5px;
    text-align: center;
    text-overflow: clip;
    word-break: break-all;
    /*border-left: 1px solid #f1fbff;*/
    /*border-top: 1px solid #f1fbff;*/
    /*border-bottom: 1px solid #c3cfdb;*/
    /*border-radius: 5px 0 0 5px;*/
    background: #549DC8;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-left: 1px solid transparent;
}

.serviceChoice ul li a:hover{
    /*padding: 5px;*/
    color: #57789B;
    /*border-left: 1px solid #96b2ca;*/
    /*border-top: 1px solid #58789a;*/
    /*border-bottom: 1px solid #c4cdd4;*/
    /*border-radius: 5px 0 0 5px;*/
    background: #fff;
    border-top: 1px solid #549DC8;
    border-bottom: 1px solid #549DC8;
    border-left: 1px solid #549DC8;
}

/*服务细节条目包围*/
/*.serviceRightWrap {*/
    /*width: 100%;*/
    /*/!*border-left: 1px solid #dfe3e6;*!/*/
    /*float: left;*/
    /*background: #fff;*/
/*}*/

/*.serviceRight {*/
    /*box-sizing: border-box;*/
    /*width: 100%;*/
    /*padding: 20px;*/
    /*background: #fff;*/
/*}*/

/*服务选项弹窗样式*/

/*.serviceTabs {*/
    /*background: #fff;*/
    /*/!*padding: 10px;*!/*/
/*}*/

/*.serviceTabsItem {*/
    /*float: left;*/
    /*font-size: 13px;*/
    /*width: 200px;*/
/*}*/

/*.ser-chk-title {*/
    /*padding: 10px;*/
    /*font-size: 13px;*/
    /*color: #58789a;*/
/*}*/

/*.ser-chk-show {*/
    /*box-sizing: border-box;*/
    /*padding: 10px;*/
    /*color: #58789a;*/
    /*border: #dbe6f2 1px solid;*/
    /*border-radius: 3px;*/
    /*width: 100%;*/
    /*margin-bottom: 10px;*/
/*}*/

/*.ser-chk-show span {*/
    /*display: inline-block;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
    /*border: #dbe6f2 1px solid;*/
    /*border-radius: 3px;*/
    /*background: #f6fafe;*/
    /*color: #58789a;*/
    /*font-size: 13px;*/
/*}*/

.ser-btn-SerType {
    border: 0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 2px;
    background: #549DC8;
}

/*.serviceTabsItem .item {*/
    /*cursor: pointer;*/
    /*padding: 5px;*/
    /*border-radius: 3px;*/
/*}*/

/*.serviceTabsItem .item:hover {*/
    /*background: #31b6fb;*/
    /*color: #fff;*/
/*}*/

/*.serviceTabsItem .radioCk {*/
    /*background : #ffa81f;*/
    /*color : #fff;*/
/*}*/
/*#setSerTypeShow {*/
    /*overflow: hidden;*/
/*}*/
/*/!*end*!/*/


.business-radioCk{
    padding: 5px;
    color: #fff;
    background: #ffa81f;
    border-radius: 5px;
}

.business-radioCf {
    padding: 5px;
    color: #fff;
    background: #8CC8E4;
    border-radius: 2px;
}

/*.level0{display: block; padding:5px 10px; background: #f6fafe; border: 1px solid #dbe6f2;font-size: 13px; margin: 3px; border-radius: 5px;}*/
/*.level1{display: block; padding:5px 10px; background: #eff6fc; border: 1px solid #dbe6f2;font-size: 13px; margin: 3px; border-radius: 5px;}*/
/*.level2{display: inline-block; padding:5px 10px; background: #e3edf7; border: 1px solid #dbe6f2;font-size: 13px; margin: 3px; border-radius: 5px;}*/
/*.level3{display: inline-block; padding:5px 10px; background: #d6e2ee; border: 1px solid #dbe6f2;font-size: 13px; margin: 3px; border-radius: 5px;}*/

/*服务页面条目标题样式*/
.service-item-title {
    height: 26px;
    line-height: 26px;
    margin-bottom: 10px;
    /*background: #dbe6f2;*/
}

.service-icon-star {
    width: 21px;
    height: 21px;
    background: url("../image/service/icon_10.png") no-repeat center;
}

.service-detail-title {
    text-align: right;
    padding-right: 20px;
    height: 50px;
    line-height: 50px;
}

.service-checkBox {
    height: 40px;
    line-height: 40px;
}

/*.service-icon-serType { background: url("../image/service/shop_guanli_06.png");  }*/
/*.service-icon-serIntro { background: url("../image/service/shop_guanli_07.png");  }*/
/*.service-icon-serArea { background: url("../image/service/shop_guanli_08.png");  }*/
/*.service-icon-serLocal { background: url("../image/service/shop_guanli_05.png");  }*/
/*.service-icon-LIC { background: url("../image/service/shop_guanli_12_1.png");  }*/
/*.service-icon-serTimeSet { background: url("../image/service/shop_guanli_11.png");  }*/
/*.service-icon-dateSet { background: url("../image/service/shop_guanli_09.png");  }*/
/*.service-icon-timeSet { background: url("../image/service/shop_guanli_10.png");  }*/

/*.serviceDetailsLeft {*/
    /*float: left;*/
    /*width: 290px;*/

/*}*/

/*.serviceDetailsRight {*/
    /*float: right;*/
    /*padding-left: 20px;*/
/*}*/



/*.service-md {*/
    /*margin-bottom: 20px;*/
/*}*/

/*.service-md-title {*/
    /*margin-bottom: 10px;*/
    /*position: relative;*/
    /*width: 287px;*/
    /*height: 35px;*/
    /*line-height: 35px;*/
    /*padding-left: 10px;*/
    /*background: #f6f9fe;*/
    /*border-left: 5px solid #60c7ce;*/
/*}*/

/*.servie-icon-mdItem { height: 35px; width: 38px; background: url("../image/service/shop_icon_03.png") no-repeat center; position: absolute; right: 0; top: 0; }*/
/*.servie-icon-mdRound { height: 35px; width: 38px; background: url("../image/service/shop_icon_02.png") no-repeat center; position: absolute; right: 0; top: 0; }*/
/*.servie-icon-mdStand { height: 35px; width: 38px; background: url("../image/service/shop_icon_01.png") no-repeat center; position: absolute; right: 0; top: 0; }*/

/*.service-md-main {*/
    /*padding-left: 15px;*/
/*}*/

/*.service-md-mleft {*/
    /*float: left;*/
    /*width: 329px;*/
    /*margin-right: 50px;*/
/*}*/

/*.service-md-mright {*/
    /*float: left;*/

/*}*/

/*.service-md-box {*/
    /*padding-bottom: 20px;*/
    /*border-bottom: 1px solid #d7e3f1;*/
    /*margin-bottom: 20px;*/
/*}*/

/*.service-m {*/
    /*margin-bottom: 10px;*/
/*}*/

.service-input-radio tr{
    float: left;
    margin-right: 20px;
    height: 40px;
    line-height: 40px;
}

.service-input-radio input{
    margin-right: 10px;
}

/*.service-input-area {*/
    /*width: 250px;*/
    /*height: 100px;*/
    /*padding: 5px;*/
    /*border: #dbe6f2 1px solid;*/
    /*border-radius: 3px;*/
    /*background: #f6fafe;*/
    /*color: #58789a;*/
    /*font-size: 13px;*/

/*}*/

/*.service-input-mid {*/
    /*width: 122px;*/
    /*height: 20px;*/
    /*padding: 5px;*/
    /*line-height: 20px;*/
    /*border: #dbe6f2 1px solid;*/
    /*border-radius: 3px;*/
    /*background: #f6fafe;*/
    /*color: #58789a;*/
    /*font-size: 13px;*/
    /*vertical-align: middle;*/
    /*box-sizing: content-box\9;*/
/*}*/

/*.service-input-sm {*/
    /*width: 52px;*/
    /*height: 20px;*/
    /*padding: 5px;*/
    /*line-height: 20px;*/
    /*border: #dbe6f2 1px solid;*/
    /*border-radius: 3px;*/
    /*background: #f6fafe;*/
    /*color: #58789a;*/
    /*font-size: 13px;*/
    /*vertical-align: middle;*/
    /*box-sizing: content-box\9;*/
/*}*/

.serviceIntroduced {
    width: 285px;
    height: 110px;
    border: #dbe6f2 1px solid;
    background: #f6fafe;
    color: #58789a;
    font-size: 13px;
    padding: 5px;
}


.setLocationDate {
    width: 180px;
}

.setLocationHint {
    font-size: 13px;
    color: #aaa;
    line-height: 1.2em;
    padding: 5px 0;
}

/*.setLocationMap {*/
    /*width: 200px;*/
    /*height: 150px;*/
    /*background: url("../image/service/img_map.png") no-repeat center;*/
/*}*/

.business-text {
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    background: #549DC8;
    color: #fff;
    border-radius: 2px;
    /*height: 17px;*/
    min-height: 38px;
}

.business-text span {
    margin-right: 5px;
}

/*服务页面地图样式*/
#allmap{
    width:100%;
    height:500px;
}


/*.sp-style {*/
    /*cursor: pointer;*/
    /*display: inline-block;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*margin: 2px;*/
    /*text-align: center;*/
    /*background: #ccc;*/
/*}*/
/*.sp-style-on {*/
    /*background: green;*/
/*}*/
/*#radius-container{padding: 5px;}*/
/*#addError,*/
/*#delError,*/
/*#saveError{color:red;display: none;}*/


#businessMap {
    width: 100%;
    height: 500px;
}

.mapWrap {
    box-sizing: content-box;
    position: relative;
    width: 700px;
    height: 500px;
    border: 5px solid #58789a;
    border-radius: 5px;
}

.mapMain {
    position: absolute;
}

.mapSub {
    width: 200px;
    height: 150px;
}

.mapCity {
    position: absolute;
    left: 5px;
    top: 5px;
    background: #f6fafe;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}


.mapButton {
    position: absolute;
    top: 12px;
    left: 427px;

}

/*服务表单样式*/
.ser-sm-input {
    border: 1px solid #dbe6f2;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    background: #549DC8;
}

.service-icon-hr {
    height: 32px;
    width: 20px;
    background: url("../image/service/shop_guanli_16.png") no-repeat center;
    margin: 0 7px;
}

.service-saveSubmit {
    padding: 20px;
    text-align: center;
}

/*.service-saveSubmit-btn {*/
    /*border: 0;*/
    /*width: 104px;*/
    /*height: 42px;*/
    /*background: url("../image/service/shop_tx_107.png") no-repeat center;*/
/*}*/

.bottomArea {
    position: relative;
    width: 100%;
    background: #cadbec;
    height: 98px;
    clear: both;
    display: block;
    line-height: 98px;
    text-align: center;
}

.bottomArea input {
    margin: 20px;
    margin-top: 30px;
}

.account {
    height: 1138px;
    display: none;
}



/*设置下拉选框宽高*/
.select-xm { width: 80px; height: 30px; line-height: 30px; border: 1px solid #C0D1E3; color: #58789a; }
.select-xm cite { width: 80px; line-height: 28px; }
.select-xm ul { width: 80px; line-height: 30px; }


.serviceDataRadio {
    display: inline-block;
    vertical-align: middle;
}

.serviceDataRadio tr {
    float: left;
    margin-right: 5px;
}

.iptag {
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    border: #C0D1E3 1px solid;
    border-radius: 0;
    background: #f3f5f9;
    color: #58789a;
    font-size: 14px;
    vertical-align: middle;
    box-sizing: content-box\9;
}
/***fu**/
#menu-1{ margin-top:25px;background: #f8f8f8;}
#menu-1 a {
    background:url(../image/shop-icon-12.png) no-repeat;
    background-position: 12px 10px;
    padding-left:32px;
    color: #337ab7;
    }
#menu-2{background: #3794bd;}
    #menu-2 a {
    background:url(../image/menu-2-icon-2.png) no-repeat;
    background-position: 12px 10px;
    padding-left:32px;
    color: #fff;
    }
