.message-panel{ overflow:hidden;}
.message-panel-content{ background:#cadbec; padding-top:10px;  overflow:hidden;}
.message-p-c{ border-radius:3px; background:#FFF;overflow:hidden;}
.message-p-c-t{ background:#11adde; height:32px; line-height:32px; padding:5px;border-radius:3px;}
.message-p-c-t span{ float:right; font-size:12px;}
.message-p-c-c{ color:#58789a; font-size:15px; padding-left:10px; padding-top:10px; padding-right:10px; }
.message-line{ height:1px;border-bottom:#90a8c1 solid 1px; margin-top:10px;}
.message-p-c-c-c{ padding-bottom:10px;}
.message-p-c-c-b{height:32px; line-height:32px; padding:5px;}
.message-p-c-c-b-l{ float:left;}
.message-p-c-c-b-r{ float:right;}
.message-sq{ height:30px; overflow:hidden;}
.collection-message{ display:none;}
