/* CSS Document */

.info-title{ height:40px; line-height:40px; color:#617e9c;}
.info-content{ background:#FFF; overflow:hidden;}
.my-li{ border-bottom:#cadbec solid 1px; overflow:hidden;}
.my-li2{border-bottom:#cadbec solid 1px;overflow:hidden; padding-top:10px; padding-bottom:5px;}

.my-li3{overflow:hidden; padding-top:10px;padding-top:5px;}

.info-content a{color:#617e9c;}
.info-content a:hover{color:#617e9c;}
.ul-left{ float:left; overflow:hidden;}
.ul-left2{ float:left;height:80px; line-height:80px;margin-right:10px;}
.ul-right{ float:right; position:relative;}
.li-inco{ background:url(../images/ul-jt.png) no-repeat; width:11px; height:42px; margin-left:8px;}

