@sidebarColor : #fff;

.sidebar {
  display: block;
  position: absolute;
  width: 150px;
}

.sidebar-fixed {
  display: block;
  position: fixed;
  top: 0;
  width: 150px;
}

.sidebar-title {
  display: inline-block;
  color: @sidebarColor;
  font-weight: 700;
  text-shadow: 0 -1px 0 #000;
}

.sidebar-nav {

  ul{
    padding: 0;
    margin: 0;
    list-style: none;

    li{
      display: block;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaea+0,aaaaaa+100;White+3D */
      background: #eaeaea; /* Old browsers */
      background: -moz-linear-gradient(top,  #eaeaea 0%, #aaaaaa 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #eaeaea 0%,#aaaaaa 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #eaeaea 0%,#aaaaaa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */


      .item-icon {
        //width: 72px;
        //height: 72px;
        //margin-bottom: 10px;
        //transition: all 0.2s ease-in-out;
      }


      &.disabled {
        cursor: not-allowed;
        color: #ccc;
        background-color: transparent;
        a{
          cursor: not-allowed;
          color: #ccc;
          background-color: transparent;
        }
      }

      //&.active {
      //  a{
      //    .icon{
      //      -webkit-transform: scale(1.2);
      //      -moz-transform: scale(1.2);
      //      -ms-transform: scale(1.2);
      //      -o-transform: scale(1.2);
      //      transform: scale(1.2);
      //      zoom:1.2\9;
      //    }
      //  }
      //}
      //
      //&:not(.active) {
      //  .item-icon {
      //    &:hover {
      //      -webkit-transform: scale(1.2);
      //      -moz-transform: scale(1.2);
      //      -ms-transform: scale(1.2);
      //      -o-transform: scale(1.2);
      //      transform: scale(1.2);
      //    }
      //  }
      //}

      a {
        outline: none;
        display: block;
        font-size: 14px;
        padding: 20px 20px;
        color: @sidebarColor ;
        text-align: center;

        &:hover,
        &:focus,
        &:active {
          outline: none;
          display: block;
          text-decoration: none;
        }
      }

    }
  }
}

//.sidebar-icon-biz {
//  background: url("../../image/yidianban_v1.2/side/icon01-up-72x72.png") no-repeat center;
//}
//.sidebar-icon-svc {
//  background: url("../../image/yidianban_v1.2/side/icon03-up-72x72.png") no-repeat center;
//}
//.sidebar-icon-emp {
//  background: url("../../image/yidianban_v1.2/side/icon02-up-72x72.png") no-repeat center;
//}
//.sidebar-icon-order {
//  background: url("../../image/yidianban_v1.2/side/icon04-up-72x72.png") no-repeat center;
//}
//.sidebar-icon-dash {
//  background: url("../../image/yidianban_v1.2/side/icon05-up-72x72.png") no-repeat center;
//}