
/*标签样式*/
.pTagContainer {

}

.spTag {
  background: #ececec;
  color: #424242;
  padding: 5px;
  margin-right: 10px;
}

.spTagText {

}

.spTagDel {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background: url("../image/shop-icon-13.png") no-repeat center;
  color: transparent;
  border: 0;
}
