<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="ServerNum" value="0"/>
    <add key="PayServerNum" value="0"/>
    <add key="UpdateSchema" value="0"/>

    <add key="UseHttps" value="false"/>
    <!-- <add key="MonitorEmails" value="issumao@126.com,550700860@qq.com,609805657@qq.com,502647115@qq.com"/>value为空，表示不发邮件-->
    <add key="MonitorEmails" value=""/>
    <!--value为空，表示不发邮件-->
  </appSettings>
  <connectionStrings>
    <add name="DianzhuConnectionString"  connectionString="KkZl+RcgPXnCbMShFyd0hjMlkcFdWYFnxqk3+yt3M5ObS3hkRw1MZxTtAp/7JrAMrJUyeflfTwPIMZ4qSnstUwsg0lgYhErFrf8FyrlZiY8="/>
    <add name="ydb_membership"  connectionString="KkZl+RcgPXnCbMShFyd0hjMlkcFdWYFnxqk3+yt3M5ObS3hkRw1MZxTtAp/7JrAMlUgwtpQiOl/ECJagwLqvzxyDgrY2sBMZ"/>
    <add name="ydb_instantmessage"  connectionString="KkZl+RcgPXnCbMShFyd0hjMlkcFdWYFnxqk3+yt3M5ObS3hkRw1MZxTtAp/7JrAMlUgwtpQiOl+v6wmB01uwpYye0hq2uOjX"/>
    <add name="ydb_finance"  connectionString="KkZl+RcgPXnCbMShFyd0hjMlkcFdWYFnxqk3+yt3M5ObS3hkRw1MZxTtAp/7JrAMlUgwtpQiOl9FA7X/AZygKnD12jpHLdwG"/>
    <add name="ydb_common"  connectionString="KkZl+RcgPXnCbMShFyd0hjMlkcFdWYFnxqk3+yt3M5ObS3hkRw1MZxTtAp/7JrAMlUgwtpQiOl8vCNf5S08P8w=="/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <pages clientIDMode="Static" maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="UC" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
      </controls>
    </pages>
 
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
 
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" />
    </authentication>
    <membership defaultProvider="DZMembershipProvider">
      <providers>
        <clear />
        <add name="DZMembershipProvider" type="Ydb.Membership.Application.DZMembershipProvider" connectionStringName="ydb_membership" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="jsyk_YdBan@126.com">
        <network host="smtp.126.com" port="25" defaultCredentials="false" userName="jsyk_YdBan" password="jizwwslsngwbqbpe" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <staticContent>
      <!--
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            -->
    </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="maintain.html" />
            </files>
        </defaultDocument>
    <!--<modules runAllManagedModulesForAllRequests="false">
       
      <add name="IocModule" type="Dianzhu.Web.Common.IocModule" preCondition="managedHandler" />
    </modules>-->
      
     
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
     
      <dependentAssembly>
        <assemblyIdentity name="Mono.Reflection" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>
</configuration>