<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="DianzhuConnectionString"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;database=Dianzhu"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <!--cdn 网址，不末尾不要加斜杠（/）-->
    <add key="cdnroot" value="http://localhost:8464/cdn"/>
  </appSettings>

</configuration>
