<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="ServerNum" value="0" />
    <add key="PayServerNum" value="0" />
    <add key="UpdateSchema" value="0" />

    <add key="UseHttps" value="false" />
    <!-- <add key="MonitorEmails" value="issumao@126.com,550700860@qq.com,502647115@qq.com"/>value为空，表示不发邮件-->
    <add key="MonitorEmails" value="" />
    <!--value为空，表示不发邮件-->
  </appSettings>
  <connectionStrings>
    <add name="DianzhuConnectionString" connectionString="KkZl+RcgPXnCbMShFyd0hjMlkcFdWYFnxqk3+yt3M5ObS3hkRw1MZxTtAp/7JrAMrJUyeflfTwPIMZ4qSnstUwsg0lgYhErFrf8FyrlZiY8=" />
    <add name="ydb_membership" connectionString="KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butghFWq0OENuAEIrOIwLDDr+g==" />
    <add name="ydb_instantmessage" connectionString="KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butggjqsq8arFr3xa40vIxgfSw8tBjVJIUi/" />
    <add name="ydb_finance" connectionString="KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butg4sgJcMG8h6c+rg0KBSoWnQ==" />
    <add name="ydb_common" connectionString="KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butgWahlRAtl2Hmr3UTsiPY2mw==" />
    <add name="ydb_businessresource" connectionString="KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butgko+yZ/pFhbYPsg2h7x+2MRkG3xEMPKXO" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>