<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <appSettings>
    <!--
    ################本地配置数据#############
    -->
    <!--即时通讯服务器地址和域名-->
    <add key="ImServer"  value="192.168.3.172"/>
    <add key="MediaUploadUrl" value="http://192.168.3.172:8038/UploadFile.ashx"/>
    <add key="MediaGetUrl" value="http://192.168.3.172:8038/GetFile.ashx?fileName="/>
    <add key="PayUrl" value="http://192.168.3.172:8168/"/>
    <!--openfire restapi  获取在线会话 url地址-->
    <add key="OpenfireRestApiSessionListUrl" value="http://192.168.3.172:9090/plugins/restapi/v1/sessions/"/>
    <!--openfire restapi  用户验证key-->
    <add key="OpenfireRestApiAuthKey" value="an4P0ja6v3rykV4H"/>


  </appSettings>
  <connectionStrings>

    <add name="DianzhuConnectionString"
         connectionString="data source=192.168.3.172;uid=root;pwd=root;database=dianzhu_publish_test"
         providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="Debug"/>

    </root>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/%property{log4net:HostName}_log.log" />
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="LogFileAppenderNhibernate" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/%property{log4net:HostName}_nhibernate.log" />
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <logger name="Dianzhu">
      <appender-ref ref="LogFileAppender"/>
    </logger>
    <logger name="NHibernate">
      <level value="Info"/>
      <appender-ref ref="LogFileAppenderNhibernate"/>
    </logger>
  </log4net>
  <runtime>
    <loadFromRemoteSources enabled="true " />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>