<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <clear/>
    <add name="DianzhuConnectionString"
         connectionString="data source=localhost;uid=root;pwd=root;database=dianzhu_test"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CityId" value="2"/>
  </appSettings>
</configuration>