<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <clear/>
    <add name="DianzhuConnectionString_Test"
         connectionString="Server=.\sqlexpress;Trusted_Connection=Yes;DataBase=Dianzhu"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CityId" value="2"/>
  </appSettings>
</configuration>