<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <connectionStrings configSource="config\connectionStrings.config">
  
  </connectionStrings>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network" deliveryFormat="SevenBit" from="17092089640@163.com">
        <network host="smtp.163.com" port="25" defaultCredentials="false" userName="17092089640" password="qwsinjnweaanwxqn"/>
      </smtp>
    </mailSettings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ploeh.AutoFixture" publicKeyToken="b24654c590009d4f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.47.6.0" newVersion="3.47.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
