<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.20.0" targetFramework="net40" />
  <package id="Castle.Core" version="3.3.1" targetFramework="net40" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net40" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" />
  <package id="NHibernate" version="4.0.0.4000" targetFramework="net40" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net40" />
  <package id="TestStack.Dossier" version="3.1.1" targetFramework="net40" />
</packages>