<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ServerNum" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PayServerNum" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="UseHttps" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MonitorEmails" value="issumao@126.com,550700860@qq.com,502647115@qq.com"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--<add key="MonitorEmails" value=""/>-->
    <!--value为空，表示不发邮件-->
  </appSettings>

</configuration>