<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MongoDB" connectionString="dWU7hS29EeIiGPPRoa/Y7zFbreTUdMma" />
    <!--localhost:dWU7hS29EeIiGPPRoa/Y7zFbreTUdMma   112.74.198.215:dWU7hS29EeIGFB6vQBGon9Wk9TbmRxH7ZPFMpsy2Wyg=-->
  </connectionStrings>
  <appSettings>
    
    <!--2017元旦活动连接和消息正则-->
    <add key="CheckUri" value="http://wx.ydban.cn/api.ashx" />
    <add key="CheckRegex" value="^WA1Da8Lk\d*d6gh1ota$" />
    <!--<add key="codeStart" value="WA1Da8Lk"/>
    <add key="codeEnd" value="d6gh1ota"/>-->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ServerNum" value="4" />
    <add key="PayServerNum" value="4" />
    <add key="UpdateSchema" value="0" />
    <add key="UseHttps" value="false" />
    <!-- <add key="MonitorEmails" value="issumao@126.com,550700860@qq.com,502647115@qq.com"/>value为空，表示不发邮件-->
    <add key="MonitorEmails" value="" />
    <!--value为空，表示不发邮件-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>