@model IList<Dianzhu.Web.RestfulApi.Models.log>
@{
    Layout = null;
}

<table class="table table-hover"  style="word-break:break-all; word-wrap:break-word;">@* table-layout:fixed;*@
    <tr>
        <th >
            反问时间
        </th>
        <th >
            访问日志
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="time_td">
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td  class="message_td">
                @Html.DisplayFor(modelItem => item.message)
            </td>
        </tr>
    }
</table>