<?xml version="1.0"?>
<!--
TEST  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings configSource="config\connectionStrings.config"/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication configSource="config\authentication.config"/>
    <membership configSource="config\membership.config"/>
    <pages configSource="config\pages.config"/>
  </system.web>
  <appSettings configSource="config\appSettings.config"/>
</configuration>