<?xml version="1.0" encoding="utf-8" ?>
 
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
  <add key="server" value="192.168.3.172" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="domain" value="192.168.3.172" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

  <add key="MediaUploadUrl" value="http://192.168.3.172:8038/UploadFile.ashx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="MediaGetUrl" value="http://192.168.3.172:8038/GetFile.ashx?fileName=" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="PayUrl" value="http://192.168.3.172:8168/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <!--openfire restapi  获取在线会话 url地址-->
  <add key="OpenfireRestApiSessionListUrl" value="http://192.168.3.172:9090/plugins/restapi/v1/sessions/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

</appSettings>