<?xml version="1.0"?>
 
  <appSettings>
    <!--
    ################本地配置数据#############
    -->
    <!--即时通讯服务器地址和域名-->
    <add key="local.ImServer"  value="192.168.3.172"/>
    <add key="local.ImDomain" value="192.168.3.172"/>
    <add key="local.MediaUploadUrl" value="http://192.168.3.172:8038/UploadFile.ashx"/>
    <add key="local.MediaGetUrl" value="http://192.168.3.172:8038/GetFile.ashx?fileName="/>
    <add key="local.PayUrl" value="http://192.168.3.172:8168/"/>
    <!--openfire restapi  获取在线会话 url地址-->
    <add key="local.OpenfireRestApiSessionListUrl" value="http://192.168.3.172:9090/plugins/restapi/v1/sessions/"/>
    <!--openfire restapi  用户验证key-->
    <add key="local.OpenfireRestApiAuthKey" value="an4P0ja6v3rykV4H"/>

    <!--
    ################服务器配置数据#############
    -->
    <add key="server.ImServer"  value="192.168.3.172"/>
    <add key="server.ImDomain" value="192.168.3.172"/>

    <add key="server.MediaUploadUrl" value="http://192.168.3.172:8038/UploadFile.ashx"/>
    <add key="server.MediaGetUrl" value="http://192.168.3.172:8038/GetFile.ashx?fileName="/>
    <add key="server.PayUrl" value="http://192.168.3.172:8168/"/>
    <!--openfire restapi  获取在线会话 url地址-->
    <add key="server.OpenfireRestApiSessionListUrl" value="http://192.168.3.172:9090/plugins/restapi/v1/sessions/"/>
    <!--openfire restapi  用户验证key-->
    <add key="server.OpenfireRestApiAuthKey" value="an4P0ja6v3rykV4H"/>

    <!--所有环境下都相同的配置,以all.开头-->
    <add key="all.ButtonNamePrefix" value="btn"/>
    
  </appSettings>