<?xml version="1.0"?>
 
  <appSettings>
    <!--cdn 网址，不末尾不要加斜杠（/）-->
    <!-- home pc
    <add key="server" value="20141220-pc"/>
    <add key="domain" value="20141220-pc"/>
    <add key="WebServerRoot" value="http://localhost:8033"/>
    
    company:
    <add key="server" value="192.168.1.140"/>
    <add key="domain" value="192.168.1.140"/>
    <add key="WebServerRoot" value="http://192.168.1.140:8033"/>
    
    115.159.72.236
    192.168.1.140
    -->
    <add key="server" value="ydban.cn"/>
    <add key="domain" value="ydban.cn"/>
    
    <add key="MediaUploadUrl" value="http://115.159.72.236:8038/UploadFile.ashx"/>
    <add key="MediaGetUrl" value="http://115.159.72.236:8038/GetFile.ashx?fileName="/>
    <add key="PayUrl" value="http://ydban.cn:8168/"/>
    
    <add key="ButtonNamePrefix" value="btn"/>
    
  </appSettings>