<?xml version="1.0"?>
 
  <appSettings>
    <!--cdn 网址，不末尾不要加斜杠（/）-->
    <!-- home pc
    <add key="server" value="20141220-pc"/>
    <add key="domain" value="20141220-pc"/>
    <add key="WebServerRoot" value="http://localhost:8033"/>
    
    company:
    <add key="server" value="192.168.1.140"/>
    <add key="domain" value="192.168.1.140"/>
    <add key="WebServerRoot" value="http://192.168.1.140:8033"/>
    -->
    <add key="server" value="192.168.1.140"/>
    <add key="domain" value="192.168.1.140"/>
    <add key="WebServerRoot" value="http://192.168.1.140:8033"/>
    <add key="MediaUploadUrl" value="http://192.168.1.140:8037/UploadFile.ashx"/>
    <add key="MediaGetUrl" value="http://192.168.1.140:8037/GetFile.ashx?fileName="/>
    
    
    <add key="ButtonNamePrefix" value="btn"/>
    
  </appSettings>