<?xml version="1.0"?>
<membership defaultProvider="DZMembershipProvider" >
  <providers>
    <clear/>
    <add name="DZMembershipProvider" type="Dianzhu.BLL.DZMembershipProvider" connectionStringName="DianzhuConnectionString"
         maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"
          minRequiredNonalphanumericCharacters="0"
         passwordAttemptWindow="10" applicationName="/"/>
  </providers>
</membership>