<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <publishUrl>E:\projects\publish\Web.AdminAgent</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DianzhuConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)openfire-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_apiclient-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_businessresource-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_common-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_finance-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_instantmessage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_membership-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_notice-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_order-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_paygateway-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_push-Web.config Connection String" />
  </ItemGroup>
</Project>