<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>business.dev.ydban.cn</MSDeployServiceURL>
    <DeployIisAppPath>8047_AdminAgent</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>deployer</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ydb_businessresource" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_ydb_businessresource___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfvrcsIWrfr/QFo+AN9ZYgpilw0RpEy/FlAYoRSoDjx0/QILrwP9IJdmz/RD1emLUbRw9do6Ry3cBg==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_businessresource_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_ydb_businessresource___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfvrcsIWrfr/QFo+AN9ZYgpilw0RpEy/FlAYoRSoDjx0/QILrwP9IJdmz/RD1emLUbRw9do6Ry3cBg==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_instantmessage" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_ydb_instantmessage___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfulNlVHor4vC9UOP0yckCIPU6kB9itzTcGbS3hkRw1MZxC1qKIrmpWTnI1JVJ/BFoA=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_instantmessage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_ydb_instantmessage___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfulNlVHor4vC9UOP0yckCIPU6kB9itzTcGbS3hkRw1MZxC1qKIrmpWTnI1JVJ/BFoA=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_mediaserver" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_ydb_mediaserver___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfva1Xgr2wYbvKsA7SZL7hv9XYf8NwQOMnWee6NHOTrIFlqHZKHPlcuse6EXqDseHxo=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_mediaserver_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_ydb_mediaserver___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfva1Xgr2wYbvKsA7SZL7hv9XYf8NwQOMnWee6NHOTrIFlqHZKHPlcuse6EXqDseHxo=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_membership" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_ydb_membership___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfv2kWyS/tJyoG/lFU5zTTX9eFLCQv9tUfh1Wo9eZIuad7EZnZh47R8pkIUTfDvMIRE=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_membership_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_ydb_membership___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfv2kWyS/tJyoG/lFU5zTTX9eFLCQv9tUfh1Wo9eZIuad7EZnZh47R8pkIUTfDvMIRE=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_paygateway" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_ydb_paygateway___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfsEODF4dUEw6x3i+PWLcd4+eFLCQv9tUfh1Wo9eZIuad7EZnZh47R8pkIUTfDvMIRE=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_paygateway_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_ydb_paygateway___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfsEODF4dUEw6x3i+PWLcd4+eFLCQv9tUfh1Wo9eZIuad7EZnZh47R8pkIUTfDvMIRE=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_apiclient" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_ydb_apiclient___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfvgy0X+pOMQc/MDWj2gVecwG4hgqi5HScV4UsJC/21R+MSxNfjOkimuWUjI2SE2j5U=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_apiclient_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_ydb_apiclient___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfvgy0X+pOMQc/MDWj2gVecwG4hgqi5HScV4UsJC/21R+MSxNfjOkimuWUjI2SE2j5U=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_finance" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_ydb_finance___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfuWggjOZ75TF70WVCFil1IYzn01D43Jz73hfzwEZJh22FJSbKvZ9yLD" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_finance_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_ydb_finance___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfuWggjOZ75TF70WVCFil1IYzn01D43Jz73hfzwEZJh22FJSbKvZ9yLD" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_common" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_ydb_common___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVftrJoAY4PURQw3zDqsqiRHRm0t4ZEcNTGcQtaiiK5qVk5yNSVSfwRaA" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_common_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_ydb_common___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVftrJoAY4PURQw3zDqsqiRHRm0t4ZEcNTGcQtaiiK5qVk5yNSVSfwRaA" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_notice" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_ydb_notice___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfsN6Ic4bLUym1OpAfYrc03Bm0t4ZEcNTGcQtaiiK5qVk5yNSVSfwRaA" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_notice_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_ydb_notice___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfsN6Ic4bLUym1OpAfYrc03Bm0t4ZEcNTGcQtaiiK5qVk5yNSVSfwRaA" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_order" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_ydb_order___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfuEYbYvGuQdcas/u/W5TE+tLoqExI90bGZLI3lYf9D1yWLAExzFanjt" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_order_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_ydb_order___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfuEYbYvGuQdcas/u/W5TE+tLoqExI90bGZLI3lYf9D1yWLAExzFanjt" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_push" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_ydb_push___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfu59Df9SE91aO22b2VsvnFY3cB+Yxc9sl2Sf45Pkefewm2py1ROdZoj" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_push_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_ydb_push___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfu59Df9SE91aO22b2VsvnFY3cB+Yxc9sl2Sf45Pkefewm2py1ROdZoj" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="openfire" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_openfire_3_10_3___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELDta2/eZLdWbbadannUiQEaWUgVcndBJ7XYf8NwQOMnWee6NHOTrIFlqHZKHPlcuse6EXqDseHxo=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\openfire_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_openfire_3_10_3___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELDta2/eZLdWbbadannUiQEaWUgVcndBJ7XYf8NwQOMnWee6NHOTrIFlqHZKHPlcuse6EXqDseHxo=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)openfire-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_apiclient-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_businessresource-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_common-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_finance-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_instantmessage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_membership-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_notice-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_order-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_paygateway-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_push-Web.config Connection String" />
  </ItemGroup>
</Project>