<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ydb_finance"  connectionString="localhost_ydb_finance___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfuWggjOZ75TF70WVCFil1IYzn01D43Jz73hfzwEZJh22FJSbKvZ9yLD"/>
    <add name="ydb_instantmessage"  connectionString="localhost_ydb_instantmessage___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfulNlVHor4vC9UOP0yckCIPU6kB9itzTcGbS3hkRw1MZxC1qKIrmpWTnI1JVJ/BFoA="/>
    <add name="ydb_businessresource"  connectionString="localhost_ydb_businessresource___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfvrcsIWrfr/QFo+AN9ZYgpilw0RpEy/FlAYoRSoDjx0/QILrwP9IJdmz/RD1emLUbRw9do6Ry3cBg=="/>
    <add name="ydb_membership"  connectionString="localhost_ydb_membership___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfv2kWyS/tJyoG/lFU5zTTX9eFLCQv9tUfh1Wo9eZIuad7EZnZh47R8pkIUTfDvMIRE="/>
    <add name="ydb_common"  connectionString="localhost_ydb_common___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVftrJoAY4PURQw3zDqsqiRHRm0t4ZEcNTGcQtaiiK5qVk5yNSVSfwRaA"/>
    <add name="ydb_order"  connectionString="localhost_ydb_order___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfuEYbYvGuQdcas/u/W5TE+tLoqExI90bGZLI3lYf9D1yWLAExzFanjt"/>
    <add name="ydb_paygateway"  connectionString="localhost_ydb_paygateway___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfsEODF4dUEw6x3i+PWLcd4+eFLCQv9tUfh1Wo9eZIuad7EZnZh47R8pkIUTfDvMIRE="/>
    <add name="ydb_push"  connectionString="localhost_ydb_push___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfu59Df9SE91aO22b2VsvnFY3cB+Yxc9sl2Sf45Pkefewm2py1ROdZoj"/>
    <add name="ydb_apiclient"  connectionString="localhost_ydb_apiclient___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfvgy0X+pOMQc/MDWj2gVecwG4hgqi5HScV4UsJC/21R+MSxNfjOkimuWUjI2SE2j5U="/>
    <add name="ydb_notice"  connectionString="localhost_ydb_notice___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfsN6Ic4bLUym1OpAfYrc03Bm0t4ZEcNTGcQtaiiK5qVk5yNSVSfwRaA"/>
    <add name="ydb_mediaserver"  connectionString="localhost_ydb_mediaserver___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfva1Xgr2wYbvKsA7SZL7hv9XYf8NwQOMnWee6NHOTrIFlqHZKHPlcuse6EXqDseHxo="/>
    <add name="openfire"  connectionString="localhost_openfire_3_10_3___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELDta2/eZLdWbbadannUiQEaWUgVcndBJ7XYf8NwQOMnWee6NHOTrIFlqHZKHPlcuse6EXqDseHxo="/>
  </connectionStrings>
  <appSettings>

    <add key="ServerNum" value="4" />
    <add key="PayServerNum" value="4" />
    <add key="UpdateSchema" value="1" />

    <add key="UseHttps" value="false" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>