<?xml version="1.0"?>
 
  <appSettings>

    <!--
    ################本地配置数据#############
    -->
    <!--即时通讯服务器地址和域名-->
    <add key="ImServer"  value="119.29.39.211"/>
    <add key="ImDomain" value="119.29.39.211"/>
    <add key="MediaUploadUrl" value="http://119.29.39.211:8038/UploadFile.ashx"/>
    <add key="MediaGetUrl" value="http://119.29.39.211:8038/GetFile.ashx?fileName="/>
    <add key="PayUrl" value="http://119.29.39.211:8168/"/>

    <add key="APIBaseURL" value="http://119.29.39.211:8037/DianzhuApi.ashx"/>

    <add key="DiandianLoginId" value="dc73ba0f-91a4-4e14-b17a-a567009dfd6a"/>
    <add key="DiandianLoginPwd" value="diandian"/>
  </appSettings>