@charset "utf-8";
/*!
 * @名称：base.css
 * @功能：1、重设浏览器默认样式
 *       2、设置通用原子类
 */
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    background:white;
    color:black;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section,iframe {
    margin:0;
    padding:0;
}
/* 要注意表单元素并不继承父级 font 的问题 */
button,input,select,textarea {
    font:12px \5b8b\4f53,arial,sans-serif;
}
input,select,textarea {
    font-size:100%;
}
input {
    cursor: pointer;
}
/* 去掉 table cell 的边距并让其边重合 */
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* ie bug：th 不继承 text-align */
th {
    text-align:inherit;
}
/* 去除默认边框 */
fieldset,img {
    border:none;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:none;
    font-variant:normal;
}
/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}
address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}
/* 去掉列表前的标识，li 会继承 */
ol,ul {
    list-style:none;
}
/* 对齐是排版最重要的因素，别让什么都居中 */
caption,th {
    text-align:left;
}
/* 来自yahoo，让标题都自定义，适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}
q:before,q:after {
    content:'';
}
/* 统一上标和下标 */
sub,sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
sup {
    top:-0.5em;
}

sub {
    bottom:-0.25em;
}

a {
    color : inherit;
}

/* 让链接在 hover 状态下不显示下划线 */
a:hover {
    text-decoration:none;
}
/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}
/* 去除 ie6 & ie7 焦点点状线 */
a:focus,*:focus {
    outline:none;
}

a:visited {
    color: inherit;
}

/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
    overflow:hidden;
}
.clearfix {
    zoom:1;  /* for ie6 & ie7 */
}

.clear {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
}

/* 设置显示和隐藏，通常用来与 js 配合 */
.hide {
    display:none;
}
.block {
    display:block;
}

html { background:#263650; }

body {
    font: 15px/1.2 Arial,"Microsoft YaHei","微软雅黑","黑体","宋体",sans-serif;
}

.fl { float:left; }
.fr { float:right; }

.t-c { text-align: center; }
.t-r { text-align: right; }

.v-m { vertical-align: middle; }

.d-inb { display: inline-block; *display: inline-block;*zoom: 1;}
.dis-n { display: none; }

.m-auto { margin:0 auto; }
.m-l20 { margin-left: 20px; }
.m-l50 { margin-left: 50px; }
.m-r20 { margin-right: 20px; }
.m-r50 { margin-right: 50px; }
.m-b20 { margin-bottom: 20px; }
.m-b50 { margin-bottom: 50px; }

.p-20 { padding: 20px; }
.p-l20 { padding-left: 20px; }

.f-s13 { font-size: 13px; }
.f-s15 { font-size: 15px; }
.f-s17 { font-size: 17px; }
.f-s20 { font-size: 20px; }

.l-h16 { line-height: 1.6em; }

.icon {
    display: inline-block;
    *display: inline-block;
    *zoom: 1;
    width: 20px;
    height: 20px;
    background: cadetblue no-repeat center;
    vertical-align: middle;
    content: "";
}

.wrap { padding: 50px 0; background:#263650; }

.mainContent{ margin: 0 auto; width:1000px; }

.leftContent{ width:79px; float:left; background:#4b6c8b;}

.rightContent{ width:921px; float:left; background:#fff;}

.con-wrap {
    background: #cadceb;
    color: #58789a;
}


/* 顶栏样式 */
.topnav { background:#3d5b77; height:71px;}

.dianzhuicon{ background:url("../image/topnavbj.png") no-repeat center; height:71px; width:79px; float:left;}

.menuList {float:right;}

.menuList ul li{ float:right; }

/* 顶栏与侧边栏图标 */
.nav-btn {
    display: inline-block;
    *display: inline-block;
    *zoom: 1;
    width: 79px;
    height: 71px;
    background: url("../image/nav_btn.png") no-repeat center;
    vertical-align: middle;
    content: "";
}

.nav-btn-coup { background:url("../image/shop_icon_6.png"); width: 79px; height: 70px; }
.nav-btn-myshop { background-position: -0px -217px; width: 79px; height: 70px; }
.nav-btn-service { background-position: -810px -145px; width: 79px; height: 70px; }
.nav-btn-order { background-position: -648px -145px; width: 79px; height: 70px; }
.nav-btn-employee { background-position: -486px -145px; width: 79px; height: 70px; }
.nav-btn-msg { background-position: -324px -145px; width: 79px; height: 70px; }

.side-btn-coupTotal { background-position: -162px -0px; width: 79px; height: 70px; }
.side-btn-coupSet { background-position: -0px -0px; width: 79px; height: 70px; }
.side-btn-coupVip { background-position: -162px -216px; width: 79px; height: 70px; }

.side-btn-myshop { background-position: -324px -0px; width: 79px; height: 70px; }
.side-btn-secret { background-position: -648px -72px; width: 79px; height: 70px; }

.side-btn-order { background-position: -648px -0px; width: 79px; height: 70px; }
.side-btn-orderDeal { background-position: -810px -0px; width: 79px; height: 70px; }
.side-btn-orderHis { background-position: -0px -72px; width: 79px; height: 70px; }

.side-btn-service { background-position: -162px -72px; width: 79px; height: 70px; }
.side-btn-serviceSet { background-position: -324px -72px; width: 79px; height: 70px; }

.side-btn-msgDeal { background-position: -324px -144px; width: 79px; height: 70px; }
.side-btn-msgFav { background-position: -162px -144px; width: 79px; height: 70px; }
.side-btn-msgHis { background-position: -0px -144px; width: 79px; height: 70px; }

/*select 初始化样式*/
.select { display:block; position: relative; background: url("../image/select_icon.png") no-repeat right;}
.select cite { display: block; text-indent: 0.8em; border: 1px solid #e7ebee; }
.select ul { position: absolute; border: 1px solid #e7ebee; z-index:10; background: #fff;}
.select a { display: block; text-indent: 0.8em; }
.select a:hover { background: #f6fafe; }

/* 图片上传框样式 */
.input-file-box {
    position: relative;
    width: 90px;
    height: 90px;
    overflow: hidden;
}

.input-file-btn {
    position: absolute;
    z-index: 3;
    width: 90px;
    height: 90px;
    opacity: 0;
}

.input-file-bg {
    position: absolute;
    z-index: 1;
    background: #ccc;
    width: 90px;
    height: 90px;
}

.input-file-pre {
    position: absolute;
    z-index: 2;
    width: 90px;
    height: 90px;
}