

.coup-title {
    padding: 20px;
}

.coup-nav {
    background: #f6fafe;
}

.coup-nav-l li{
    float: left;
    padding: 20px 40px;
    background: url("../image/coupon/youhuiquan_mid%204x60.png") no-repeat right;
}



.coup-nav .vip {
    width: 90px;
    height: 52px;
    padding-top: 5px;
    color: #fff;
    border-bottom: 1px solid #e89707;
    background: #ffba3e;
    text-align: center;
}

.coup-vip-icon {
    width: 26px;
    height: 26px;
    background: url("../image/coupon/gengduo_up.png");
}


/* 开通会员页 */
.vip-title {
    font-size: 17px;
    height: 41px;
    line-height: 41px;
}

.vip-icon-close {
    width: 41px;
    height: 36px;
    background: url("../image/vip/shop_back_3.png") no-repeat center;
}

.vip-wrap {
    padding:25px ;
}

.coup-ad {
    background: #fff;
    padding: 20px;
}

.coup-ad-top {
    height: 300px;
    background: url("../image/vip/shop_youhui_1.png") no-repeat center;
}

.coup-ad-bottom {
    height: 300px;
    background: url("../image/vip/shop_youhui_2.png") no-repeat center;
}

/*.coup-m {*/
    /*background: #fff;*/
    /*padding: 20px;*/
/*}*/

.coup-m-t {
    font-size: 20px;
    margin-bottom: 20px;
}

.coup-m-p {
    width: 520px;
}

.coup-m-p .str {
    font-size: 16px;
    height: 22px;
    line-height: 22px;
}

.coup-sub {
    padding-bottom: 20px;
}

.coup-on-btn {
    color: #fff;
    text-align: center;
    margin:  0 auto;
    height: 44px;
    line-height: 44px;
    width: 131px;
    background: url("../image/vip/shop_burrton_2.png") no-repeat center;
}

/* 增发优惠卷页 */
.extend-main {
    background: #fff;
    padding: 20px 38px;
}

.extend-nav-l li{
    float: left;
    padding: 20px 40px;
}

.extend-m-price {
    margin-bottom: 20px;
}

.extend-m-intro {
    color: #ddd;
    margin-bottom: 10px;
}

.m-price-t {
    font-size: 16px;
    margin-bottom: 10px;
}

.m-price-input {
    margin-right: 20px;
}

.m-set-intro {
    font-size: 14px;
    padding: 10px 0;
}

.m-set-intro i {
    font-size: 16px;
    margin-right: 20px;
    background: #04d5b5;
}

.m-set-t {
    width: 140px;
    height: 30px;
    line-height: 30px;
    background: #04d5b5;
    text-align: center;
    color: #fff;
}

.m-set-l li{
    padding: 10px 0;
}

.m-set-l li input {
    margin-right: 10px;
}

.m-set-l li em {
    font-size: 16px;
    color: #06b5ec;
}

.extend-m-submit {
    height: 70px;
    line-height: 70px;
    padding: 10px;
    background: #f6fafe;
}

.extend-sub-btn {
    color: #fff;
    width: 130px;
    height: 45px;
    border: none;
    margin-left: 20px;
    text-align: center;
    background: #06b5ec;
}


/* 优惠劵统计页面 */
.coupon-total-con {
    padding-top: 35px;
    background: #f6fafe;
}

.total-head {
    padding: 36px 50px;
}

.head-item-data {
    margin: 0 20px;
    padding-top: 20px;
    text-align: center;
}

.head-item-pic {
    width: 203px;
    height: 126px;
    background: #06b5ec;
}

.total-main {
    padding: 20px;
    background: #e6f0f5;
}

.total-tree {
    width: 350px;
    padding: 15px;
    background: #fff;
}

.total-tree-title {
    height: 65px;
    text-align: center;
 }

.total-tree .tree-item {
    width: 157px;
    height: 157px;
    background: #ccc;
    font-size: 14px;
}

.total-tree-btn {
    display: block;
    width: 141px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}

.total-info {
    padding: 20px;
    width: 440px;
    background: #fff;
    font-size: 14px;
}

.total-info .col {
    float: left;
    display: block;
    padding-left: 20px;
}

.total-info .col-1 { width: 14em; }
.total-info .col-2 { width: 5em; }
.total-info .col-3 { width: 4em; }
.total-info .col-4 { width: 2em; }

.total-info-title {
    height: 33px;
    line-height: 33px;
    background: #f8fafc;
    margin-bottom: 5px;
    border-bottom: 1px solid #d6d8d8;
}

.total-list-item {
    height: 50px;
    line-height: 50px;
    background: #f8fafc;
    margin-bottom: 5px;
    border: 1px solid #eef3f4;
}

.total-list-item .h-icon {
    width: 40px;
    height: 40px;
}

/* 优惠劵设置页面*/
.coup-set-wrap {
    border-top: 30px solid #dbe6f2;
    background: #fff;
}

.coup-set-main {
    padding: 30px;
}

/* 图标设置 */
.coup-set-main .icon{
    width: 26px;
    height: 26px;
}

.set-icon-price { background: url("../image/coupon/Money_mid.png"); }
.set-icon-num { background: url("../image/coupon/sheding_up.png"); }
.set-icon-name { background: url("../image/coupon/shangchuan_up.png"); }
.set-icon-intro { background: url("../image/coupon/dianpu_up.png"); }
.set-icon-position { background: url("../image/coupon/shangquan_up.png"); }
.set-icon-address { background: url("../image/coupon/xiangxi_up.png"); }
.set-icon-act { background: url("../image/coupon/huodong_up.png"); }
.set-icon-act-intro { background: url("../image/coupon/jieshao_up.png"); }
.set-icon-upload { background: url("../image/coupon/shangchuan_up.png"); }

.set-icon-change {
    width: 66px;
    height: 32px;
    border: 0;
    background: url("../image/coupon/xiugai_right%2066x32.png") no-repeat center;
}

.set-icon-sub {
    width: 150px;
    height: 54px;
    border: 0;
    background: url("../image/coupon/queding_down%20150x54.png") no-repeat center;
}


.coup-set-stand .set-input {
    width: 130px;
    height: 32px;
    padding: 0 10px;
    border: 1px solid #b9cdda;
    border-radius: 2px;
    background: #f6fafe;
}

.set-title {
    width: 303px;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    background: #dbe6f2;
    margin-bottom: 10px;
}

.set-title-stand { background: url("../image/coupon/Money_up%20318x34.png") no-repeat center;}
.set-title-more { background: url("../image/coupon/shanghu_up%20318x34.png") no-repeat center;}

.set-cont {
    padding: 12px 12px 30px 12px;
}

.coup-set-more .set-input {
    width: 320px;
    height: 32px;
    border: 1px solid #b9cdda;
    border-radius: 2px;
    background: #f6fafe;
}

.set-cont-l {
    width: 320px;
}

.set-cont-r {
    width: 365px;
}

.set-cont-h {
    margin-bottom: 10px;
}

.set-cont-detail {
    margin-bottom: 20px;
}

.coup-set-more .set-input-area {
    width: 304px;
    height: 120px;
}

.coup-set-district .set-input-area {
    width: 168px;
    height: 70px;
    margin-bottom: 12px;
    border: 1px solid #b9cdda;
    border-radius: 2px;
    background: #f6fafe;
}

.coup-set-main .map {
    width: 135px;
    height: 135px;
    background: #ccc;
}

.input-file-box {
    position: relative;
    width: 90px;
    height: 90px;
    overflow: hidden;
}

.input-file-btn {
    position: absolute;
    z-index: 2;
    width: 90px;
    height: 90px;
    opacity: 0;
}

.input-file-bg {
    position: absolute;
    background: #ccc;
    width: 90px;
    height: 90px;
}