.emp-wrap {
    background: #cadbec;
    padding-top: 20px;
}

.emp-con {
    min-height: 580px;
    background: #f0f4fb;
    color: #58789a;
    font-size: 15px;
}

.emp-bar-t {
    font-size: 17px;
    line-height: 30px;
    height: 30px;
}

.emp-bar {
    padding: 20px;
    background: #f6fafe;
}

.emp-bar-btn input{
    border: 0;
    width: 100px;
    height: 32px;
}

.emp-btn-bg1 {
    background: url("../image/employee/tianjia_left%20100x32.png") no-repeat center;
}
.emp-btn-bg2 {
    background: url("../image/employee/shanjian_right%20100x32.png") no-repeat center;
}


.emp-nav {
    margin-bottom: 5px;
}

.emp-nav-type {
    background: #fff;
    border-top: 1px solid #dae3ec;
    border-bottom: 1px solid #dae3ec;
}

.emp-nav-type .nav-type-l li{
    float: left;
    display: block;
    width: 100px;
    text-align: center;
    padding: 8px 0;
}

.nav-type-l {
    width: 80%;
    float: left;
}

.nav-type-l li span {
    display: block;
    height: 26px;
    line-height: 26px;
    border-right: 1px solid #dae3ec;
}

.nav-type-switch {
    height: 42px;
    overflow: hidden;
}

.nav-type-switch input {
    width: 38px;
    height: 42px;
    border: 0;
    margin-right: 1px;
    float: left;
}

.emp-btn-bg3 {
    background: url("../image/employee/fanye_left.png") no-repeat center;
}
.emp-btn-bg4 {
    background: url("../image/employee/fanye_right.png") no-repeat center;
}

.emp-nav-d {
    background: #f6fafe;
    border-bottom: 1px solid #dae3ec;
}

.nav-d-l li{
    float: left;
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.emp-d .col{
    float: left;
}

.emp-d .col-7{
    float: right;
}

.emp-d-title {
    background: url("../image/employee/shop_line_01.png") repeat-x center;
    padding: 10px 20px;
    height: 27px;
    line-height: 27px;
    margin-bottom: 5px;
}

.emp-d-title input{
    color: #58789a;
    background: none;
    border: 0;
    vertical-align: middle;
}

.emp-d-title .search-btn {
    background: url("../image/employee/chaxun_left%2024x20.png") no-repeat center;
}
.emp-d-title .filter-btn {
    background: url("../image/employee/xuanze_right%2024x20.png") no-repeat center;
}

.d-checkbox {
    margin-right: 10px;
}

.emp-d-title .col { text-align: center; }
.emp-d-title .col-1 { width: 120px; text-align: left;}
.emp-d-title .col-2 { width: 40px; padding-left: 40px;}
.emp-d-title .col-3 { width: 40px; padding-left: 60px;}
.emp-d-title .col-4 { width: 40px; padding-left: 40px;}
.emp-d-title .col-5 { width: 70px; padding-left: 80px;}
.emp-d-title .col-6 { width: 70px; padding-left: 50px; }

.emp-d-item .col { text-align: center; }
.emp-d-item .col-1 { width: 120px; text-align: left;}
.emp-d-item .col-2 { width: 40px; padding-left: 40px;}
.emp-d-item .col-3 { width: 40px; padding-left: 60px;}
.emp-d-item .col-4 { width: 40px; padding-left: 40px;}
.emp-d-item .col-5 { width: 70px; padding-left: 80px;}
.emp-d-item .col-6 { width: 70px; padding-left: 50px; }

.d-list-i {
    background: #f5f9fd;
    padding: 10px 20px;
    margin-bottom: 5px;
    height: 34px;
    line-height: 34px;

}

.d-list-btn {
    border: 0;
    padding: 0;
    width: 74px;
    height: 34px;
    background: url("../image/employee/yizhipai_down%2074x34.png") no-repeat center;
}

.user-pic {
    background: url("../image/employee/touxiang_left%2068x68.png") no-repeat center;
}

#tagSwitch {
    width: 100px;
    margin: 0 auto;
}
