<?xml version="1.0"?>
 
  <appSettings>
    <!--cdn 网址，不末尾不要加斜杠（/）-->
    <add key="local.cdnroot" value="http://192.168.3.172:886/"/>
  
    <add key="local.SecurityKey" value="1qaz2wsx3edc4rfv"/>


    <add key="server.cdnroot" value="http://192.168.3.172:886/"/>

    <add key="server.SecurityKey" value="1qaz2wsx3edc4rfv"/>


    <add key="all.business_image_root" value="/media/business/"/>
    <add key="all.LoggerName" value="Dianzhu.AdminBusiness"/>
  </appSettings>
 
