
@{
    Layout = null;
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>序号</th>
            <th>商户账号</th>
            <th>店铺名称</th>
            <th>服务名称</th>
            <th>创建时间</th>
            <th>停封时间</th>
            <th>详情</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>0</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>1</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>2</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>3</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>4</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>5</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>6</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>7</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>8</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>9</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>10</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>11</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>12</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>13</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>14</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>15</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>16</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>17</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>18</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

        <tr>
            <td>19</td>
            <td>110@qq.com</td>
            <td>15500965601</td>
            <td>10</td>
            <td>2016.12.20</td>
            <td>2016.12.20</td>
            <td><a href="./business-shop-service-detail.html">进入</a></td>
        </tr>

    </tbody>
    <tfoot>
        <tr>
            <th>序号</th>
            <th>商户账号</th>
            <th>店铺名称</th>
            <th>服务名称</th>
            <th>创建时间</th>
            <th>停封时间</th>
            <th>详情</th>
        </tr>
    </tfoot>
</table>

