
@{
    ViewBag.headTitle = "商家管理";
    ViewBag.subTitle = "店铺详情";
    ViewBag.breadcrumbOl = new List<string>() { "商家管理", "商家列表", "商家详情", "店铺详情" };
}

 <!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-body">
            <div class="no-header">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <b>创建时间：</b> <a class="pull-right">155000000@ydban.cn</a>
                            </li>
                            <li class="list-group-item">
                                <b>营业额：</b> <a class="pull-right">155000000</a>
                            </li>
                            <li class="list-group-item">
                                &nbsp;
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <b>服务数量：</b> <a class="pull-right">155000000@ydban.cn</a>
                            </li>
                            <li class="list-group-item">
                                <b>服务种类：</b> <a class="pull-right">155000000</a>
                            </li>
                            <li class="list-group-item">
                                <b>员工数量：</b> <a class="pull-right">2016.11.12</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <b>总接单量：</b> <a class="pull-right">155000000@ydban.cn</a>
                            </li>
                            <li class="list-group-item">
                                <b>店铺评价：</b> <a class="pull-right">155000000</a>
                            </li>
                            <li class="list-group-item">
                                <b>遭到投诉：</b> <a class="pull-right">2016.11.12</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="./business-shop-info.html">店铺信息</a></li>
            <li><a href="./business-shop-service.html">服务列表</a></li>
            <li><a href="./business-shop-order.html">订单列表</a></li>
            <li><a href="./business-shop-employee.html">员工列表</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <img class="profile-user-img img-responsive" style="width: 120px; height: 120px;" alt="User profile picture">
                            </li>
                            <li class="list-group-item">
                                <b>店铺地址：</b> <a class="pull-right">XXXXX</a>
                            </li>
                            <li class="list-group-item">
                                <b>店铺电话：</b> <a class="pull-right">XXXXXX</a>
                            </li>
                            <li class="list-group-item">
                                <b>从业年限：</b> <a class="pull-right">X</a>
                            </li>
                            <li class="list-group-item">
                                <b>员工人数：</b> <a class="pull-right">XXXXXXXXXXX</a>
                            </li>
                            <li class="list-group-item">
                                <b>店铺介绍：</b> <div class="word-break-all">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <li class="list-group-item">
                            <img class="profile-user-img img-responsive img-circle" style="width: 120px; height: 120px;" alt="User profile picture">
                        </li>
                        <li class="list-group-item">
                            <b>店主姓名：</b> <a class="pull-right">xxxx</a>
                        </li>
                        <li class="list-group-item">
                            <b>性别：</b> <a class="pull-right">xxx</a>
                        </li>
                        <li class="list-group-item">
                            <b>联系电话：</b> <a class="pull-right">xxx</a>
                        </li>
                        <li class="list-group-item">
                            <b>证件号码：</b> <a class="pull-right">xxx</a>
                        </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="business-card">
                            <img class="business-img">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="business-card">
                            <img class="business-img">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="business-card">
                            <img class="business-img">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="business-card">
                            <img class="business-img">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="business-card">
                            <img class="business-img">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="business-card">
                            <img class="business-img">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.tab-pane -->

        </div>
        <!-- /.tab-content -->
    </div>
</section>
<!-- /.content -->

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->

<script src="../../static/js/navbar-controller.js"></script>
<!-- DataTables -->
<script src="../../static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- date-range-picker -->
<script src="../../static/plugins/daterangepicker/moment.min.js"></script>
<script src="../../static/plugins/daterangepicker/daterangepicker.js"></script>
<script>
    (function(){
        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        //初始化定制数据列表
        $(".table-striped").DataTable({
            "order": [[ 0, "asc" ]],
            "language" :{
                "decimal":        "",
                "emptyTable":     "没有数据",
                "info":           "从_START_ 到 _END_ 条记录——总记录数为 _TOTAL_ 条",
                "infoEmpty":      "记录数为0",
                "infoFiltered":   "(全部记录数 _MAX_  条)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "显示 _MENU_ 条",
                "loadingRecords": "加载中...",
                "processing":     "处理中...",
                "search":         "查找：",
                "zeroRecords":    "找不到内容",
                "paginate": {
                    "first":      "第一页",
                    "last":       "最后一页",
                    "next":       "下一页",
                    "previous":   "上一页"
                }
            }
        });
    })();
</script>

