.btn_custom (@ph,@pv){
  padding: @ph @pv;
  color: #666;
  font-size: 16px;
  text-shadow: 0 1px 0 #fff;
  background: #ffffff;
  border-radius: 8px;
  font-weight: 600;
  border: 1px solid #DADADA;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}