/*图标基本样式*/
.icon {
  display: inline-block;
  *display: inline-block;
  *zoom: 1;
  width: 26px;
  height: 26px;
  background: #73e2ff;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  content: "";
}