html{ background:#263650;}
.mainContent{ margin: 0 auto;width:1002px; height:1500px;}
.topContent{ height:46px;position:relative;}

<!---->
.middleContent{ position:relative; background:#9CC; width:100%;}
.topnav{ height:70px;}

.content{ height:1200px;}








<!---->


