
.calender{width:302px; height:500px;font-size:12px;border-top-left-radius:5px; border-top-right-radius:5px; background:#f5f5f5;}
.calendertb{width:302px; font-size:12px; }
.calendertb td{width:44px; height:40px; text-align:center; vertical-align:middle; cursor:pointer; font-size:12px; font-weight:bold; margin:1px;background:#FFF; border:#f5f5f5 solid 1px;  }
.weekend-tr{background:#4b6c8b; }
.data-content{background:#3d6282;}
.calendertb td.hover,.calendertb td.weekend:hover{background:#4b6c8b;}
.calendertb th{width:50px; height:50px; text-align:center; vertical-align:middle; cursor:pointer; color:#9faaac ; font-weight:bold; font-size:12px; color:#FFF; }
.tdtoday{ -moz-box-shadow: 1px 2px 3px #666;
    -webkit-box-shadow: 1px 2px 3px #666;
    box-shadow: 1px 2px 3px #666;
   text-align:center; vertical-align:middle; cursor:pointer; font-size:12px; border:none; }
.ntdtoday{ background:#FFF;color:#666666;width:35px; height:35px; text-align:center; vertical-align:middle; cursor:pointer; font-size:14px; font-weight:bold;}
.pre-mon-lastday{ color:#cccccc;}
.calenderTable{background:#f0f4fb;border-top-left-radius:5px; border-top-right-radius:5px;}
.weekend{ color:#F00;}
.getyear{ height:35px; line-height:35px; width:100%; text-align:center; padding-top:5px; padding-bottom:10px;background:#3d6282; font-size:16px; color:#FFF; border-top-left-radius:5px; border-top-right-radius:5px;}
.preMonth{ font-size:14px; font-weight:bold; cursor:pointer; margin-right:68px;color:#0080FF;}
.nextMonth{ font-size:14px; font-weight:bold; cursor:pointer; margin-left:68px;color:#0080FF;}
.mh_date{width:249px; height:20px; line-height:20px; padding:5px; border:2px #AA9FFF solid; cursor:pointer; background:url(dateIco.png) no-repeat right center; margin-left:50px;}
.day-class{  text-align:center; background:#3d6282; color:#FFF; margin-top:7px;}
#day-id{font-size:60px;}
#weeken-id{ font-size:18px; margin-bottom:20px;}
#month-value{ display:none;}
.prompt{ background:#3d6282; color:#FFF; height:45px; line-height:45px;}
#prompt-id{font-size:12px; float:left; margin-left:28px;}
.circle {
	position:absolute;
	margin-top:16px;
	margin-left:10px;
	float:left;
	display:block;
	width: 12px;
	height: 12px;
	background-color: #60b0be;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

.circle2 {
	position:absolute;
	
	margin-left:18px;
	margin-top:2px;
	
	display:block;
	width: 5px;
	height: 5px;
	background-color: #60b0be;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

.circle3 {
	position:absolute;
	
	margin-left:18px;
	margin-top:-18px;
	
	display:block;
	width: 5px;
	height: 5px;
	background-color: #60b0be;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}
.line{ background:url(../image/fengexian.jpg) no-repeat; height:3px;}
.stu-sun-day{ color:#60b0be;}