.serList {
    padding-left: 20px;
}

.serListUlContainer {
    float: left;
    padding: 20px 0 20px 0;
    margin-left: -20px;
    background: #ecf0f6;
    border-left: 1px solid #cbd8e3;


}

.serList ul {
    width: 150px;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ecf0f6;
}

.serList ul li{
    line-height: 1.5em;
    color: #57789B;
    padding-left: 20px;
}

.serChoiceContainer {

}

.serChoiceContainer span {
    display: inline-block;
    padding: 3px;
    background: #8CC8E4;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px 1px #666;
}

.serListUl .choiceSer {
    color: #fff;
    background: #8CC8E4;
}

.serChoiceInfo {
    padding: 10px 20px;
    background: #5c789c;
}

.serChoiceBtn {
    padding: 3px;
    color: #5c789c;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px 1px #666;
}