<?xml version="1.0"?>
 
  <appSettings>
    <!--本地特定机器的配置-->
    <add key="yuanfei-pc.local.NoticeSenderId" value="150fdc85-7c3c-4a0e-9f1f-a532013cef9f"/>
    
    <!--本地全局配置-->
    <!--cdn 网址，不末尾不要加斜杠（/）-->
    <add key="local.ImServer" value="192.168.3.172"/>
    <!--发送系统消息的账号,不要和服务器上的相同,否则会迫使其下线-->
    <add key="local.NoticeSenderId" value="eb2ae597-5adb-4242-b22e-a4f901275654"/>
    <add key="local.NoticeSenderPwd" value="UsbQQVAIork="/>


    <add key="server.ImServer" value="192.168.3.172"/>
    <!--发送系统消息的账号,不要和服务器上的相同,否则会迫使其下线-->
    <add key="server.NoticeSenderId" value="eb2ae597-5adb-4242-b22e-a4f901275654"/>
    <add key="server.NoticeSenderPwd" value="UsbQQVAIork="/>

    <!--openfire restapi  获取在线会话 url地址-->
    <add key="server.OpenfireRestApiSessionListUrl" value="http://192.168.3.172:9090/plugins/restapi/v1/sessions/"/>
    <!--openfire restapi  用户验证key-->
    <add key="server.OpenfireRestApiAuthKey" value="an4P0ja6v3rykV4H"/>
  </appSettings>
 
