quartz.scheduler.instanceName = MyScheduler
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.threadPool.threadCount = 3
quartz.jobStore.dataSource = myDS
quartz.dataSource.myDS.connectionString = Server=localhost;Database=quartz;Uid=root;Pwd=root
quartz.dataSource.myDS.provider = MySql-65
 