<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下例中，“SetAttributes”转换将更改 
    “connectionString”的值，以仅在“Match”定位器 
    找到值为“MyDB”的特性“name”时使用“ReleaseSQLServer”。
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="ServerNum" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PayServerNum" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="UseHttps" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MonitorEmails" value="issumao@126.com,550700860@qq.com,609805657@qq.com,502647115@qq.com"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--<add key="MonitorEmails" value=""/>-->
    <!--value为空，表示不发邮件-->
  </appSettings>
  <connectionStrings>
    <add name="DianzhuConnectionString"  connectionString="KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyCSmz+Qm6O6DOpuqlRisE9ON/KzLK3MRM3uA6jfmrz9"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ydb_instantmessage"  connectionString="KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyCSmz+Qm6O6xDtWaJmu1r+KFzF4GEn2AgtU64pwceTQcPXaOkct3AY="
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ydb_membership"  connectionString="KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyCSmz+Qm6O6xDtWaJmu1r/QUaIHdTdC/75zKl87jDD3"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ydb_finance"  connectionString="KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyCSmz+Qm6O6xDtWaJmu1r+wfsI2izasJ9glXteTNLIe"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ydb_common"  connectionString="KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyCSmz+Qm6O6xDtWaJmu1r/URR6HJa5nuHD12jpHLdwG"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      在下例中，“Replace”转换将替换 
      web.config 文件的整个 <customErrors> 节。
      请注意，由于 
      在 <system.web> 节点下仅有一个 customErrors 节，因此不需要使用“xdt:Locator”特性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>