<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="ServerNum" value="4" />
    <add key="PayServerNum" value="4" />
    <add key="UpdateSchema" value="0" />

    <add key="UseHttps" value="false" />
    <!-- <add key="MonitorEmails" value="issumao@126.com,550700860@qq.com,502647115@qq.com"/>value为空，表示不发邮件-->
    <add key="MonitorEmails" value="" />
    <!--value为空，表示不发邮件-->
  </appSettings>
  <connectionStrings>
    <add name="ydb_finance" connectionString="localhost_ydb_finance___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfuWggjOZ75TF70WVCFil1IYzn01D43Jz73hfzwEZJh22FJSbKvZ9yLD" />
    <add name="ydb_instantmessage" connectionString="localhost_ydb_instantmessage___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfulNlVHor4vC9UOP0yckCIPU6kB9itzTcGbS3hkRw1MZxC1qKIrmpWTnI1JVJ/BFoA=" />
    <add name="ydb_businessresource" connectionString="localhost_ydb_businessresource___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfvrcsIWrfr/QFo+AN9ZYgpilw0RpEy/FlAYoRSoDjx0/QILrwP9IJdmz/RD1emLUbRw9do6Ry3cBg==" />
    <add name="ydb_membership" connectionString="localhost_ydb_membership___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfv2kWyS/tJyoG/lFU5zTTX9eFLCQv9tUfh1Wo9eZIuad7EZnZh47R8pkIUTfDvMIRE=" />
    <add name="ydb_common" connectionString="localhost_ydb_common___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVftrJoAY4PURQw3zDqsqiRHRm0t4ZEcNTGcQtaiiK5qVk5yNSVSfwRaA" />
    <add name="ydb_order" connectionString="localhost_ydb_order___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfuEYbYvGuQdcas/u/W5TE+tLoqExI90bGZLI3lYf9D1yWLAExzFanjt" />
    <add name="ydb_paygateway" connectionString="localhost_ydb_paygateway___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfsEODF4dUEw6x3i+PWLcd4+eFLCQv9tUfh1Wo9eZIuad7EZnZh47R8pkIUTfDvMIRE=" />
    <add name="ydb_push" connectionString="localhost_ydb_push___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfu59Df9SE91aO22b2VsvnFY3cB+Yxc9sl2Sf45Pkefewm2py1ROdZoj" />
    <add name="ydb_notice" connectionString="localhost_ydb_notice___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfsN6Ic4bLUym1OpAfYrc03Bm0t4ZEcNTGcQtaiiK5qVk5yNSVSfwRaA" />

    <!--localhost:dWU7hS29EeIiGPPRoa/Y7zFbreTUdMma   112.74.198.215:dWU7hS29EeIGFB6vQBGon9Wk9TbmRxH7ZPFMpsy2Wyg=-->
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true"  targetFramework="4.6.1" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
   
  <runtime>
   
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

          <dependentAssembly>
            <assemblyIdentity name="Mysql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.5.4.0" newVersion="6.9.9.0" />
          </dependentAssembly>
   
              <dependentAssembly>
   
                    <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
   
                    <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
   
              </dependentAssembly>
   
              <dependentAssembly>
   
                    <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
   
                    <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
   
              </dependentAssembly>
   
              <dependentAssembly>
   
                    <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
   
                    <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
   
              </dependentAssembly>
   
              <dependentAssembly>
   
                    <assemblyIdentity name="HibernatingRhinos.Profiler.Appender" publicKeyToken="0774796e73ebf640" culture="neutral" />
   
                    <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
   
              </dependentAssembly>
   
              <dependentAssembly>
   
                    <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
   
                      <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
   
              </dependentAssembly>
   
        </assemblyBinding>
   
  </runtime>
</configuration>
<!--ProjectGuid: {48b77697-e470-4122-b91b-74aa2fdffb25}-->