<?xml version="1.0"?>

<appSettings>
 
  
  <add key="ImServer"  value="localhost"/>
 
  <add key="MediaUploadUrl" value="http://localhost:8038/UploadFile.ashx"/>
  <add key="MediaGetUrl" value="http://localhost:8038/GetFile.ashx?fileName="/>
  <add key="PayUrl" value="http://localhost:8168/"/>
  <add key="APIBaseURL" value="http://localhost:8037/DianzhuApi.ashx"/>

 
 
  

</appSettings>