
@{
    ViewBag.headTitle = "首页";
    ViewBag.subTitle = "";
    ViewBag.breadcrumbOl = new List<string>() { "首页"};
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">首页</div>
                <div class="box-body"></div>
            </div>
        </div>
    </div>
</section>
