<?xml version="1.0"?>
 
  <appSettings>
    
    <add key="server" value="ydban.cn"/>
    <add key="domain" value="ydban.cn"/>
    <!--支付网站的根目录-->
    <add key="PaySite" value="http://ydban.cn:8168/"/>
    <!--通知服务器地址-->
    <add key="NotifyServer" value="http://ydban.cn:8039/"/>
  </appSettings>
 
