<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="openfire"  connectionString="localhost_openfire___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELDta2/eZLdWYR8HHmDNg0RO22b2VsvnFY3cB+Yxc9sl2Sf45Pkefewm2py1ROdZoj" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>