
@{
    ViewBag.headTitle = "商户统计";
    ViewBag.subTitle = "商户分析";
    ViewBag.breadcrumbOl = new List<string>() { "统计", "商户统计", "商户分析" };
}

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li>@Html.ActionLink("商户信息", "total_business", "AgentTotalBusiness")@*<a href="./total-business.html">商户统计</a>*@</li>
                    <li class="active"><a>商户分析</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_2">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>店铺年限</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box">
                                            <div class="box-body">
                                                <canvas id="pieChartAge"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="box">
                                            <div class="box-body no-padding">
                                                <table class="table table-striped">
                                                    <tbody id="tableAge">
                                                        <tr>
                                                            <th style="width: 10px">#</th>
                                                            <th>年限</th>
                                                            <th>占比</th>
                                                            <th style="width: 40px">占比</th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4>员工人数</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box">
                                            <div class="box-body">
                                                <canvas id="pieChartStaff"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="box">
                                            <div class="box-body no-padding">
                                                <table class="table table-striped">
                                                    <tbody id="tableStaff">
                                                        <tr>
                                                            <th style="width: 10px">#</th>
                                                            <th>员工人数</th>
                                                            <th>占比</th>
                                                            <th style="width: 40px">占比</th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>店铺地区分布</h4>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="box">
                                    <div class="box-body">
                                        <canvas id="barCharArea"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="box-body no-padding">
                                        <table class="table table-striped">
                                            <tbody id="tableArea">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th style="width: 100px">地区</th>
                                                <th>占比</th>
                                                <th style="width: 40px">占比</th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>

</section>
<!-- /.content -->
@Html.Action("footer", "Agent", new { id = "" })

<!-- date-range-picker -->
<script src="../../static/plugins/daterangepicker/moment.min.js"></script>
<script src="../../static/plugins/daterangepicker/daterangepicker.js"></script>

<!-- ChartJS 1.0.1 -->
<script src="../../static/plugins/chartjs/Chart.min.js"></script>

<!--vtool.js-->
<script src="../../static/libs/xytool.js"></script>

<!--mock.js-->
<script src="../../static/libs/mock/mock.js"></script>
@*<script src="../../static/libs/mock/data.mock.js"></script>*@

<!-- underscore 模板 -->
<script type="text/template" id="trTpl">
    <% _.each(list, function(ele, index, list){ %>
    <tr>
        <td><%= index %></td>
        <td><%= ele.title %></td>
        <td>
            <div class="progress progress-xs">
                <div class="progress-bar progress-bar-danger" <%= 'style="width:' + (ele.value / total) + '%"' %> ></div>
            </div>
        </td>
        <td><span class="badge bg-red"> <%= ele.value / total + '%' %> </span></td>
    </tr>
    <% }); %>
</script>

<script>
    $(function(){

        //-------------
        //- PIE CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.
        var pieChartCanvasStaff = $("#pieChartStaff").get(0).getContext("2d");
        var pieChartCanvasAge = $("#pieChartAge").get(0).getContext("2d");

        var barChartCanvasArea = $("#barCharArea").get(0).getContext("2d");

        var pieDataStaff = {
            labels: [],
            datasets: [
                {
                    data: [1, 1],
                    backgroundColor: [
                        "#00c0ef",
                        "#00a65a"
                    ],
                    hoverBackgroundColor: [
                        "#00c0ef",
                        "#00a65a"
                    ]
                }]
        };
        var pieDataAge = {
            labels: [],
            datasets: [
                {
                    data: [1, 1],
                    backgroundColor: [
                        "#00c0ef",
                        "#00a65a"
                    ],
                    hoverBackgroundColor: [
                        "#00c0ef",
                        "#00a65a"
                    ]
                }]
        };

        var barChatArea = {
            labels: [],
            datasets: [
                {
                    data: [1, 1],
                    backgroundColor: [
                        "#00c0ef",
                        "#00a65a"
                    ],
                    hoverBackgroundColor: [
                        "#00c0ef",
                        "#00a65a"
                    ]
                }]
        };

        var pieOptions = {};
        var barOptions = {};

        var pieChartStaff = new Chart(pieChartCanvasStaff, {
            type: 'doughnut',
            data: pieDataStaff,
            options: pieOptions
        });
        var pieChartAge = new Chart(pieChartCanvasAge, {
            type: 'doughnut',
            data: pieDataAge,
            options: pieOptions
        });

        var barCharArea = new Chart(barChartCanvasArea, {
            type: 'bar',
            data: barChatArea,
            options: barOptions
        });

        var totalBusinessDef = $.ajax({
            url: '/AgentTotalBusiness/total_business_AllList',
            type: "GET",
            data: {
                usertype: 'customer'
            }
        });

        var staffBusinessDef = $.ajax({
            url: '/AgentTotalBusiness/total_business_StaffList',
            type: "GET",
            data: {
                usertype: 'customer'
            },
            dataType: 'json'
        });

        var ageBusinessDef = $.ajax({
            url: '/AgentTotalBusiness/total_business_LifeList',
            type: "GET",
            data: {
                usertype: 'customer'
            },
            dataType: 'json'
        });

        var areaBusinessDef = $.ajax({
            url: '/AgentTotalBusiness/total_business_AreaList',
            type: "GET",
            data: {
                usertype: 'customer'
            },
            dataType: 'json'
        });

        var trTpl = _.template($("#trTpl").html());

        $.when(totalBusinessDef, staffBusinessDef, ageBusinessDef, areaBusinessDef).done(function (argTotal, argStaff, argAge, argArea) {
            var totalValue, totalToday;

            if ( !(argTotal[1] === "success") ){
                return
            }

            totalValue = xyTool.parseValue(argTotal[0].XYValue);
            totalToday = totalValue.xy[moment().format('YYYYMMDD')];

            var staffValue = xyTool.parseValue(argStaff[0].XYValue);
            var ageValue = xyTool.parseValue(argAge[0].XYValue);
            var areaValue = xyTool.parseValue(argArea[0].XYValue);


            renderTable($("#tableStaff"), trTpl, staffValue);
            renderTable($("#tableAge"), trTpl, ageValue);
            renderTable($("#tableArea"), trTpl, areaValue);

            renderPieChart(pieChartStaff, pieDataStaff, pieOptions, staffValue);
            renderPieChart(pieChartAge, pieDataAge, pieOptions, ageValue);
            renderPieChart(barCharArea, barChatArea, barOptions, areaValue);

            // 绘制表格
            function renderTable(tableBody, trTpl, xyValue){
                var tableData = {
                    list : [],
                    total : +totalToday || 1
                } ;

                for (var i = 0; i < xyValue.x.length; i++) {
                    tableData.list.push({
                        title: xyValue.x[i],
                        value: xyValue.y[i]
                    })
                }

                tableBody.append(trTpl(tableData));
            }

            // 绘制chart
            function renderPieChart(chart, chartData, chartOption, xyValue){
                // 渲染barChart
                chartData.labels = xyValue.x;
                chartData.datasets[0].data = xyValue.y;

                chart.data = chartData;
                chart.update();
            }

        })

    });


</script>
