<?xml version="1.0"?>
 
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <add key="ServerNum" value="0"/>
    <add key="PayServerNum" value="0"/>
    <add key="UpdateSchema" value="0"/>

    <add key="PortFirst" value="8"/><!--http:8;https:6-->


  </appSettings>
 
