<?xml version="1.0"?>
 
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <add key="ServerNum" value="0"/>
    <add key="PayServerNum" value="0"/>
    <add key="UpdateSchema" value="0"/>

    <add key="UseHttps" value="false"/>
    <add key="MonitorEmails" value="issumao@126.com,550700860@qq.com,609805657@qq.com,502647115@qq.com"/>
  </appSettings>
 
