<?xml version="1.0"?>
 
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="ServerNum" value="0" />
    <add key="PayServerNum" value="0" />
    <add key="UpdateSchema" value="0" />

    <add key="UseHttps" value="false"/>


    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="JS1adBF8cbaf594d1ab2f1A68755e70440" value="115.159.4.88" />
    <!--115.159.4.88-->
    <!--192.168.1.63-->

    <add key="NoAuthentication" value="false" />
    <add key="UseSwagger" value="true" />

    <add key="MonitorEmails" value="issumao@126.com,550700860@qq.com,609805657@qq.com,502647115@qq.com"/>

    <!--******************权限配置****************************-->
    <add key="get/snapshots/{serviceID}" value="[business]" />
    <add key="get/citys" value="" />
    <add key="get/citys/{code}" value="" />
    <add key="post/complaints" value="[customer]" />
    <add key="get/complaints" value="" />
    <add key="get/complaints/count" value="" />
    <add key="get/complaints/{complaintID}" value="" />
    <add key="get/ads" value="" />
    <add key="post/apps/{appUUID}" value="" />
    <add key="delete/apps/{appUUID}" value="" />
    <add key="patch/apps/{appUUID}" value="" />
    <add key="get/reminds" value="[customer]" />
    <add key="get/reminds/count" value="[customer]" />
    <add key="get/reminds/{remindID}" value="[customer]" />
    <add key="delete/reminds/{remindID}" value="[customer]" />
    <!--<add key="post/assigns" value="[business]" />
    <add key="get/assigns" value="[business]" />
    <add key="get/assigns/count" value="[business]" />
    <add key="delete/assigns" value="[business]" />-->
    <add key="post/stores/{storeID}/services/{serviceID}/workTimes" value="[business]" />
    <add key="get/stores/{storeID}/services/{serviceID}/workTimes" value="" />
    <add key="get/stores/{storeID}/services/{serviceID}/workTimes/count" value="" />
    <add key="get/stores/{storeID}/services/{serviceID}/workTimes/{workTimeID}" value="[business]" />
    <add key="patch/stores/{storeID}/services/{serviceID}/workTimes/{workTimeID}" value="[business]" />
    <add key="delete/stores/{storeID}/services/{serviceID}/workTimes/{workTimeID}" value="[business]" />
    <add key="get/allServiceTypes" value="" />
    <add key="post/stores/{storeID}/services" value="[business]" />
    <add key="get/stores/{storeID}/services" value="" />
    <add key="get/stores/{storeID}/services/count" value="" />
    <add key="get/stores/{storeID}/services/{serviceID}" value="" />
    <add key="patch/stores/{storeID}/services/{serviceID}" value="[business]" />
    <add key="delete/stores/{storeID}/services/{serviceID}" value="[business]" />
    <add key="post/stores/{storeID}/staffs" value="[business]" />
    <add key="get/stores/{storeID}/staffs" value="[business][staff]" />
    <add key="get/stores/{storeID}/staffs/count" value="[business][staff]" />
    <add key="get/stores/{storeID}/staffs/{staffID}" value="" />
    <add key="patch/stores/{storeID}/staffs/{staffID}" value="[business][staff]" />
    <add key="delete/stores/{storeID}/staffs/{staffID}" value="[business]" />
    <add key="get/allStores" value="" />
    <add key="get/allStores/count" value="" />
    <add key="post/stores" value="[business]" />
    <add key="get/stores" value="[business]" />
    <add key="get/stores/count" value="[business]" />
    <add key="get/stores/{storeID}" value="" />
    <add key="patch/stores/{storeID}" value="[business]" />
    <add key="delete/stores/{storeID}" value="[business]" />
    <add key="get/orders/{orderID}/pays" value="[customer]" />
    <add key="get/orders/{orderID}/pays/count" value="[customer]" />
    <add key="get/orders/{orderID}/pays/{payID}" value="[customer]" />
    <add key="patch/orders/{orderID}/pays/{payID}" value="[customer]" />
    <add key="get/orders/{orderID}/pays/{payID}/pay3rdString" value="[customer]" />
    <add key="get/orders/{orderID}/chats" value="" />
    <add key="get/orders/{orderID}/chats/count" value="" />
    <add key="get/allChats" value="" />
    <add key="get/allChats/count" value="" />
    <add key="get/allUnreadChats" value="" />
    <add key="get/allUnreadChats/count" value="" />
    <add key="get/orders" value="[customer][business]" />
    <add key="get/orders/count" value="[customer][business]" />
    <add key="get/orders/{orderID}" value="" />
    <add key="get/orders/{orderID}/allStatusList" value="" />
    <add key="patch/orders/{orderID}" value="[customerservice][business][staff]" />
    <add key="patch/orders/{orderID}/negotiateAmount" value="[business][staff]" />
    <add key="get/orders/{orderID}/pushServices" value="[customerservice][customer]" />
    <add key="put/orders/{orderID}/confirmService" value="[customer]" />
    <add key="put/orders/{orderID}/appraise" value="[customer]" />
    <add key="get/orders/{orderID}/linkMan" value="[customer]" />
    <add key="patch/orders/{orderID}/currentStatus" value="[customer][business][staff]" />
    <add key="get/orders/{orderID}/refunds" value="" />
    <add key="post/orders/{orderID}/refunds" value="[customer][business][staff]" />
    <add key="get/orders/{orderID}/forman" value="" />
    <add key="patch/orders/{orderID}/forman" value="[business]" />
    <add key="post/orders/{orderID}/forman" value="[business]" />
    <add key="delete/orders/{orderID}/forman/{staffID}" value="[business]" />
    <add key="post/customers" value="" />
    <add key="get/customers" value="" />
    <add key="post/customer3rds" value="" />
    <add key="get/customers/count" value="" />
    <add key="get/customers/{customerID}" value="" />
    <add key="patch/customers/{customerID}" value="[customer]" />
    <add key="patch/customers/{customerID}/currentGeolocation" value="" />
    <add key="post/merchants" value="" />
    <add key="get/merchants" value="" />
    <add key="get/merchants/count" value="" />
    <add key="get/merchants/{merchantID}" value="" />
    <add key="patch/merchants/{merchantID}" value="[business]" />
    <add key="post/customerServices" value="" />
    <add key="get/customerServices" value="[customer]" />
    <add key="post/storages/images" value="" />
    <add key="post/storages/avatarImages" value="" />
    <add key="post/storages/audios" value="" />
    <add key="get/bills" value="" />
    <add key="get/billStatement" value="" />
    <add key="get/monthBillStatement" value="" />
    <!--******************权限配置****************************-->

  </appSettings>
 
