<?xml version="1.0" encoding="utf-8"?>
<!--
***** PHSuit.test.crypttest
***** PHSuit.test.crypttest
172:KkZl+RcgPXnCbMShFyd0hjMlkcFdWYFnxqk3+yt3M5ObS3hkRw1MZxTtAp/7JrAMrJUyeflfTwPIMZ4qSnstUwsg0lgYhErFrf8FyrlZiY8=
localhost:KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butgv4sPUtxE+qpw9do6Ry3cBg==
localhost_yuanfei:KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butgv4sPUtxE+qpw9do6Ry3cBg==
150:KkZl+RcgPXnCbMShFyd0hsQ/JMbrkew51ycjoe5eWuxC7zaxFZ9aUeA1JH0QHpG4MDmaWGwTk00JEbnTR3rCnStpn1cB1iXV
Aliyun_Official:KkZl+RcgPXkvVOsnXtkBrdPZAXX4xrC+VrOmofWk2pr7C4yEyy7Ls0wpMpn2ypYMaknyE1COFWgUyPUj/nFtE2uv9JAs4vHwIgnOMbu99HlnBIl1RTVEGey9Jc56NCmL
Aliyun_Test:KkZl+RcgPXn2RO86ZIcIzRbCsUWw3A6Fa6GYCKZHN1sqk5H4DCVed+YGaql5WXBvzk729xcyZvqRP9AQQTMtsrzGznBX2g5UMDmaWGwTk00JEbnTR3rCnRGFIeyErBV8

-->
<connectionStrings>
  <add name="DianzhuConnectionString"
       connectionString="KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butgv4sPUtxE+qpw9do6Ry3cBg=="/>
</connectionStrings>


