<?xml version="1.0" encoding="utf-8"?>
<!--
***** PHSuit.test.crypttest

172:KkZl+RcgPXnCbMShFyd0hjMlkcFdWYFnxqk3+yt3M5ObS3hkRw1MZxTtAp/7JrAMrJUyeflfTwPIMZ4qSnstUwsg0lgYhErFrf8FyrlZiY8=
localhost_ydb_membership:KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butghFWq0OENuAEIrOIwLDDr+g==
localhost_ydb_instantmessage:KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butggjqsq8arFr3xa40vIxgfSw8tBjVJIUi/
localhost_yuanfei:KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butgv4sPUtxE+qpw9do6Ry3cBg==
150_dianzhu_test:KkZl+RcgPXnCbMShFyd0hsQ/JMbrkew51ycjoe5eWuxC7zaxFZ9aUeA1JH0QHpG4MDmaWGwTk00JEbnTR3rCnStpn1cB1iXV
150_ydb_instantmessage:KkZl+RcgPXnCbMShFyd0hsQ/JMbrkew51ycjoe5eWuxC7zaxFZ9aUeA1JH0QHpG4MDmaWGwTk00ezpEo/SHeBtJTgVkow7TYm6/wBcz5D7Q=
Aliyun_Official_dianzhu_publish:KkZl+RcgPXkvVOsnXtkBrdPZAXX4xrC+VrOmofWk2pr7C4yEyy7Ls0wpMpn2ypYMaknyE1COFWgUyPUj/nFtE2uv9JAs4vHwIgnOMbu99HlnBIl1RTVEGey9Jc56NCmL
Aliyun_Official_ydb_instantmessage:KkZl+RcgPXkvVOsnXtkBrdPZAXX4xrC+VrOmofWk2pr7C4yEyy7Ls0wpMpn2ypYMaknyE1COFWgUyPUj/nFtE2uv9JAs4vHwIgnOMbu99Hm674EOmCbZ3R55zwl/BZObWgBtm3fMARo=
Aliyun_Test_dianzhu_publish:KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyCSmz+Qm6O6DOpuqlRisE9ON/KzLK3MRM3uA6jfmrz9
Aliyun_Test_ydb_instantmessage:KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyCSmz+Qm6O6xDtWaJmu1r+KFzF4GEn2AgtU64pwceTQcPXaOkct3AY=


-->
<connectionStrings>
  <add name="DianzhuConnectionString"  connectionString="KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butgv4sPUtxE+qpgcBGyKX7NOTWKaMbaCwRn"/>
  <add name="ydb_instantmessage"  connectionString="KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butggjqsq8arFr3xa40vIxgfSw8tBjVJIUi/"/>
  <add name="ydb_membership"  connectionString="KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butghFWq0OENuAEIrOIwLDDr+g=="/>
</connectionStrings>


