<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>

    <add name="DianzhuConnectionString"
         connectionString="data source=119.29.39.211;uid=root;pwd=root;database=dianzhu_publish_test"
         providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
  <appSettings>
    <!--cdn 网址，不末尾不要加斜杠（/）-->
    <add key="ImServer" value="119.29.39.211"/>
    <!--发送系统消息的账号,不要和服务器上的相同,否则会迫使其下线-->
    <add key="PaySite" value="http://119.29.39.211:8168/"/>
    <add key="NotifyServer" value="http://119.29.39.211:8039/"/>
  </appSettings>

   
  <system.web>
    <compilation targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>