
@{
    ViewBag.headTitle = "用户统计";
    ViewBag.subTitle = "用户分析";
    ViewBag.breadcrumbOl = new List<string>() { "统计", "用户统计", "用户分析" };
}

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li >@Html.ActionLink("用户信息", "total_user", "AgentTotalUser")@*<a href="./total-user.html">用户信息</a>*@</li>
                    <li class="active">@*@Html.ActionLink("用户属性", "total_user_detail", "AgentTotalUser")*@<a>用户属性</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_2">
                        <h4>性别比例</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="box-body">
                                        <canvas id="pieChartSex"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-aqua">
                                        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">男</span>
                                            <span class="info-box-number" id="menNo">0</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-green">
                                        <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">女</span>
                                            <span class="info-box-number" id="womenNo">0</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                            </div>
                        </div>
                        <h4>手机系统</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="box-body">
                                        <canvas id="pieChartSys"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-aqua">
                                        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Android</span>
                                            <span class="info-box-number" id="androidNo">0</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="info-box bg-green">
                                        <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">iOS</span>
                                            <span class="info-box-number" id="iosNo">0</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                            </div>
                        </div>
                        <h4>地区分布</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="box-body">
                                        <canvas id="barChart"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">地区分布排行</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body no-padding">
                                        <table class="table table-striped">
                                            <tbody id="areaTotalList">
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th style="width: 100px">地区</th>
                                                    <th>数量</th>
                                                    <th style="width: 40px">占比</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>

</section>

@Html.Action("footer", "Agent", new { id = "" })

<!-- date-range-picker -->
<script src="../../static/plugins/daterangepicker/moment.min.js"></script>
<script src="../../static/plugins/daterangepicker/daterangepicker.js"></script>

<!-- ChartJS 1.0.1 -->
<script src="../../static/plugins/chartjs/Chart.min.js"></script>

<!--vtool.js-->
<script src="../../static/libs/vtool.js"></script>

<!--mock.js-->
<script src="../../static/libs/mock/mock.js"></script>
@*<script src="../../static/libs/mock/data.mock.js"></script>*@

<!-- underscore 模板 -->
<script type="text/template" id="trTpl">
    <% _.each(list, function(ele, index, list){ %>
    <tr>
        <td><%= index %></td>
        <td><%= ele.title %></td>
        <td>
            <div class="progress progress-xs">
                <div class="progress-bar progress-bar-danger" <%= 'style="width:' + (ele.value / total) + '%"' %> ></div>
            </div>
        </td>
        <td><span class="badge bg-red"> <%= ele.value / total + '%' %> </span></td>
    </tr>
    <% }); %>
</script>
<script>
    $(function(){
        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker

        //-------------
        //- PIE CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.

        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        
        var pieDataSex = {
            labels: [],
            datasets: [
                {
                    data: [1, 1],
                    backgroundColor: [
                        "#00c0ef",
                        "#00a65a"
                    ],
                    hoverBackgroundColor: [
                        "#00c0ef",
                        "#00a65a"
                    ]
                }]
        };
        var pieDataSys = {
            labels: [],
            datasets: [
                {
                    data: [1, 1],
                    backgroundColor: [
                        "#00c0ef",
                        "#00a65a"
                    ],
                    hoverBackgroundColor: [
                        "#00c0ef",
                        "#00a65a"
                    ]
                }]
        }
//        var pieOptions = {
//            //Boolean - Whether we should show a stroke on each segment
//            segmentShowStroke: true,
//            //String - The colour of each segment stroke
//            segmentStrokeColor: "#fff",
//            //Number - The width of each segment stroke
//            segmentStrokeWidth: 2,
//            //Number - The percentage of the chart that we cut out of the middle
//            percentageInnerCutout: 50, // This is 0 for Pie charts
//            //Number - Amount of animation steps
//            animationSteps: 100,
//            //String - Animation easing effect
//            animationEasing: "easeOutBounce",
//            //Boolean - Whether we animate the rotation of the Doughnut
//            animateRotate: true,
//            //Boolean - Whether we animate scaling the Doughnut from the centre
//            animateScale: false,
//            //Boolean - whether to make the chart responsive to window resizing
//            responsive: true,
//            // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
//            maintainAspectRatio: true,
//            //String - A legend template
////                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
//        };
        var pieOptions = {};
        var pieChartCanvasSex = $("#pieChartSex").get(0).getContext("2d");
        var pieChartCanvasSys = $("#pieChartSys").get(0).getContext("2d");
        var pieChartSex = new Chart(pieChartCanvasSex, {
            type: 'doughnut',
            data: pieDataSex,
            options: pieOptions
        });
        var pieChartSys = new Chart(pieChartCanvasSys, {
            type: 'doughnut',
            data: pieDataSys,
            options: pieOptions
        });

        // 请求用户性别信息
        var sexDef = $.ajax({
            url: '/AgentTotalUser/total_user_SexList',
            type: "GET",
            data: {
                usertype: 'customer'
            }
        });
            sexDef.done(function(resp, status, xhr){
            var pieSex = pieDataSex;
            var xyValue = vTool.parseValue(resp.XYValue);

            _.each(xyValue.x, function(element, index, list) {
                if ( element === "men" ){
                    pieSex.labels[index] = "男";
                    $("#menNo").text(xyValue.y[index]);
                } else {
                    pieSex.labels[index] = "女";
                    $("#womenNo").text(xyValue.y[index]);
                }

                pieSex.datasets[0].data[index] = (xyValue.y[index] || 1);
            });

            pieChartSex.data = pieSex;
            pieChartSex.update();
        });

        // 请求用户系统信息
        var sysDef = $.ajax({
            url: '/AgentTotalUser/total_user_AppNameList',
            type: "GET",
            data: {
                usertype: 'customer'
            }
        });
            sysDef.done(function(resp, status, xhr){
            var pieSys = pieDataSys;
            var xyValue = vTool.parseValue(resp.XYValue);

            _.each(xyValue.x, function(element, index, list) {
                if ( element === "ios" ){
                    pieSys.labels[index] = "ios";
                    $("#iosNo").text(xyValue.y[index]);
                } else {
                    pieSys.labels[index] = "android";
                    $("#androidNo").text(xyValue.y[index]);
                }

                pieSys.datasets[0].data[index] = (xyValue.y[index] || 1);
            });

            pieChartSys.data = pieSys;
            pieChartSys.update();

        });

        //-------------
        //- BAR CHART -
        //-------------
        var barChartCanvas = $("#barChart").get(0).getContext("2d");
        var barChartData = {
            labels: [],
            datasets: [
                {
                    label: "Electronics",
                    fillColor: "#00a65a",
                    strokeColor: "#00a65a",
                    pointColor: "#00a65a",
                    pointStrokeColor: "#c1c7d1",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: []
                }
            ]
        };
        var barChartOptions = {
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - If there is a stroke on each bar
            barShowStroke: true,
            //Number - Pixel width of the bar stroke
            barStrokeWidth: 2,
            //Number - Spacing between each of the X value sets
            barValueSpacing: 5,
            //Number - Spacing between data sets within X values
            barDatasetSpacing: 1,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
            //Boolean - whether to make the chart responsive
            responsive: true,
            maintainAspectRatio: true
        };
        var barChart = new Chart(barChartCanvas, {
            type: "bar",
            data: barChartData,
            options: barChartOptions
        });

        var totalUser = $.ajax({
            url: '/AgentTotalUser/total_user_AllList',
            type: "GET",
            data: {
                usertype: 'customer',
                start: moment().subtract(1, 'days').format('YYYYMMDD'),
                end: moment().format('YYYYMMDD')
            }
        });

        var areaUser = $.ajax({
            url: '/AgentTotalUser/total_user_AreaList',
            type: "GET",
            data: {
                usertype: 'customer',
                start: moment().subtract(1, 'days').format('YYYYMMDD'),
                end: moment().format('YYYYMMDD')
            },
            dataType : 'json'
        });

        var trTpl = _.template($("#trTpl").html());

        $.when(totalUser, areaUser).done(function (argTotal, argArea) {
            var totalValue, areaValue, totalToday, tableData;

            if ( !(argTotal[1] === "success" && argArea[1] === "success") ){
                return
            }

            totalValue = vTool.parseValue(argTotal[0].XYValue);
            areaValue = vTool.parseValue(argArea[0].XYValue);

            totalToday = totalValue.xy[moment().format('YYYYMMDD')];

            renderTable($("#areaTotalList"), trTpl, areaValue);

            renderPieChart(barChart, barChartData, barChartOptions, areaValue);

            // 绘制表格
            function renderTable(tableBody, trTpl, xyValue){
                var tableData = {
                    list : [],
                    total : +totalToday || 1
                } ;

                for (var i = 0; i < xyValue.x.length; i++) {
                    tableData.list.push({
                        title: xyValue.x[i],
                        value: xyValue.y[i]
                    })
                }

                tableBody.append(trTpl(tableData));
            }

            // 绘制chart
            function renderPieChart(chart, chartData, chartOption, xyValue){
                // 渲染barChart
                chartData.labels = xyValue.x;
                chartData.datasets[0].data = xyValue.y;

                chart.data = chartData;
                chart.update();
            }

        })

    });
</script>
