
@{
    ViewBag.headTitle = "助理统计";
    ViewBag.subTitle = "助理信息";
    ViewBag.breadcrumbOl = new List<string>() { "统计","助理统计", "助理信息" };
}

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <form role="form" lpformnum="2">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-event">新增人数</button>
                                        @*<button type="button" class="btn btn-default">净增人数</button>*@
                                        <button type="button" class="btn btn-default btn-event">累计人数</button>
                                        <button type="button" class="btn btn-default btn-event">用户活跃度</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- select -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">时间范围</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right" id="reservation">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-body">
                                        <div class="chart">
                                            <canvas id="lineChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <div class="box-body">
                    <h4>性别比例</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="box">
                                <div class="box-body">
                                    <canvas id="pieChartSex"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box bg-aqua">
                                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">男</span>
                                        <span class="info-box-number" id="menNo">0</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box bg-green">
                                    <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">女</span>
                                        <span class="info-box-number" id="womenNo">0</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                        </div>
                    </div>
                    <!--<h4>学历比例</h4>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-4">-->
                            <!--<div class="box">-->
                                <!--<div class="box-body">-->
                                    <!--<canvas id="pieChartEdu"></canvas>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-8">-->
                            <!--<div class="box-body no-padding">-->
                                <!--<table class="table table-striped">-->
                                    <!--<tbody id="areaTotalEdu">-->
                                        <!--<tr>-->
                                            <!--<th style="width: 10px">#</th>-->
                                            <!--<th>Task</th>-->
                                            <!--<th>Progress</th>-->
                                            <!--<th style="width: 40px">Label</th>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>1.</td>-->
                                            <!--<td>Update software</td>-->
                                            <!--<td>-->
                                                <!--<div class="progress progress-xs">-->
                                                    <!--<div class="progress-bar progress-bar-danger" style="width: 55%"></div>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                            <!--<td><span class="badge bg-red">55%</span></td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>2.</td>-->
                                            <!--<td>Clean database</td>-->
                                            <!--<td>-->
                                                <!--<div class="progress progress-xs">-->
                                                    <!--<div class="progress-bar progress-bar-yellow" style="width: 70%"></div>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                            <!--<td><span class="badge bg-yellow">70%</span></td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>3.</td>-->
                                            <!--<td>Cron job running</td>-->
                                            <!--<td>-->
                                                <!--<div class="progress progress-xs progress-striped active">-->
                                                    <!--<div class="progress-bar progress-bar-primary" style="width: 30%"></div>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                            <!--<td><span class="badge bg-light-blue">30%</span></td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>4.</td>-->
                                            <!--<td>Fix and squish bugs</td>-->
                                            <!--<td>-->
                                                <!--<div class="progress progress-xs progress-striped active">-->
                                                    <!--<div class="progress-bar progress-bar-success" style="width: 90%"></div>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                            <!--<td><span class="badge bg-green">90%</span></td>-->
                                        <!--</tr>-->
                                    <!--</tbody>-->
                                <!--</table>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <h4>地区分布</h4>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="box">
                                <div class="box-body">
                                    <canvas id="barChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">地区分布排行</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <table class="table table-striped">
                                        <tbody id="areaTotalList">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th style="width: 100px">地区</th>
                                                <th>占比</th>
                                                <th style="width: 40px">占比</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>

</section>

<!-- date-range-picker -->
<script src="../../static/plugins/daterangepicker/moment.min.js"></script>
<script src="../../static/plugins/daterangepicker/daterangepicker.js"></script>

<!-- ChartJS 1.0.1 -->
<script src="../../static/plugins/chartjs/Chart.min.js"></script>

<script src="../../static/libs/eventBtn.js"></script>

<!--vtool.js-->
<script src="../../static/libs/xytool.js"></script>

<!--mock.js-->
<script src="../../static/libs/mock/mock.js"></script>
<script src="../../static/libs/mock/data.mock.js"></script>

<!-- underscore 模板 -->
<script type="text/template" id="trTpl">
    <% _.each(list, function(ele, index, list){ %>
    <tr>
        <td><%= index %></td>
        <td><%= ele.title %></td>
        <td>
            <div class="progress progress-xs">
                <div class="progress-bar progress-bar-danger" <%= 'style="width:' + (ele.value / total) + '%"' %> ></div>
            </div>
        </td>
        <td><span class="badge bg-red"> <%= ele.value / total + '%' %> </span></td>
    </tr>
    <% }); %>
</script>

<script>
    $(function () {

        function getRequireOptions(options){
            return $.extend({},{
                type: "GET",
                data: {
                    usertype: "customerservice"
                }
            }, options);
        }

        function chartLabelFormat(labels, arrayData){
            return {
                labels : (function(){
                    return _.map(labels, function(element, index, list){
                        return element.slice(4).replace(/(.{2})/,'$1\-')
                    })
                })(),
                data: arrayData
            }
        }

        function dateSelectFunc(start, end, label){
            var opt = $.extend(dateReqOption, {
                data : {
                    usertype: "customer",
                    start: start.format('YYYYMMDD'),
                    end: end.format('YYYYMMDD')
                }
            });

            var def = $.ajax(opt);

            def.done(function(resp, statue, xhr){
                var value = resp.XYValue;
                var format = chartLabelFormat || void 0;

                if ( typeof _.isObject(value) ) {
                    lineChartData.labels = _.keys(value);
                    lineChartData.datasets[0].data = _.values(value);

                    if ( typeof format === "function") {
                        var formatData = format(lineChartData.labels, lineChartData.datasets[0].data);
                        lineChartData.labels = formatData.labels;
                        lineChartData.datasets[0].data = formatData.data;
                    }


                    lineChart.data = lineChartData;
                    lineChart.update();
                }
            });
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        };

        /* ChartJS
         * -------
         * Here we will create a few charts using ChartJS
         */

        //--------------
        //- LINE CHART -
        //--------------
        var lineChartData = {
            labels: [],
            datasets: [
                {
                    fill: false,
                    lineTension: 0.1,
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderColor: "rgba(75,192,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: []
                }
            ]
        };
        var lineChartOptions = {
            scales: {
                yAxes: [{
                    ticks: {
                        stepSize: 1,
                        beginAtZero:true
                    }
                }]
            },
            legend: {
                display: false
            }
        };
        var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
        var lineChart = new Chart(lineChartCanvas, {
            type: 'line',
            data: lineChartData,
            options : lineChartOptions
        });

//        lineChartOptions.datasetFill = false;
//        lineChart.Line(lineChartData, lineChartOptions);

        // 选择rangeDate 时的请求参数
        var dateReqOption;

        // rangeDatePicker 配置
        var dateConfig = {
            "ranges": {
                '今天': [moment(), moment()],
                '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '最近7天': [moment().subtract(6, 'days'), moment()],
                '最近30天': [moment().subtract(29, 'days'), moment()],
                '这个月': [moment().startOf('month'), moment().endOf('month')],
                '上个月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            "locale": {
                "format": "MM/DD/YYYY",
                "separator": " - ",
                "applyLabel": "确定",
                "cancelLabel": "取消",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "自定义时间段",
                "weekLabel": "W",
                "daysOfWeek": [
                    "日",
                    "一",
                    "二",
                    "三",
                    "四",
                    "五",
                    "六"
                ],
                "monthNames": [
                    "一月",
                    "二月",
                    "三月",
                    "四月",
                    "五月",
                    "六月",
                    "七月",
                    "八月",
                    "九月",
                    "十月",
                    "十一月",
                    "十二月"
                ],
                "firstDay": 1
            },
            "startDate": moment().subtract(29, 'days'),
            "endDate": moment()
        };

        //Date range picker with time picker
        var dateRange = $('#reservation').daterangepicker(dateConfig, dateSelectFunc);

        // 图标按钮类实例
        var riseUser = new LineBtn("#riseUser", {
            chart : lineChart,
            chartData : lineChartData,
            chartOptions : lineChartOptions,
            chartDataFormat: chartLabelFormat,
            clickBind : function(e){
                console.log("riseUser");
                dateReqOption = getRequireOptions({url: "/AgentTotalUser/total_user_NewList"});
                // 切换不同查询时，初始化daterangepicker
                dateRange.daterangepicker(dateConfig, dateSelectFunc);
                $(e.target).addClass("active").siblings(".btn").removeClass("active");
            },
            reqOptions : {
                url : '/AgentTotalUser/total_user_NewList',
                type: "GET",
                data: {
                    usertype: "customerservice"
                }
            }
        });

        var totalUser = new LineBtn("#totalUser", {
            chart : lineChart,
            chartData : lineChartData,
            chartOptions : lineChartOptions,
            chartDataFormat: chartLabelFormat,
            clickBind : function(e){
                console.log("totalUser");
                dateReqOption = getRequireOptions({url: "/AgentTotalUser/total_user_AllList"});
                dateRange.daterangepicker(dateConfig, dateSelectFunc);
                $(e.target).addClass("active").siblings(".btn").removeClass("active");
            },
            reqOptions : {
                url : '/AgentTotalUser/total_user_AllList',
                type: "GET",
                data: {
                    usertype: "customerservice"
                }
            }
        });

        var activeUser = new LineBtn("#activeUser", {
            chart : lineChart,
            chartData : lineChartData,
            chartOptions : lineChartOptions,
            chartDataFormat: chartLabelFormat,
            clickBind : function(e){
                console.log("activeUser");
                dateReqOption = getRequireOptions({url: "/AgentTotalUser/total_user_LoginList"});
                dateRange.daterangepicker(dateConfig, dateSelectFunc);
                $(e.target).addClass("active").siblings(".btn").removeClass("active");
            },
            reqOptions : {
                url : '/AgentTotalUser/total_user_LoginList',
                type: "GET",
                data: {
                    usertype: "customerservice"
                }
            }
        });

        $('#riseUser').click();


        //-------------
        //- PIE CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.

        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.

        var pieDataSex = {
            labels: [],
            datasets: [
                {
                    data: [1, 1],
                    backgroundColor: [
                        "#00c0ef",
                        "#00a65a"
                    ],
                    hoverBackgroundColor: [
                        "#00c0ef",
                        "#00a65a"
                    ]
                }]
        };
        var pieDataSys = {
            labels: [],
            datasets: [
                {
                    data: [1, 1],
                    backgroundColor: [
                        "#00c0ef",
                        "#00a65a"
                    ],
                    hoverBackgroundColor: [
                        "#00c0ef",
                        "#00a65a"
                    ]
                }]
        }
//        var pieOptions = {
//            //Boolean - Whether we should show a stroke on each segment
//            segmentShowStroke: true,
//            //String - The colour of each segment stroke
//            segmentStrokeColor: "#fff",
//            //Number - The width of each segment stroke
//            segmentStrokeWidth: 2,
//            //Number - The percentage of the chart that we cut out of the middle
//            percentageInnerCutout: 50, // This is 0 for Pie charts
//            //Number - Amount of animation steps
//            animationSteps: 100,
//            //String - Animation easing effect
//            animationEasing: "easeOutBounce",
//            //Boolean - Whether we animate the rotation of the Doughnut
//            animateRotate: true,
//            //Boolean - Whether we animate scaling the Doughnut from the centre
//            animateScale: false,
//            //Boolean - whether to make the chart responsive to window resizing
//            responsive: true,
//            // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
//            maintainAspectRatio: true,
//            //String - A legend template
////                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
//        };
        var pieOptions = {};
        var pieChartCanvasSex = $("#pieChartSex").get(0).getContext("2d");
//        var pieChartCanvasSys = $("#pieChartEdu").get(0).getContext("2d");
        var pieChartSex = new Chart(pieChartCanvasSex, {
            type: 'doughnut',
            data: pieDataSex,
            options: pieOptions
        });
//        var pieChartEdu = new Chart(pieChartCanvasSys, {
//            type: 'doughnut',
//            data: pieDataSys,
//            options: pieOptions
//        });

        // 请求用户性别信息
        var sexDef = $.ajax({
            url: '/AgentTotalUser/total_user_SexList',
            type: "GET",
            data: {
                usertype: 'customer'
            }
        });
        sexDef.done(function(resp, status, xhr){
            var pieSex = pieDataSex;
            var xyValue = xyTool.parseValue(resp.XYValue);

            _.each(xyValue.x, function(element, index, list) {
                if ( element === "men" ){
                    pieSex.labels[index] = "男";
                    $("#menNo").text(xyValue.y[index]);
                } else {
                    pieSex.labels[index] = "女";
                    $("#womenNo").text(xyValue.y[index]);
                }

                pieSex.datasets[0].data[index] = (xyValue.y[index] || 1);
            });

            pieChartSex.data = pieSex;
            pieChartSex.update();
        });

        // 请求用户系统信息
//        var sysDef = $.ajax({
//            url: '/AgentTotalUser/total_user_AppNameList',
//            type: "GET",
//            data: {
//                usertype: 'customer'
//            }
//        });
//        sysDef.done(function(resp, status, xhr){
//            var pieSys = pieDataSys;
//            var xyValue = xyTool.parseValue(resp.XYValue);
//
//            _.each(xyValue.x, function(element, index, list) {
//                if ( element === "ios" ){
//                    pieSys.labels[index] = "ios";
//                    $("#iosNo").text(xyValue.y[index]);
//                } else {
//                    pieSys.labels[index] = "android";
//                    $("#androidNo").text(xyValue.y[index]);
//                }
//
//                pieSys.datasets[0].data[index] = (xyValue.y[index] || 1);
//            });
//
//            pieChartEdu.data = pieSys;
//            pieChartEdu.update();
//
//        });

        //-------------
        //- BAR CHART -
        //-------------
        var barChartCanvas = $("#barChart").get(0).getContext("2d");
        var barChartData = {
            labels: [],
            datasets: [
                {
                    label: "Electronics",
                    fillColor: "#00a65a",
                    strokeColor: "#00a65a",
                    pointColor: "#00a65a",
                    pointStrokeColor: "#c1c7d1",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: []
                }
            ]
        };
        var barChartOptions = {
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - If there is a stroke on each bar
            barShowStroke: true,
            //Number - Pixel width of the bar stroke
            barStrokeWidth: 2,
            //Number - Spacing between each of the X value sets
            barValueSpacing: 5,
            //Number - Spacing between data sets within X values
            barDatasetSpacing: 1,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
            //Boolean - whether to make the chart responsive
            responsive: true,
            maintainAspectRatio: true
        };
        var barChart = new Chart(barChartCanvas, {
            type: "bar",
            data: barChartData,
            options: barChartOptions
        });

        var totalUser = $.ajax({
            url: '/AgentTotalUser/total_user_AllList',
            type: "GET",
            data: {
                usertype: 'customer',
                start: moment().subtract(1, 'days').format('YYYYMMDD'),
                end: moment().format('YYYYMMDD')
            }
        });

        var areaUser = $.ajax({
            url: '/AgentTotalUser/total_user_AreaList',
            type: "GET",
            data: {
                usertype: 'customer',
                start: moment().subtract(1, 'days').format('YYYYMMDD'),
                end: moment().format('YYYYMMDD')
            },
            dataType : 'json'
        });

        var trTpl = _.template($("#trTpl").html());

        $.when(totalUser, areaUser).done(function (argTotal, argArea) {
            var totalValue, areaValue, totalToday, tableData;

            if ( !(argTotal[1] === "success" && argArea[1] === "success") ){
                return
            }

            totalValue = xyTool.parseValue(argTotal[0].XYValue);
            areaValue = xyTool.parseValue(argArea[0].XYValue);

            totalToday = totalValue.xy[moment().format('YYYYMMDD')];

            renderTable($("#areaTotalList"), trTpl, areaValue);

            renderPieChart(barChart, barChartData, barChartOptions, areaValue);

            // 绘制表格
            function renderTable(tableBody, trTpl, xyValue){
                var tableData = {
                    list : [],
                    total : +totalToday || 1
                } ;

                for (var i = 0; i < xyValue.x.length; i++) {
                    tableData.list.push({
                        title: xyValue.x[i],
                        value: xyValue.y[i]
                    })
                }

                tableBody.append(trTpl(tableData));
            }

            // 绘制chart
            function renderPieChart(chart, chartData, chartOption, xyValue){
                // 渲染barChart
                chartData.labels = xyValue.x;
                chartData.datasets[0].data = xyValue.y;

                chart.data = chartData;
                chart.update();
            }

        })


    });
</script>

