<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://business.dev.ydban.cn:688</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <MSDeployServiceURL>business.dev.ydban.cn</MSDeployServiceURL>
    <DeployIisAppPath>888_AdminWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>deployer</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DianzhuConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="dev.ydban.cn_dianzhu_publish___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldvvnE7v+h5tfBTVrX68XHLFRjtD5BOpJk5JDWq+aoMpQNLRKj4xmcgKmk8BJhFFSLuOwv5586YB5ZWBtFKZPQzi" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DianzhuConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="dev.ydban.cn_dianzhu_publish___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldvvnE7v+h5tfBTVrX68XHLFRjtD5BOpJk5JDWq+aoMpQNLRKj4xmcgKmk8BJhFFSLuOwv5586YB5ZWBtFKZPQzi" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_instantmessage" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="dev.ydban.cn_ydb_instantmessage___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18lduRu2fYH8W1uC2cH+gXtwmbqafZWfMCXdpNTO92pGPy0jHf6kxm6b1VY1fJwF9XODWQxTzim95jZMi+P1lMePnFWUjI2SE2j5U=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_instantmessage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="dev.ydban.cn_ydb_instantmessage___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18lduRu2fYH8W1uC2cH+gXtwmbqafZWfMCXdpNTO92pGPy0jHf6kxm6b1VY1fJwF9XODWQxTzim95jZMi+P1lMePnFWUjI2SE2j5U=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_membership" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="dev.ydban.cn_ydb_membership___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldsMkqoySIMv/ZBg2cU8y1tvGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyO3NQvJ8v5l" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_membership_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="dev.ydban.cn_ydb_membership___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldsMkqoySIMv/ZBg2cU8y1tvGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyO3NQvJ8v5l" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_businessresource" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="dev.ydban.cn_ydb_businessresource___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldvrRFB7T4zZntHcE3YVRdSYu2e9QUPEYirb529vLQNS3Vh6fUSI7CI/UuoOGPRsf4dIJpTzYE/9chnHb6U6qCjxTclBFll4jzY=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_businessresource_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="dev.ydban.cn_ydb_businessresource___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldvrRFB7T4zZntHcE3YVRdSYu2e9QUPEYirb529vLQNS3Vh6fUSI7CI/UuoOGPRsf4dIJpTzYE/9chnHb6U6qCjxTclBFll4jzY=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_paygateway" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_ydb_paygateway___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfsEODF4dUEw6x3i+PWLcd4+eFLCQv9tUfh1Wo9eZIuad7EZnZh47R8pkIUTfDvMIRE=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_paygateway_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_ydb_paygateway___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfsEODF4dUEw6x3i+PWLcd4+eFLCQv9tUfh1Wo9eZIuad7EZnZh47R8pkIUTfDvMIRE=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_finance" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="dev.ydban.cn_ydb_finance___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldtnq0wdR0icTqsuimOgnq+Y+wuMhMsuy7PH8sGuRwDQ1FHGe6bn30aUYgba9NSZzf1rr/SQLOLx8KocAcaJeAkW" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_finance_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="dev.ydban.cn_ydb_finance___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldtnq0wdR0icTqsuimOgnq+Y+wuMhMsuy7PH8sGuRwDQ1FHGe6bn30aUYgba9NSZzf1rr/SQLOLx8KocAcaJeAkW" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_common" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="dev.ydban.cn_ydb_common___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18lduTTdpxLlR0m2Z8fKBlrif5TUzvdqRj8tIx3+pMZum9VWNXycBfVzg1kMU84pveY2TIvj9ZTHj5xVlIyNkhNo+V" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_common_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="dev.ydban.cn_ydb_common___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18lduTTdpxLlR0m2Z8fKBlrif5TUzvdqRj8tIx3+pMZum9VWNXycBfVzg1kMU84pveY2TIvj9ZTHj5xVlIyNkhNo+V" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_order" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_ydb_order___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfuEYbYvGuQdcas/u/W5TE+tLoqExI90bGZLI3lYf9D1yWLAExzFanjt" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_order_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_ydb_order___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfuEYbYvGuQdcas/u/W5TE+tLoqExI90bGZLI3lYf9D1yWLAExzFanjt" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ydb_push" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost_ydb_push___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfu59Df9SE91aO22b2VsvnFY3cB+Yxc9sl2Sf45Pkefewm2py1ROdZoj" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ydb_push_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost_ydb_push___KkZl+RcgPXkp2s3KP6KcmzeQKir2jGELLlSTnwtFVfu59Df9SE91aO22b2VsvnFY3cB+Yxc9sl2Sf45Pkefewm2py1ROdZoj" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>False</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DianzhuConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_businessresource-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_common-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_finance-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_instantmessage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_membership-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_order-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_paygateway-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ydb_push-Web.config Connection String" />
  </ItemGroup>
</Project>