<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ServerNum" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PayServerNum" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="UseHttps" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MonitorEmails" value="issumao@126.com,550700860@qq.com,502647115@qq.com"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--<add key="MonitorEmails" value=""/>-->
    <!--value为空，表示不发邮件-->
  </appSettings>
  <connectionStrings>
    <add  xdt:Transform="Replace" xdt:Locator="Match(name)"  name="DianzhuConnectionString"  connectionString="dev.ydban.cn_dianzhu_publish___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldvvnE7v+h5tfBTVrX68XHLFRjtD5BOpJk5JDWq+aoMpQNLRKj4xmcgKmk8BJhFFSLuOwv5586YB5ZWBtFKZPQzi"/>
    <add  xdt:Transform="Replace" xdt:Locator="Match(name)" name="ydb_finance"  connectionString="dev.ydban.cn_ydb_finance___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldtnq0wdR0icTqsuimOgnq+Y+wuMhMsuy7PH8sGuRwDQ1FHGe6bn30aUYgba9NSZzf1rr/SQLOLx8KocAcaJeAkW"/>
    <add  xdt:Transform="Replace" xdt:Locator="Match(name)" name="ydb_instantmessage"  connectionString="dev.ydban.cn_ydb_instantmessage___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18lduRu2fYH8W1uC2cH+gXtwmbqafZWfMCXdpNTO92pGPy0jHf6kxm6b1VY1fJwF9XODWQxTzim95jZMi+P1lMePnFWUjI2SE2j5U="/>
    <add  xdt:Transform="Replace" xdt:Locator="Match(name)" name="ydb_businessresource"  connectionString="dev.ydban.cn_ydb_businessresource___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldvrRFB7T4zZntHcE3YVRdSYu2e9QUPEYirb529vLQNS3Vh6fUSI7CI/UuoOGPRsf4dIJpTzYE/9chnHb6U6qCjxTclBFll4jzY="/>
    <add  xdt:Transform="Replace" xdt:Locator="Match(name)" name="ydb_membership"  connectionString="dev.ydban.cn_ydb_membership___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldsMkqoySIMv/ZBg2cU8y1tvGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyO3NQvJ8v5l"/>
    <add  xdt:Transform="Replace" xdt:Locator="Match(name)" name="ydb_common"  connectionString="dev.ydban.cn_ydb_common___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18lduTTdpxLlR0m2Z8fKBlrif5TUzvdqRj8tIx3+pMZum9VWNXycBfVzg1kMU84pveY2TIvj9ZTHj5xVlIyNkhNo+V"/>
    <add  xdt:Transform="Replace" xdt:Locator="Match(name)" name="MongoDB" connectionString="dWU7hS29EeIiGPPRoa/Y7zFbreTUdMma" />
    <!--localhost:dWU7hS29EeIiGPPRoa/Y7zFbreTUdMma   112.74.198.215:dWU7hS29EeIGFB6vQBGon9Wk9TbmRxH7ZPFMpsy2Wyg= -->
  
  </connectionStrings>

</configuration>