<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <connectionStrings configSource="connectionStrings.config"></connectionStrings>
  <log4net configSource="log4net.config"/>
  <appSettings configSource="appSettings.config"/>
  <runtime>
       <loadFromRemoteSources enabled="true "/>
    
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
