/*全局输入框样式*/
.input-lg {
  width: 270px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  border-radius: 0px;
  background: #ffffff;
  color: #444444;
  font-size: 14px;
  vertical-align: middle;
}
.input-lg:focus {
  background: #ffffff;
  border: 1px solid #0f9ecc;
  box-shadow: 0 0 3px 0 #0f9ecc;
}
.input-mid {
  width: 170px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  border-radius: 0px;
  background: #ffffff;
  color: #444444;
  font-size: 14px;
  vertical-align: middle;
}
.input-mid:focus {
  background: #ffffff;
  border: 1px solid #0f9ecc;
  box-shadow: 0 0 3px 0 #0f9ecc;
}
.input-sm {
  width: 30px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  border-radius: 0px;
  background: #ffffff;
  color: #444444;
  font-size: 14px;
  vertical-align: middle;
}
.input-sm:focus {
  background: #ffffff;
  border: 1px solid #0f9ecc;
  box-shadow: 0 0 3px 0 #0f9ecc;
}
.input-textarea {
  display: block;
  width: 310px;
  height: 155px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  background: #ffffff;
  color: #444444;
  font-size: 14px;
  overflow-y: auto;
}
