.steps-wrap(@stepNum) {

  .steps-show {
    overflow: hidden;
  }

  .steps-tips {
    overflow: hidden;
    padding: 20px;
    margin: 14px;

    background: #fff;
    .steps-tip {
      float: left;
      width: 100/@stepNum * 1%;
      text-align: center;
      position: relative;
      z-index: 100;
      .steps-tip-icon {
        display: inline-block;
        width: 90px;
        height: 90px;
        background: #ddd;
      }

      &.cur-step {
        .steps-tip-icon {
          display: inline-block;
          width: 90px;
          height: 90px;
          background: red;
        }
      }
      &.done-step {
        .steps-tip-icon {
          display: inline-block;
          width: 90px;
          height: 90px;
          background: blue;
        }
      }
    }
  }

  .steps-lines {
    width: (100 - 100/@stepNum) * 1% ;
    height: 10px;
    background: #666;
    margin: 0 auto;
    margin-top: -85px;
    margin-bottom: 75px;
    .steps-line {
      float: left;
      width: 100/(@stepNum - 1) * 1%;
      height: 10px;
      background: #ddd;
      &.cur-step {
          background: red;
      }
      &.done-step {
          background: blue;
      }
    }
  }

  .steps-list {
    .steps-step {
      display: none;
      &.cur-step {
        display: block;
      }
    }
  }

  .step-ctrl {
    .step-prev {

    }
  }


}

.steps-3 {
  .steps-wrap(3);
}

.steps-2 {
  .steps-wrap(2);
}