.timetable-title {
  margin-bottom: 20px;
}
.timetable-title-icon {
  width: 36px;
  height: 36px;
  background: url("../../image/yidianban_v1.2/tt-head-icon.png") no-repeat bottom;
}
.time-head {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px ;
}
.time-head p {
  font-size: 30px;
}
.timetable-container {
  background: #eee;
  padding: 15px 10px;
  border: 1px solid #ccc;
}
.timetable {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
.tt-row {
  height: 70px;
  position: relative;
}
.tt-row-bg {
  background: url("../../image/yidianban_v1.2/tt-bg.png") no-repeat bottom;
  background-attachment: local;
}
.tt-side {
  float: left;
  position: relative;
  width: 90px;
}
.tt-side-head {
  height: 30px;
}
.tt-side-row {
  text-align: center;
  line-height: 70px;
}
.tt-head {
  position: relative;
  border-bottom: 1px solid #ddd;
}
.tt-head-scrollable {
  overflow: hidden;
}
.tt-head-columns {
  position: relative;
  height: 30px;
}
.tt-head-columns .tt-head-column {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  line-height: 100%;
  border-left: 1px solid #ddd;
  width: 20px;
  text-align: center;
}
.tt-body {
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}
.tt-body-scrollable {
  overflow: auto;
  position: relative;
}
.tt-body-background {
  position: absolute;
  height: 100%;
  width: 100%;
}
.tt-body-foreground {
  position: absolute;
  height: 100%;
}
.tt-body-foreground .tt-fg-column {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  border-left: 1px solid #ddd;
}
.tt-body-columns {
  position: absolute;
  height: 100%;
}
.tt-body-columns .tt-fg-column {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  border-left: 1px solid #ddd;
  width: 20px;
}
.tt-body-rows {
  padding-bottom: 20px;
}
.tt-body-rows .tt-row-content {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tt-body-rows .tt-row-content .tt-task {
  position: absolute;
  margin: auto;
  top: 0;
  left: 30px;
  min-width: .6em;
  height: 60px;
  background: url("../../image/yidianban_v1.2/tt-good-icon.png") no-repeat bottom;
}
.tt-body-rows .tt-row-content .tt-task.tt-task-split {
  margin: 0 auto;
}
.tt-main {
  position: relative;
  padding: 0 20px;
  overflow: hidden;
}
.tt-main-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.tt-main-bg .main-bg-head {
  height: 30px;
}
.tt-main-bg .main-bg-body {
  overflow: auto;
  position: relative;
}
.tt-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
