.time_list {
    margin: 10px;
}

.time_list input[type=button] {
    color: #fff;
    text-shadow: 0px 1px 1px #1E64AD;
    box-shadow: inset 0px 1px 0px 0px #C2DFFF;
    border: 1px solid #89C1FF;
    border-radius: 5px;
    padding: 5px 5px;
    background: #7abcff;
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: linear-gradient(to bottom, #9ECDFD 0%,#60abf8 44%,#2D85E0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );
}

.time_list input[type=number] {
  width: 50px;
}


.order_list {
    display: inline-block;
    padding: 10px;
    background: #a6c7ef;
}

.order_list .order {
    display: inline-block;
    background: #dcdcdc;
    position: relative;
    width: 50px;
    text-align: center;

}

.order_list input.deleteOrder {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 2px;
    text-shadow: 0 1px 1px #ff4444;
    box-shadow: inset 0px 1px 0px 0 #ffafaf;
    border: 1px solid #e85a5a;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffafaf+0,e85a5a+44,ff4444+100 */
    background: #ffafaf; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffafaf 0%, #e85a5a 44%, #ff4444 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffafaf 0%,#e85a5a 44%,#ff4444 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffafaf 0%,#e85a5a 44%,#ff4444 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffafaf', endColorstr='#ff4444',GradientType=0 ); /* IE6-9 */
}
