<?xml version="1.0"?>
 
  <appSettings>

    <!--
    ################本地配置数据#############
    -->
    <!--即时通讯服务器地址和域名-->
    <add key="local.ImServer"  value="192.168.3.172"/>
    <add key="local.ImDomain" value="192.168.3.172"/>
    <add key="local.MediaUploadUrl" value="http://192.168.3.172:8038/UploadFile.ashx"/>
    <add key="local.MediaGetUrl" value="http://192.168.3.172:8038/GetFile.ashx?fileName="/>
    <add key="local.PayUrl" value="http://192.168.3.172:8168/"/>

    <add key="local.APIBaseURL" value="http://192.168.3.172:8037/DianzhuApi.ashx"/>

    <!--
    ################服务器配置数据#############
    -->
    <add key="server.ImServer"  value="192.168.3.172"/>
    <add key="server.ImDomain" value="192.168.3.172"/>

    <add key="server.MediaUploadUrl" value="http://192.168.3.172:8038/UploadFile.ashx"/>
    <add key="server.MediaGetUrl" value="http://192.168.3.172:8038/GetFile.ashx?fileName="/>
    <add key="server.PayUrl" value="http://192.168.3.172:8168/"/>

    <add key="server.APIBaseURL" value="http://192.168.3.172:8037/DianzhuApi.ashx"/>
    
    
    <add key="ButtonNamePrefix" value="btn"/>
    
  </appSettings>