/* 自定义扩展的栅格工具, 分固定百分比栅格工具和10列栅格工具，主要用于服务列表和订单列表等，非12列的自适应布局*/
.custom-grid {
  overflow: hidden;
  .custom-col {
    position: relative;
    min-height: 1px;
    float: left;
  }
}

//固定百分比系统
.col-static-1 {
  width: 1%;
}
.col-static-2 {
  width: 2%;
}
.col-static-3 {
  width: 3%;
}
.col-static-5 {
  width: 5%;
}
.col-static-10 {
  width: 10%;
}
.col-static-20 {
  width: 20%;
}

/*10列栅格工具*/
.col-10-1 {
  width: 10%;
}
.col-10-2 {
  width: 20%;
}
.col-10-3 {
  width: 30%;
}
.col-10-4 {
  width: 40%;
}
.col-10-5 {
  width: 50%;
}
.col-10-6 {
  width: 60%;
}
.col-10-7 {
  width: 60%;
}
.col-10-8 {
  width: 80%;
}
.col-10-9 {
  width: 90%;
}
.col-10-10 {
  width: 100%;
}

/* 自定义表格 */
.custom-table {
  width: 100%;
}

.custom-table .table-col-1 {
  width: 8.33333333%;
}

.custom-table .table-col-2 {
  width: 16.66666667%;
}

.custom-table .table-col-3 {
  width: 25%;
}

.custom-table .table-col-4 {
  width: 33.33333333%;
}

.custom-table .table-col-5 {
  width: 41.66666667%;
}

.custom-table .table-col-6 {
  width: 50%;
}

.custom-table .table-col-7 {
  width: 58.33333333%;
}

.custom-table .table-col-8 {
  width: 66.66666667%;
}

.custom-table .table-col-9 {
  width: 75%;
}

.custom-table .table-col-10 {
  width: 83.33333333%;
}

.custom-table .table-col-11 {
  width: 91.66666667%;
}

.custom-table .table-col-12 {
  width: 100%;
}
