.order-list-head {
  .list-head();
  .custom-col {
    & + .custom-col {
      .l-b {
        border-left: 1px solid #ccc;
      }
    }
  }
}

.order-list {
  .list(600px, 0);
}

.order-row {
  .list-li(85px)
}

.appointWindow {
  width: 1200px;
  height: 600px;
}

.staffs-container {
  height: 550px;
  overflow-y: scroll;
}
