.order-list-head {
  .list-head();
  .custom-col {
    & + .custom-col {
      .l-b {
        border-left: 1px solid #ccc;
      }
    }
  }
}

.order-list {
  .list(600px, 0);
}

.order-li {
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.order-row {
  .list-li(85px)
}

.appointWindow {
  width: 1200px;
  height: 600px;
}

.staffs-container {
  height: 550px;
  overflow-y: scroll;
}

.order-status-list {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    bottom: 80px;
    left: 25px;
    margin-left: -4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
  }
  &::after {
    position: absolute;
    top: 0;
    left: 25px;
    margin-top: -80px;
    content: "";
    height: 100%;
    border-left: 2px solid #ccc;
  }
}

.status-list-item {
  position: relative;
  margin-bottom: 50px;
}

.status-tip {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.status-icon {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 5px solid #f6f6f6;
  background: #67bdf6;
  vertical-align: middle;
  position: relative;
  z-index: 10;
  .icon {
    width: 40px;
    height: 40px;
    background: url("@{base-images-url}common/icon/store.png") no-repeat center;
  }
}

.status-time {
  color: #fff;
  display: inline-block;
  padding: 10px 15px 10px 25px;
  background: #67bdf6;
  border-radius: 10px;
  margin-left: -20px;
}

.status-h{
  margin: 10px 0;
  margin-left: 50px;
  font-size: 16px;
  font-weight: bold;
}

.status-p{
  font-size: 14px;
  margin-left: 50px;
}