
/* 空服务时的添加 */
.empty-svc {
  text-align: center;
  padding-top: 170px;
}

.empty-svc-add {
  .btn_new();
}

.empty-svc-icon {
  display: block;
  margin: 20px auto;
  width: 62px;
  height: 70px;
  background: url("@{base-images-url}common/empty_box.png");
}

.empty-svc-msg {
  font-size: 16px;
  display: block;
  margin: 0 auto;
  width: 300px;
}

/* 服务列表页 */
.service-model-wrap {
  overflow: auto;
  .model {
    min-width: 1200px;
  }
}
.service-panel-head {
  .list-head();
}

.service-panel-list {

  .list(600px);
}

/* 服务编辑地图样式 */
#allmap {
  width: 100%;
  height: 320px;
}