
/* 空服务时的添加 */
.empty-svc {
  text-align: center;
  padding-top: 170px;
}

.empty-svc-add {
  display: inline-block;
  overflow: hidden;
  padding: 30px 66px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0 1px 1px #aaa;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8ffe8+0,e3f5ab+33,b7df2d+100;Green+3D+%234 */
  background: #f8ffe8; /* Old browsers */
  background: -moz-linear-gradient(top,  #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=0 ); /* IE6-9 */
  &:focus,
  &:active,
  &:hover {
    color : #fff;
  }
}

.empty-svc-icon {
  display: block;
  margin: 20px auto;
  width: 62px;
  height: 70px;
  background: url("@{base-images-url}common/empty_box.png");
}

.empty-svc-msg {
  display: block;
  margin: 0 auto;
  width: 250px;
  line-height: 1.4em;
  word-break: break-all;
}

/* 服务编辑地图样式 */
#allmap {
  width: 100%;
  height: 320px;
}