<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <appSettings>


    <add key="ImServer"  value="119.29.39.211"/>

    <add key="MediaUploadUrl" value="http://119.29.39.211:8038/UploadFile.ashx"/>
    <add key="MediaGetUrl" value="http://119.29.39.211:8038/GetFile.ashx?fileName="/>
    <add key="PayUrl" value="http://119.29.39.211:8168/"/>
    <add key="APIBaseURL" value="http://119.29.39.211:8037/DianzhuApi.ashx"/>





  </appSettings>
   
  <runtime>
    <loadFromRemoteSources enabled="true " />

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
