a{ text-decoration:none;}
ul li{ list-style:none;}
.my-div{ width:100%; position:relative;}
.my-3c{ width:33%; height:42.375px; line-height:42.375px; float:left; position:relative;}

.my-select{ width:100%; position:relative; background-color:#FFF; font-size:16px; margin-bottom:20px; overflow:hidden;}
.my-select cite{width:100%; height:42.375px;line-height:42.375px; display:block; color:#58789a; font-size:14px; cursor:pointer;font-style:normal; margin-left:5px;}
.my-select-ul{ width:100%;border:1px solid #CCC;  margin-top:-1px; display:block;  margin-left:0; position:absolute;}
.pd-size{padding:10px; background:#dfebf6; overflow:hidden;}
.pd-size3{background:#dfebf6; overflow:hidden; padding-bottom:10px; padding-left:10px; padding-right:10px;}
.pd-size2{padding:10px;overflow:hidden;}
.clear-f{ clear:both;}
.my-overflow{overflow:hidden;}
.per-list{background:#FFF;color:#6f8ba9;margin-top:15px; margin-bottom:15px; position:relative;padding-left:5px; padding-right:5px; overflow:hidden;}
.persion-inco{ float:left; width:70px; height:70px; text-align:left;margin-left:10px;}
.persion-inco img{ margin-top:5px;}
.persion-info{ float:left; width:55%; margin-left:5px;overflow:hidden;}
.persion-see{ float:right; width:60px; height:70px; line-height:70px; text-align:right; margin-right:10px;}
.persion-see img{ margin-top:10px;}
.per-name{ padding-top:10px;text-align:left; font-size:16px; overflow:hidden;}
.per-info{  text-align:left; font-size:12px; overflow:hidden;}
.per-sex{ background:url(/m/images/per-sex.png) no-repeat;}
.per-age{ background:url(/m/images/per-age.png) no-repeat;}
.per-work-age{ background:url(/m/images/per-work-age.png) no-repeat;}
.per-info ul li{ float:left; height:14px; line-height:14px; padding-left:14px; margin-top:5px; margin-bottom:5px;}
.per-list a{color:#58789a;}
.per-list a:hover{color:#58789a;}
.m-top{ margin-top:8px; display:block;}

.maskdiv{width:100%; height:100%; margin:0 auto; z-index:5; position:fixed; background:rgba(0, 0, 0, 0.52) none repeat scroll 0% 0%; opacity:1;display:none; }
.maskContent{ background:#f2f5fb; overflow:hidden; margin-top:60px ; padding-bottom:10px; }
.maskC_top{padding:10px; color:#617e9c; border-bottom:#cadbec solid 1px; font-size:15px;}
.maskC_main{padding:10px;}
.mask_li{ float:left; margin-right:10px;}
.my-li-style{
	height:33px; 
	padding:0 15px;
	line-height:33px; 
	text-align:center; 
	background:-webkit-linear-gradient(#2586b9, #03a6de);
	background:-o-linear-gradient(#2586b9, #03a6de);
	background:-moz-linear-gradient(#2586b9, #03a6de);
	background:linear-gradient(#2586b9, #03a6de);
	float:left; 
	border-radius:3px;
	
	}
.my-ui-btn-active{ background:#F00;}
.mybtn-see-div{ background:url(../images/ck_btn.png) no-repeat; width:69px; height:45px;}
.erroTxt{ color:#F00}
/*以下是自定义的样式*/
/***查看按钮样式
引用是html head + body .ui-btn.ui-btn-后面的名字,即是(mybtn-see)

*/
html head + body .ui-btn.ui-btn-mybtn-see{
	background:linear-gradient(#18c2fc,#02a9e2);
	border:none;
	color:#FFF;
	text-shadow:none;
	box-shadow:0 3px 0 #3e95cb;
	margin-top:0;
}

html head + body .ui-btn.ui-btn-mybtn-see:hover {
	background:linear-gradient(#18c2fc,#02a9e2);
	border:none;
	color:#FFF;
	text-shadow:none;
	box-shadow:0 3px 0 #3e95cb;
}

/***全方位一次性保洁按钮样式1
引用是html head + body .ui-btn.ui-btn-后面的名字,即是(mybtn-see)

*/
html head + body .ui-btn.ui-btn-mybtn1{
	background:linear-gradient(#f98a97,#ed828f);
	border:none;
	color:#FFF;
	text-shadow:none;

}

html head + body .ui-btn.ui-btn-mybtn1:hover {
	background:linear-gradient(#f98a97,#ed828f);
	border:none;
	color:#FFF;
	text-shadow:none;
	
}

/* 图片上传框样式 */
.input-file-box {
	float:left;
	margin-left:5px;
    position: relative;
    width: 80px;
    height: 79px;
    overflow: hidden;
}

.input-file-btn {
    position: absolute;
    z-index: 3;
    width: 80px;
    height: 79px;
    opacity: 0;
}

.input-file-bg {
    position: absolute;
    z-index: 1;
    background:url(../images/dianjishangchuan_1.png) no-repeat;
    width: 80px;
    height: 79px;
}

.input-file-pre {
    position: absolute;
    z-index: 2;
    width: 80px;
    height: 79px;
}


/***全方位一次性保洁按钮样式2
引用是html head + body .ui-btn.ui-btn-后面的名字,即是(mybtn-see)

*/
html head + body .ui-btn.ui-btn-mybtn2{
	background:linear-gradient(#3db1d7,#3baace);
	border:none;
	color:#FFF;
	text-shadow:none;

}

html head + body .ui-btn.ui-btn-mybtn2:hover {
	background:linear-gradient(#3db1d7,#3baace);
	border:none;
	color:#FFF;
	text-shadow:none;
	
}
/***全方位一次性保洁按钮样式3
引用是html head + body .ui-btn.ui-btn-后面的名字,即是(mybtn-see)

*/
html head + body .ui-btn.ui-btn-mybtn3{
	background:linear-gradient(#b18ccb,#a884c1);
	border:none;
	color:#FFF;
	text-shadow:none;

}

html head + body .ui-btn.ui-btn-mybtn3:hover {
	background:linear-gradient(#b18ccb,#a884c1);
	border:none;
	color:#FFF;
	text-shadow:none;
	
}


/***导航标题按钮样式
引用是html head + body .ui-btn.ui-btn-后面的名字,即是(mytile)

*/
html head + body .ui-btn.ui-btn-mytile{
	background:linear-gradient(#5d85ab,#4b6c8b);
	border:none;
	color:#86b2da;
	text-shadow:none;

}
html head + body .ui-btn.ui-btn-mytile:active{
	background:linear-gradient(#5d85ab,#4b6c8b);
	border:none;
	color:#86b2da;
	text-shadow:none;

}
html head + body .ui-btn.ui-btn-mytile:visited{
	background:linear-gradient(#5d85ab,#4b6c8b);
	border:none;
	color:#86b2da;
	text-shadow:none;

}

html head + body .ui-btn.ui-btn-mytile:hover {
	background:linear-gradient(#5d85ab,#4b6c8b);
	border:none;
	color:#86b2da;
	text-shadow:none;
	
}
/*导航标题按钮选中状态样式*/
html head + body .ui-btn.ui-btn-mytile-active:visited{
	background:#3d5b77;
	border:none;
	color:#86b2da;
	text-shadow:none;
	
}

	

