.main-content{
	width:90%;
	margin:18% auto;
	
}
.my-page{ background:none;}
#iphone{ padding-left:40px;}

.main-logo{width:80%;margin:0 auto;}
#rpwd{ float:left; position:absolute; display:inline; top:22px;}
.cyzm{height:30.375px; line-height:30.375px; background:#CCC; width:40%; margin:15px; text-align:center;}
html{ background:url(/m/images/login-bj.jpg); color:#FFF;}
.my-a{ background:url(/m/images/login-jt.png) no-repeat; height:25px; line-height:25px; display:block; padding-left:30px; width:65px;}
.my-a-2{ background:url(/m/images/login-jt-2.png) no-repeat; height:25px; line-height:25px; display:block; padding-left:30px; width:80px;margin:0 auto;}
.logo-inco{width:70%;margin:0 auto;}
#select-choice-1{ background:#CCC;}