.my-head{ background:#4b6c8b;}

.ui-icon-my-more{
	background-image: url(images/my-more.png);
}

.ui-icon-my-more2 .ui-icon {background:url(/m/images/my-more.png) no-repeat 0 50%; background-size: 18px 18px;
           border-radius: 0; /*图标形态，0=方形，不设置就是默认的圆形*/}
.myhead{ width:100%; background:#36F;}
.my-l-d{ float:left; background:#900; width:10%;}
.my-m-d{ float:left; background:#9FC; width:10%;}
.my-r-d{ float:left;background:#6CF; width:10%;}
.my-ul-style{ background:#309; font-size:14px; margin:0; padding:0;}
.my-ul-style li{ float:left; }
.m-p-size{background:#cadbec; overflow:hidden;}
.panel-top-s{ background:#21909a; height:3px; margin-bottom:10px;}
.panel-class{ width:100%; background:#FFF; border-radius:3px;olor:#7893b0;}
.panel-top{ height:33px; background:#5bbdc6; border-top-left-radius:3px; border-top-right-radius:3px; color:#FFF; padding-top:10px; padding-left:10px;}
.ul-title-inco{ background:url(../images/s-top-inco.jpg) no-repeat; padding-left:20px;}
.panel-top-s{ background:#21909a; height:3px;}
.panel-name{ position:relative; background:#f6fafe;border-radius:5px; margin-top:20px; height:40px; color:#7893b0;}
.panel-content-size{margin: 0 auto;width:96%;}
.panel-incon{ position:absolute; top:8px; left:10px;}
.panl-name-txt{ position:absolute; top:12px; left:50px; color:#7893b0; font-size:15px;}
.panel-list-content{ background:url(../images/linebj1.jpg) repeat-y;overflow:hidden; color:#939393; font-size:15px;}
.panel-ul{color:#7893b0; margin:0; padding:0;}

.s-inco-style{padding-left:20px; margin-top:10px; margin-bottom:10px;}
.s-time{ background:url(/m/images/s-time.jpg) no-repeat; }
.s-addr{background:url(/m/images/s-addr.jpg) no-repeat;}
.s-per{background:url(/m/images/s-per.jpg) no-repeat; padding-top:3px;}
.s-order{background:url(/m/images/s-order.jpg) no-repeat;padding-top:3px;}
.s-tel{ background:url(/m/images/s-tel.jpg) no-repeat; height:33px; padding-left:35px; padding-top:2px; color:#60b0be; font-size:18px; }
.panel-bottom{ border-top:#f3f2f1 solid 1px; margin-top:2px; padding-top:10px;}
.m-f-div{ height:18px; background:#cadbec;}
.order-s-d{ height:55px; padding-top:5px; padding-bottom:5px; background:#f0f5fa;}
.order-s-d-s{ width:50%;margin:0 auto; text-align:center;  height:55px; line-height:55px; padding-top:5px;}
.list-title{text-align:center; height:60px; background:#eff4f9; line-height:60px; color:#6f8ba9;margin-top:15px; margin-bottom:15px; position:relative;padding-left:5px; padding-right:5px;}
.service-type{ float:left; width:40%;text-align:center; }
.service-addr{ float:left; width:40%; text-align:center; display:block;}
.service-see{ float:left; width:20%; text-align:right;}
.service-list{ display:block; margin-top:18px;}
.service-details{margin-top:18px;color:#7893b0; display:none;}
.details-title{ height:50px;background:#f0f5fa;}
.details-close{ float:right;}
.order-userinfo{ clear:both; overflow:hidden; background:#FFF;}
.order-userinfo2{overflow:hidden; background:#f6fafe;}
.u-t-style{ padding-left:20px;}
.emp-txt{ color:#31b6fc;}
.ui-panel-inner{ padding:0; margin:0; }
.lefe-top{ text-align:center;padding-top:40px; padding-bottom:20px; background:#3d5b77; font-size:13px;} 
.lefe-bottom{ padding-top:30px;}
.lefe-bottom ul{margin:0; padding:0;}
.lefe-bottom ul li{ height:40px; margin-top:5px; margin-bottom:5px; padding-left:30px; line-height:40px;}
.lefe-bottom ul li a{ height:36px;line-height:36px;display:block;padding-left:40px;}

.message-btn a{ background:url(/m/images/messaeg-inco2.jpg) no-repeat;}
.my-ui-btn-active{ background:#31b6fc;}
.my-order-btn{ background:#f6fafe; padding:5px; border:#dde8f2 solid 1px; border-radius:3px; color:#6f8ba9; height:20px; line-height:20px; }







