/* CSS Document */
.top-edit-div{ background:#54789a; height:60px; line-height:60px;}
.info-title{ height:40px; line-height:40px; color:#617e9c;}
.info-content{ background:#FFF; overflow:hidden;}

.my-li{border-bottom:#cadbec solid 1px; overflow:hidden; padding-top:10px; padding-bottom:10px; }
.my-li2{border-bottom:#cadbec solid 1px;overflow:hidden; padding-top:10px; padding-bottom:5px;}
.my-li3{overflow:hidden; padding-top:10px;padding-top:5px;}
.my-li4{overflow:hidden; padding-top:10px;padding-top:5px;border-bottom:#cadbec solid 1px;}
.my-li5{overflow:hidden; padding-top:10px;padding-top:5px;height:42px; line-height:42px;}
.my-li6{border-bottom:#cadbec solid 1px;overflow:hidden; height:42px; line-height:42px;}
.info-content a{color:#617e9c;}
.info-content a:hover{color:#617e9c;}
.ul-left{ float:left;}
.ul-left3{ float:left;margin-right:10px;}
.ul-left2{ float:left;height:80px; line-height:80px;margin-right:10px;}
.ul-right{ float:right; position:relative;}
.li-inco{ background:url(/m/images/ul-jt.png) no-repeat; width:11px; height:42px; margin-left:8px;}
.li-inco2{ background:url(/m/images/ul-jt2.png) no-repeat; width:20px; height:42px; margin-left:8px;}
.ul-edit li{ float:left; margin-left:10px;}
.li-del a{height:20px;background:url(/m/images/del-inco.png) no-repeat; padding-left:25px;}
.hrefClass{ color:#039;}
.li-edit a{height:20px; background:url(/m/images/edit-inco.png) no-repeat; padding-left:25px;}
.map-div{ width:120px; height:120px; border:#CCC solid 1px; margin-top:10px; margin-bottom:10px;}
.serviceTabsItem span{ margin-top:5px; margin-bottom:5px; background:#31b6fb
; border-radius:5px; display:block; padding:10px; color:#FFF;}