<?xml version="1.0"?>
 
  <appSettings>
    <!--cdn 网址，不末尾不要加斜杠（/）-->
    <add key="cdnroot" value="http://localhost:8464/"/>
    <add key="business_image_root" value="/media/business/original/"/>
    <add key="media_server" value="http://192.168.1.140:8033/"/>
    <add key="MediaUploadUrl" value="http://192.168.1.140:8037/uploadfile.ashx"/>
    <add key="MediaGetUrl" value="http://192.168.1.140:8037/getfile.ashx?filename="/>
    <add key="SecurityKey" value="1qaz2wsx3edc4rfv"/>
  </appSettings>
 
