<?xml version="1.0"?>
 
  <appSettings>
    <!--cdn 网址，不末尾不要加斜杠（/）-->
    <add key="cdnroot" value="http://ydban.cn:886/"/>

    <add key="PayServer" value="http://ydban.cn:8016/"/>
    <add key="MediaUploadUrl" value="http://ydban.cn:8038/uploadfile.ashx"/>
    <add key="MediaGetUrl" value="http://ydban.cn:8038/getfile.ashx?filename="/>
    <add key="SecurityKey" value="1qaz2wsx3edc4rfv"/>
  </appSettings>
 
