<?xml version="1.0"?>
 
  <appSettings>
    <!--cdn 网址，不末尾不要加斜杠（/）-->
    <add key="cdnroot" value="http://business.ydban.cn:886/"/>

    <add key="PayServer" value="http://business.ydban.cn:8168/"/>
    <add key="MediaUploadUrl" value="http://business.ydban.cn:8038/uploadfile.ashx"/>
    <add key="MediaGetUrl" value="http://business.ydban.cn:8038/getfile.ashx?filename="/>
    <add key="SecurityKey" value="1qaz2wsx3edc4rfv"/>
    
    <!--openfire restapi  获取在线会话 url地址-->
    <add key="OpenfireRestApiSessionListUrl" value="http://business.ydban.cn:9090/plugins/restapi/v1/sessions/"/>
    <!--openfire restapi  用户验证key-->
    <add key="OpenfireRestApiAuthKey" value="an4P0ja6v3rykV4H"/>
    <!--订单过期时间 分钟-->
    <add key="OrderTimeout" value="120"/>
    
    <!-- 百度地图Geocoding API服务地址 -->
    <add key="BaiduGeocodingAPI" value ="http://api.map.baidu.com/geocoder/v2/?ak="/>
    <add key="BaiduTranAPI" value ="http://api.map.baidu.com/geoconv/v1/?ak="/>
    <add key ="BaiduGeocodingAK" value ="SDHO8UtRNvOl4Cc29KA74UxF"/>
    <add key ="BaiduTranAK" value ="McW4pZayH2PZyWqczoqj2xaV"/>

    <add key ="LocalMediaSaveDir" value ="\localmedia\"/>

  </appSettings>
 
