<?xml version="1.0"?>

<connectionStrings>
  <!--
  <add name="DianzhuConnectionString"
         connectionString="data source=192.168.1.140;uid=root;pwd=root;database=dianzhu_dev"
        providerName="MySql.Data.MySqlClient" />
  <add name="DianzhuConnectionString"
           connectionString="data source=localhost;uid=root;pwd=root;database=dianzhu_dev"
          providerName="MySql.Data.MySqlClient" />
          -->
  <add name="DianzhuConnectionString"
       connectionString="data source=192.168.1.140;uid=root;pwd=root;database=dianzhu_dev"
      providerName="MySql.Data.MySqlClient" />        

</connectionStrings>
