<?xml version="1.0"?>

<appSettings>
  <add key="local.ImServer" value="192.168.3.172"/>
  <add key="local.MediaUploadUrl" value="http://192.168.3.172:8038/mediaupload.ashx"/>
  <add key="local.CityId" value="2"/>
  <add key="local.SecurityKey" value="1qaz2wsx3edc4rfv"/>

  <add key="server.ImServer" value="192.168.3.172"/>
  <add key="server.MediaUploadUrl" value="http://192.168.3.172:8038/mediaupload.ashx"/>
  <add key="server.CityId" value="2"/>
  <add key="server.SecurityKey" value="1qaz2wsx3edc4rfv"/>
</appSettings>
