<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="MongoDB" connectionString="dWU7hS29EeIiGPPRoa/Y7zFbreTUdMma" />
    <!--localhost:dWU7hS29EeIiGPPRoa/Y7zFbreTUdMma  
  role_localhost:dWU7hS29EeLWEoiMte710mK3sLnzLfg+wHcLqHPix9dItajSyGp8GMtPNq9GRw2erf8FyrlZiY8=
  112.74.198.215:dWU7hS29EeIGFB6vQBGon9Wk9TbmRxH7ZPFMpsy2Wyg= role_112.74.198.215:dWU7hS29EeLWEoiMte710ii2QiVpJOijzRJVmHmKSI5CXKjAF9vIGBbCsUWw3A6F7oma9rZAU5hiFx91luodVw==
  -->
  </connectionStrings>
</configuration>
