<?xml version="1.0" encoding="utf-8"?>
<!--

<connectionStrings>
  <add name="DianzhuConnectionString" connectionString="data source=192.168.1.172;uid=root;pwd=root;database=dianzhu_publish_test"/>
</connectionStrings>
<connectionStrings>
  <add name="DianzhuConnectionString" connectionString="data source=localhost;uid=root;pwd=root;database=dianzhu_publish_119_test"/>
</connectionStrings>
<connectionStrings>
  <add name="DianzhuConnectionString" connectionString="data source=119.29.39.211;uid=ydb;pwd=jsyk2016;database=dianzhu"/>
</connectionStrings>

订单 的
***** PHSuit.test.crypttest
172:KkZl+RcgPXnCbMShFyd0hjMlkcFdWYFnxqk3+yt3M5ObS3hkRw1MZxTtAp/7JrAMrJUyeflfTwPIMZ4qSnstUwsg0lgYhErFrf8FyrlZiY8=
119:KkZl+RcgPXnIPLQlUeSJKABKfrpfL3/2fOtZVw752wBC7zaxFZ9aUeA1JH0QHpG4MDmaWGwTk02hWsxUGWJQ2g==
localhost:KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butgj+ViCN75WUU=
150:KkZl+RcgPXnCbMShFyd0hsQ/JMbrkew51ycjoe5eWuxC7zaxFZ9aUeA1JH0QHpG4MDmaWGwTk00JEbnTR3rCnStpn1cB1iXV
 115:KkZl+RcgPXkvVOsnXtkBrdPZAXX4xrC+VrOmofWk2prjlksj5heCFPsLjITLLsuz0JGlzx3Bicv8TpH4V0sPWYEVodJlI89K
-->
<connectionStrings>
  <add name="DianzhuConnectionString1"
       connectionString="KkZl+RcgPXnCbMShFyd0hjMlkcFdWYFnxqk3+yt3M5ObS3hkRw1MZxTtAp/7JrAMrJUyeflfTwPIMZ4qSnstUwsg0lgYhErFrf8FyrlZiY8="/>
  <add name="DianzhuConnectionString"
       connectionString="KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butgj+ViCN75WUU="/>
</connectionStrings>


