<?xml version="1.0" encoding="utf-8"?>
<!--
***** PHSuit.test.crypttest
172:KkZl+RcgPXnCbMShFyd0hjMlkcFdWYFnxqk3+yt3M5ObS3hkRw1MZxTtAp/7JrAMrJUyeflfTwPIMZ4qSnstUwsg0lgYhErFrf8FyrlZiY8=
localhost:KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butgj+ViCN75WUU=
150:KkZl+RcgPXnCbMShFyd0hsQ/JMbrkew51ycjoe5eWuxC7zaxFZ9aUeA1JH0QHpG4MDmaWGwTk00JEbnTR3rCnStpn1cB1iXV
Aliyun_Official:KkZl+RcgPXn2RO86ZIcIzblKdDGe8MGpGM1+JlyERi11g2oKKg7uTvwPI09YaLIHbzsRUTYjs2Xcz9S7gMmGTyCSmz+Qm6O6DOpuqlRisE9wPsBa2DmFPQ==
Aliyun_Test:KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyCSmz+Qm6O6DOpuqlRisE9ON/KzLK3MRM3uA6jfmrz9
-->
<connectionStrings>
  <add name="DianzhuConnectionString2"
       connectionString="KkZl+RcgPXnCbMShFyd0hjMlkcFdWYFnxqk3+yt3M5ObS3hkRw1MZxTtAp/7JrAMrJUyeflfTwPIMZ4qSnstUwsg0lgYhErFrf8FyrlZiY8="/>
  <add name="DianzhuConnectionString3"
       connectionString="KkZl+RcgPXkp2s3KP6KcmyHVc+E2IvO8eFLCQv9tUfh1Wo9eZIuad8/5sbN1butgj+ViCN75WUU="/>
  <add name="DianzhuConnectionString1"
       connectionString="KkZl+RcgPXn2RO86ZIcIzblKdDGe8MGpGM1+JlyERi11g2oKKg7uTvwPI09YaLIHbzsRUTYjs2Xcz9S7gMmGTyCSmz+Qm6O6DOpuqlRisE9wPsBa2DmFPQ=="/>
  <add name="DianzhuConnectionString"
       connectionString="KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyCSmz+Qm6O6DOpuqlRisE9ON/KzLK3MRM3uA6jfmrz9"/>
</connectionStrings>



