<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  --> 
<configuration>
  <configSections>
    <section name="MySectionCollection" type="Dianzhu.Web.RestfulApi.MySectionCollection,Dianzhu.Web.RestfulApi" />
    <section name="MySectionCollection1" type="Dianzhu.Web.RestfulApi.MySectionCollection1,Dianzhu.Web.RestfulApi" />
  </configSections>
  <connectionStrings>
    <add name="DianzhuConnectionString"  connectionString="dev.ydban.cn_dianzhu_publish___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldvvnE7v+h5tfBTVrX68XHLFRjtD5BOpJk5JDWq+aoMpQNLRKj4xmcgKmk8BJhFFSLuOwv5586YB5ZWBtFKZPQzi"/>
    <add name="ydb_finance"  connectionString="dev.ydban.cn_ydb_finance___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldtnq0wdR0icTqsuimOgnq+Y+wuMhMsuy7PH8sGuRwDQ1FHGe6bn30aUYgba9NSZzf1rr/SQLOLx8KocAcaJeAkW"/>
    <add name="ydb_instantmessage"  connectionString="dev.ydban.cn_ydb_instantmessage___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18lduRu2fYH8W1uC2cH+gXtwmbqafZWfMCXdpNTO92pGPy0jHf6kxm6b1VY1fJwF9XODWQxTzim95jZMi+P1lMePnFWUjI2SE2j5U="/>
    <add name="ydb_businessresource"  connectionString="dev.ydban.cn_ydb_businessresource___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldvrRFB7T4zZntHcE3YVRdSYu2e9QUPEYirb529vLQNS3Vh6fUSI7CI/UuoOGPRsf4dIJpTzYE/9chnHb6U6qCjxTclBFll4jzY="/>
    <add name="ydb_membership"  connectionString="dev.ydban.cn_ydb_membership___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldsMkqoySIMv/ZBg2cU8y1tvGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyO3NQvJ8v5l"/>
    <add name="ydb_common"  connectionString="dev.ydban.cn_ydb_common___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18lduTTdpxLlR0m2Z8fKBlrif5TUzvdqRj8tIx3+pMZum9VWNXycBfVzg1kMU84pveY2TIvj9ZTHj5xVlIyNkhNo+V"/>
    <add name="ydb_order"  connectionString="dev.ydban.cn_ydb_order___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18lduzmWR6rpm6gAZmsCdGsLL5Q8IQSInoG4da0QIb4InsKjN7pbOwN+rFk9thmUAbtEAiDQFqh3LdSXD12jpHLdwG"/>
    <add name="ydb_paygateway"  connectionString="dev.ydban.cn_ydb_paygateway___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldsDIQQ5b8ye38dMkj1UMFEWGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyO3NQvJ8v5l"/>
    <add name="ydb_push"  connectionString="dev.ydban.cn_ydb_push___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18lduG/jvyDUlD3ObIDPe/SwdUKpOR+AwlXnfmBmqpeVlwb85O9vcXMmb6kT/QEEEzLbLEfMDT5HR+Ag=="/>
    <add name="ydb_apiclient"  connectionString="dev.ydban.cn_ydb_apiclient___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldtXJkR+whtd9xVpRCF8rGqxtWTEaDSNuS/dbB+bO8/u9hW8Qpck+4Kve6YwiCCugPKAP3KEe03xOtstExCE3loS"/>
    <add name="ydb_notice"  connectionString="dev.ydban.cn_ydb_notice___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18lduEJvsG2bWO3Yr6WMgy6h6yTUzvdqRj8tIx3+pMZum9VWNXycBfVzg1kMU84pveY2TIvj9ZTHj5xVlIyNkhNo+V"/>
    <add name="openfire"  connectionString="dev.ydban.cn_openfire3_10_3___KkZl+RcgPXkcZCDm8QUvtMUX6uA/wkLZcU14xQ18ldtE+k2D35pkFQ3WcqfoCowMGM1+JlyERi11g2oKKg7uTpuSkb9OVV8rkuHcieUk1+zv2f/E8lKwhyO3NQvJ8v5l"/>
    <add name="MongoDB" connectionString="dWU7hS29EeIiGPPRoa/Y7zFbreTUdMma" />
  <!--localhost:dWU7hS29EeIiGPPRoa/Y7zFbreTUdMma  
  role_localhost:dWU7hS29EeLWEoiMte710mK3sLnzLfg+wHcLqHPix9dItajSyGp8GMtPNq9GRw2erf8FyrlZiY8=
  112.74.198.215:dWU7hS29EeIGFB6vQBGon9Wk9TbmRxH7ZPFMpsy2Wyg=
  role_112.74.198.215:dWU7hS29EeIiGPPRoa/Y7zFbreTUdMma
  -->
  <!--fgwwSB&9oaJxMzYU-->
  </connectionStrings>
 

  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />


    <add key="ServerNum" value="4" />
    <add key="PayServerNum" value="4" />
    <add key="UpdateSchema" value="0" />

    <add key="UseHttps" value="false" />


    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="JS1adBF8cbaf594d1ab2f1A68755e70440" value="115.159.4.88" />
    <!--115.159.4.88-->
    <!--192.168.1.63-->

    <add key="NoAuthentication" value="false" />
    <add key="UseSwagger" value="true" />

    <!--<add key="MonitorEmails" value="issumao@126.com,550700860@qq.com,502647115@qq.com"/>-->
    <add key="MonitorEmails" value="" />

    <!--******************权限配置****************************-->
    <add key="get/snapshots/{serviceID}" value="[business]" />
    <add key="get/citys" value="" />
    <add key="get/citys/{code}" value="" />
    <add key="post/complaints" value="[customer]" />
    <add key="get/complaints" value="" />
    <add key="get/complaints/count" value="" />
    <add key="get/complaints/{complaintID}" value="" />
    <add key="get/ads" value="" />
    <add key="post/apps/{appUUID}" value="" />
    <add key="delete/apps/{appUUID}" value="" />
    <add key="patch/apps/{appUUID}" value="" />
    <add key="get/reminds" value="[customer]" />
    <add key="get/reminds/count" value="[customer]" />
    <add key="get/reminds/{remindID}" value="[customer]" />
    <add key="delete/reminds/{remindID}" value="[customer]" />
    <!--<add key="post/assigns" value="[business]" />
    <add key="get/assigns" value="[business]" />
    <add key="get/assigns/count" value="[business]" />
    <add key="delete/assigns" value="[business]" />-->
    <add key="post/stores/{storeID}/services/{serviceID}/workTimes" value="[business]" />
    <add key="get/stores/{storeID}/services/{serviceID}/workTimes" value="" />
    <add key="get/stores/{storeID}/services/{serviceID}/workTimes/count" value="" />
    <add key="get/stores/{storeID}/services/{serviceID}/workTimes/{workTimeID}" value="[business]" />
    <add key="patch/stores/{storeID}/services/{serviceID}/workTimes/{workTimeID}" value="[business]" />
    <add key="delete/stores/{storeID}/services/{serviceID}/workTimes/{workTimeID}" value="[business]" />
    <add key="get/allServiceTypes" value="" />
    <add key="post/stores/{storeID}/services" value="[business]" />
    <add key="get/stores/{storeID}/services" value="" />
    <add key="get/stores/{storeID}/services/count" value="" />
    <add key="get/stores/{storeID}/services/{serviceID}" value="" />
    <add key="patch/stores/{storeID}/services/{serviceID}" value="[business]" />
    <add key="delete/stores/{storeID}/services/{serviceID}" value="[business]" />
    <add key="post/stores/{storeID}/staffs" value="[business]" />
    <add key="get/stores/{storeID}/staffs" value="[business][staff]" />
    <add key="get/stores/{storeID}/staffs/count" value="[business][staff]" />
    <add key="get/stores/{storeID}/staffs/{staffID}" value="" />
    <add key="patch/stores/{storeID}/staffs/{staffID}" value="[business][staff]" />
    <add key="delete/stores/{storeID}/staffs/{staffID}" value="[business]" />
    <add key="get/allStores" value="" />
    <add key="get/allStores/count" value="" />
    <add key="post/stores" value="[business]" />
    <add key="get/stores" value="[business]" />
    <add key="get/stores/count" value="[business]" />
    <add key="get/stores/{storeID}" value="" />
    <add key="patch/stores/{storeID}" value="[business]" />
    <add key="delete/stores/{storeID}" value="[business]" />
    <add key="get/orders/{orderID}/pays" value="[customer]" />
    <add key="get/orders/{orderID}/pays/count" value="[customer]" />
    <add key="get/orders/{orderID}/pays/{payID}" value="[customer]" />
    <add key="patch/orders/{orderID}/pays/{payID}" value="[customer]" />
    <add key="get/orders/{orderID}/pays/{payID}/pay3rdString" value="[customer]" />
    <add key="get/orders/{orderID}/chats" value="" />
    <add key="get/orders/{orderID}/chats/count" value="" />
    <add key="get/allChats" value="" />
    <add key="get/allChats/count" value="" />
    <add key="get/allUnreadChats" value="" />
    <add key="get/allUnreadChats/count" value="" />
    <add key="get/orders" value="[customer][business]" />
    <add key="get/orders/count" value="[customer][business]" />
    <add key="get/orders/verify" value="[customer][business]" />
    <add key="get/orderHypermedias" value="[customer][business]" />
    <add key="get/orders/{orderID}" value="" />
    <add key="get/orders/{orderID}/allStatusList" value="" />
    <add key="patch/orders/{orderID}" value="[customerservice][business][staff]" />
    <add key="patch/orders/{orderID}/negotiateAmount" value="[business][staff]" />
    <add key="get/orders/{orderID}/pushServices" value="[customerservice][customer]" />
    <add key="put/orders/{orderID}/confirmService" value="[customer]" />
    <add key="put/orders/{orderID}/appraise" value="[customer]" />
    <add key="get/orders/{orderID}/linkMan" value="[customer]" />
    <add key="patch/orders/{orderID}/currentStatus" value="[customer][business][staff]" />
    <add key="get/orders/{orderID}/refunds" value="" />
    <add key="post/orders/{orderID}/refunds" value="[customer][business][staff]" />
    <add key="get/orders/{orderID}/forman" value="" />
    <add key="patch/orders/{orderID}/forman" value="[business]" />
    <add key="post/orders/{orderID}/forman" value="[business]" />
    <add key="delete/orders/{orderID}/forman/{staffID}" value="[business]" />
    <add key="post/customers" value="" />
    <add key="get/customers" value="" />
    <add key="post/customer3rds" value="" />
    <add key="get/customers/count" value="" />
    <add key="get/customers/{customerID}" value="" />
    <add key="patch/customers/{customerID}" value="[customer]" />
    <add key="patch/customers/{customerID}/currentGeolocation" value="" />
    <add key="post/merchants" value="" />
    <add key="get/merchants" value="" />
    <add key="get/merchants/count" value="" />
    <add key="get/merchants/{merchantID}" value="" />
    <add key="patch/merchants/{merchantID}" value="[business]" />
    <add key="post/customerServices" value="" />
    <add key="get/customerServices" value="[customer]" />
    <add key="post/storages/images" value="" />
    <add key="post/storages/avatarImages" value="" />
    <add key="post/storages/audios" value="" />
    <add key="get/bills" value="" />
    <add key="get/billStatement" value="" />
    <add key="get/monthBillStatement" value="" />
    <!--******************权限配置****************************-->

  </appSettings>


  <!--节点集合，一般用于全局参数配置-->
  <MySectionCollection>
    <add key="UI3f4185e97b3E4a4496594eA3b904d60d" value="NoJBn3npJIvre2fC2SQL5aQGNB/3l73XXSqNZYdY6HU=" />
    <add key="MI354d5aaa55Ff42fba7716C4e70e015f2" value="h7lVzFNKU5Nlp7iCSVIyfs2bEgCzA2aFnQsJwia8utE=" />
    <add key="CI5baFa6180f5d4b9D85026073884c3566" value="Ce6QgbBcwFxbB9yCAI5BEJ95L7RJi8AeQ9REYxvp79Q=" />
    <add key="UA811Cd5343a1a41e4beB35227868541f8" value="WDcajjuVXA6TToFfm1MWhFFgn6bsXTt8VNsGLjcqGMg=" />
    <add key="MAA6096436548346B0b70ffb58A9b0426d" value="3xhBie885/2f6dWg4O5rh7bUpcsgldeQxnwsx6f9638=" />
    <add key="CA660838f88147463CAF3a52bae6c30cbd" value="suSjG+pPCu0gwXOqamNdp0zE3sY29vcHJHe1S429hNU=" />
    <add key="JS1adBF8cbaf594d1ab2f1A68755e70440" value="FJXTdZVLhmFLHO5M3Xweo5kHRmLH3qFdRzLyGFZLeBc=" />
    <add key="ABc907a34381Cd436eBfed1F90ac8f823b" value="2bdKTgh9SiNlGnSajt4E6c4w1ZoZJfb9ATKrzCZ1a3A=" />
  </MySectionCollection>
  <MySectionCollection1>
    <add key="UI3f4185e97b3E4a4496594eA3b904d60d" value="IOS_Customer" />
    <add key="MI354d5aaa55Ff42fba7716C4e70e015f2" value="IOS_Merchant" />
    <add key="CI5baFa6180f5d4b9D85026073884c3566" value="IOS_CustomerService" />
    <add key="UA811Cd5343a1a41e4beB35227868541f8" value="Android_Customer" />
    <add key="MAA6096436548346B0b70ffb58A9b0426d" value="Android_Merchant" />
    <add key="CA660838f88147463CAF3a52bae6c30cbd" value="Android_CustomerService" />
    <add key="JS1adBF8cbaf594d1ab2f1A68755e70440" value="Web" />
    <add key="ABc907a34381Cd436eBfed1F90ac8f823b" value="AdminBusiness" />
  </MySectionCollection1>
  <!--<appSettings configSource="config\appSettings.config" />-->
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <!--<configuration>
    <system.web>
      <httpRuntime maxRequestLength="10240" />
      --><!-- 修改为10M --><!--
    </system.web>
    <configuration>-->
  <system.web>

    <authentication mode="Forms">
      <forms loginUrl="~/Home/Login" timeout="2880" />
    </authentication>


    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpRuntime maxRequestLength="10240" /><!-- 修改为10M ,ASP.NET默认4M-->
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Reflection" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>